<div class="group-attributes">
	<div dojoType="dijit.form.Form" id="group_attributes_form" class="dojo-form">
		<div class="group-attributes-left-align">
			<input dojoType="dijit.form.TextBox" type="hidden" id="group_attributes_rowid" name="rowid"/>

			<div class="form-item">
				<label id="group_attributes_ident_label" for="ident" i18n="Identifier">Identifier</label>
				<input dojoType="dijit.form.TextBox" class="group-attributes-input" id="group_attributes_ident" name="ident"/>
			</div>

			<div class="form-item">
				<label id="group_attributes_description_label" for="description" i18n="Description">Description</label>
				<input dojoType="dijit.form.Textarea" class="group-attributes-input" id="group_attributes_description" name="description"/>
			</div>

			<div class="form-item">
				<label id="group_attributes_lang_label" for="lang" i18n="Language">Language</label>
				<div dojoType="mioga.data.ItemFileReadStore" jsId="langStore" url="GetLanguages.json" nodename="language" identifier="ident"></div>
				<input dojoType="dijit.form.FilteringSelect" class="group-attributes-input" id="group_attributes_lang" name="lang" store="langStore" searchAttr="label"/>
			</div>

			<div class="form-item">
				<label id="group_attributes_anim_id_label" for="anim_id" i18n="Animator">Animator</label>
				<div dojoType="mioga.data.ItemFileReadStore" jsId="animatorStore" url="GetUsers.json" nodename="user" identifier="rowid"></div>
				<input dojoType="dijit.form.FilteringSelect" class="group-attributes-input" id="group_attributes_animator_id" name="anim_id" store="animatorStore" searchAttr="label" />
			</div>

			<div id="group-skel-chooser" class="form-item">
				<label id="group_attributes_skeleton_label" for="skeleton" i18n="Skeleton">Skeleton</label>
				<div dojoType="mioga.data.ItemFileReadStore" jsId="skelStore" url="GetSkeletons.json?type=group" nodename="skeleton" identifier="file"></div>
				<input dojoType="dijit.form.FilteringSelect" class="group-attributes-input" id="group_attributes_skeleton" name="skeleton" store="skelStore" searchAttr="name" onChange="UpdateGroupSkeletonDetails ();"/>
			</div>

			<div id="group-default-app-chooser" class="form-item">
				<label id="group_attributes_default_app_label" for="default_app" i18n="default_application">default_application</label>
				<input dojoType="dijit.form.FilteringSelect" class="group-attributes-input" id="group_attributes_default_app" name="default_app" searchAttr="label"/>
			</div>

			<div class="form-item">
				<label id="public_part_label" for="public_part" i18n="public_part">Public part</label>
				<input dojoType="dijit.form.CheckBox" class="group-attributes-input" id="group_attributes_public_part" name="public_part"/>
			</div>

			<div class="form-item">
				<label id="history_label" for="history" i18n="history">Files history</label>
				<input dojoType="dijit.form.CheckBox" class="group-attributes-input" id="group_attributes_history" name="history"/>
			</div>
		</div>
	</div>
</div>
