<span dojoAttachPoint="editNode" waiRole="presentation" style="position: absolute; visibility:hidden" class="dijitReset dijitInline"
        dojoAttachEvent="onkeypress: _onKeyPress"
        ><span dojoAttachPoint="editorPlaceholder"></span
        ><div class="mioga_inlineEditBox_savecancel" dojoAttachPoint="buttonContainer"
                ><div class='icon_save' dojoAttachPoint="saveButton" dojoAttachEvent="onclick:save" label="${buttonSave}"></div
                ><div class='icon_cancel' dojoAttachPoint="cancelButton" dojoAttachEvent="onclick:cancel" label="${buttonCancel}"></div
        ></div
></span>