<div class="tab-item" tabid="${id}" legend="${legend}">
	<div width="auto" class="center-aligned-tab-content">
		<div dojoAttachPoint="containerNode" class="left-aligned-tab-content">
			<h1 class="tabtitle">${legend}</h1>
		</div>
	</div>
</div>
