<div class="user-choice" dojoType="dijit.BorderContainer">
	<div dojoType="dijit.layout.ContentPane" region="top" class="uc-fields" splitter="false">
		<table>
			<tr>
				<th>Lastname</th>
				<th>Firstname</th>
				<th>Identifier</th>
				<th>Email</th>
			</tr>
			<tr>
				<td><input dojoType="dijit.form.TextBox" dojoAttachPoint="lastname" value="" /></td>
				<td><input dojoType="dijit.form.TextBox" dojoAttachPoint="firstname" value="" /></td>
				<td><input dojoType="dijit.form.TextBox" dojoAttachPoint="ident" value="" /></td>
				<td><input dojoType="dijit.form.TextBox" dojoAttachPoint="email" value="" /></td>
			</tr>
		</table>

	</div>
	<div dojoType="dijit.layout.ContentPane" region="center" class="uc-list" splitter="true">
		<div class="display-list" dojoAttachPoint="list" >
			<div class="list-content" dojoAttachPoint="list_cont" >
			</div>
		</div>
	</div>
	<div dojoType="dijit.layout.ContentPane" region="bottom" class="uc-select" >
		<div class="display-list" dojoAttachPoint="select" >
			<div class="list-content" dojoAttachPoint="select_cont" >
			</div>
		</div>
	</div>
</div>
