
.mioga .dijitAccordionContainer {
	border-color: #b1badf;
	background-color: #fff;
}
.mioga .dijitAccordionTitle {
	background:#fafafa url("../images/titleBar.png") repeat-x top left;
	border-top: 1px solid #b9bbdd;
	padding: 5px 4px 6px 8px;
	font-size: 0.9em;
	font-weight: bold;
	color: #373941;
}
.mioga .dijitAccordionTitleSelected  {
	background: #f9f9f9 url("../images/accordionItemActive.png") top repeat-x;
	font-weight: bold;
	border-top: 1px solid #b9bbdd;
	border-bottom: 1px solid #b9bbdd;
	padding: 5px 4px 5px 8px;
	color: #243C5F;
}
.mioga .dijitAccordionArrow {
	background:url("../images/spriteRoundedIconsSmallBl.gif") no-repeat -30px top;
	width:15px;
	height:15px;
	margin-top:-1px;
}
.mioga .dijitAccordionTitleSelected .dijitAccordionArrow {
	background:url("../images/spriteRoundedIconsSmallBl.gif") no-repeat -15px top;
	margin-top:-1px;
}
.mioga .dijitAccordionText {
	margin-left: 4px;
	margin-right: 4px;
}
