
.mioga .dijitBorderContainer {
	background-color: #e1ebfb;
	padding: 5px;
}
.mioga .dijitSplitContainer-child,
.mioga .dijitBorderContainer-child {
	
	border: 1px #b1badf solid;
}
.mioga .dijitBorderContainer-dijitTabContainerTop,
.mioga .dijitBorderContainer-dijitTabContainerBottom,
.mioga .dijitBorderContainer-dijitTabContainerLeft,
.mioga .dijitBorderContainer-dijitTabContainerRight {
	
	 border: none;
}
.mioga .dijitBorderContainer-dijitBorderContainer {
	
	border: none;
	padding: 0px;
}
.mioga .dijitSplitterH,
.mioga .dijitGutterH {
	background: #E1EBFB;
	border:0;
	border-left:0px solid #d3d3d3;
	border-right:0px solid #d3d3d3;
	height:5px;
}
.mioga .dijitSplitterH .dijitSplitterThumb {
	background:#B0B0B0 none;
	height:1px;
	top:2px;
	width:19px;
}
.mioga .dijitSplitterV,
.mioga .dijitGutterV {
	background: #E1EBFB;
	border:0;
	border-top:0px solid #d3d3d3;
	border-bottom:0px solid #d3d3d3;
	width:5px;
}
.mioga .dijitSplitterV .dijitSplitterThumb {
	background:#B0B0B0 none;
	height:19px;
	left:2px;
	width:1px;
}
.mioga .dijitSplitterActive {
	font-size: 1px;
	background-image: none;
	background-color: #aaa;
	-moz-opacity: 0.6;
	opacity: 0.6;
	filter: Alpha(Opacity=60);
	margin: 0;
}
