
.mioga .dijitContentPane {
    padding: 0px;
}
.mioga .dijitTabContainerTop-dijitContentPane,
.mioga .dijitTabContainerLeft-dijitContentPane,
.mioga .dijitTabContainerBottom-dijitContentPane,
.mioga .dijitTabContainerRight-dijitContentPane,
.mioga .dijitAccordionContainer-dijitContentPane {
    background-color: #fff;
    padding: 5px;
}
.mioga .dijitSplitContainer-dijitContentPane,
.mioga .dijitBorderContainer-dijitContentPane {
    background-color: #fff;		
    padding: 5px;
}
