.dijitRtl .mioga .dijitTab {
	margin-right:0;
	margin-left:2px;		
}
.dijitRtl .mioga .dijitTabContainer .tabStripButton {
	margin-left: 0;
}
.dijitRtl .mioga .dijitTabContainerTopStrip,
.dijitRtl .mioga .dijitTabContainerBottomStrip,
.dijitRtl .mioga .dijitTabContainerTop-tabs,
.dijitRtl .mioga .dijitTabContainerBottom-tabs {
	padding-left: 0;
	padding-right: 3px;
}
.dijitRtl .mioga .dijitTabInnerDiv {
	padding-left: 3px;
	padding-right: 4px;
}
.dijitRtl .mioga .dijitTabPaneWrapper {
	#zoom: 1;
}
.dj_ie-rtl .mioga .dijitTabContainerLeft-tabs {
	margin-left: 0px !important;
}
.dj_ie-rtl .mioga .dijitTabContainerRight-tabs {
	margin-right: 0px !important;
}
.dijitRtl .mioga .dijitTabContainerLeft-tabs .dijitTab,
.dijitRtl .mioga .dijitTabContainerRight-tabs .dijitTab {
	margin-left:0px;
}
.dj_ie-rtl .mioga .dijitTab .dijitTabInnerDiv{
	width : 1%;
}
