
.mioga .dijitToggleButton .dijitCheckBox,
.mioga .dijitToggleButton .dijitCheckBoxIcon {
	background-image: url('../images/spriteCheckbox.gif');
}
.mioga .dijitCheckBox,
.mioga .dijitCheckBoxIcon {		
	background-image: url('../images/spriteCheckbox.gif'); 
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
}
.mioga .dijitCheckBox,
.mioga .dijitToggleButton .dijitCheckBoxIcon {
	
	background-position: -16px;
}
.mioga .dijitCheckBoxChecked,
.mioga .dijitToggleButtonChecked .dijitCheckBoxIcon {
	
	background-position: 0px;
}
.mioga .dijitCheckBoxDisabled {
	
	background-position: -48px;
}
.mioga .dijitCheckBoxCheckedDisabled {
	
	background-position: -32px;
}
.mioga .dijitCheckBoxHover {
	
	background-position: -80px;
}
.mioga .dijitCheckBoxCheckedHover {
	
	background-position: -64px;
}
