
.mioga .dijitToggleButton .dijitRadio,
.mioga .dijitToggleButton .dijitRadioIcon {
	background-image: url('../images/spriteRadio.gif');
}
.mioga .dijitRadio,
.mioga .dijitRadioIcon	{		
	background-image: url('../images/spriteRadio.gif'); 
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
}
.mioga .dijitRadio,
.mioga .dijitToggleButton .dijitRadioIcon {
	
	background-position: -16px;
}
.mioga .dijitRadioChecked,
.mioga .dijitToggleButtonChecked .dijitRadioIcon {
	
	background-position: 0px;
}
.mioga .dijitRadioDisabled {
	
	background-position: -48px;
}
.mioga .dijitRadioCheckedDisabled {
	
	background-position: -32px;
}
.mioga .dijitRadioHover {
	
	background-position: -80px;
}
.mioga .dijitRadioCheckedHover {
	
	background-position: -64px;
}
