.mioga .dijitSelect .dijitButtonNode {
	padding: 0px;
}
.mioga .dijitSelect .dijitButtonContents {
	padding-top: 1px;
    background:#fff url("../images/validationInputBg.png") repeat-x top left;
    #background:#fff url('../images/validationInputBg.gif') repeat-x top left;
}
.mioga .dijitSelectHover .dijitButtonContents,
.mioga .dijitSelectActive .dijitButtonContents,
.mioga .dijitSelectOpened .dijitButtonContents,
.mioga .dijitSelectDisabled .dijitButtonContents,
.mioga .dijitSelectReadOnly .dijitButtonContents{
	background: transparent none;
}
.dj_ie .mioga .dijitSelect .dijitButtonContents {
	padding-top: 0px;
}
.mioga .dijitSelect .dijitArrowButton {
	padding: 0px 2px;
}
.mioga .dijitSelectDisabled .dijitButtonNode {
    border-color: #b9bbdd #b9bbdd #b9bbdd #b9bbdd;
    background:#c3d3e5 url("../images/buttonDisabled.png") top repeat-x;
}
.dj_ie .mioga .dijitSelectDisabled  .dijitButtonNode * {
	filter: gray() alpha(opacity=50);
}
.mioga .dijitSelectHover .dijitButtonNode {
    color:#000;
    background:#acc5e2 url("../images/buttonHover.png") repeat-x top left;
}
.mioga .dijitSelectActive .dijitButtonNode,
.mioga .dijitSelectOpened .dijitButtonNode {
    border-color:#657c9c;
    background: #91b4e5 url("../images/buttonActive.png") top left repeat-x;
}
.mioga .dijitSelectMenu td {
	padding: 0em;
}
.mioga .dijitSelectMenu .dijitMenuItemLabel,
.mioga .dijitSelectMenu .dijitMenuArrowCell {
	padding: 0.1em 0.2em;
}
