
.dijitRtl .mioga .dijitSliderProgressBarH,
.dijitRtl .mioga .dijitSliderRemainingBarH,
.dijitRtl .mioga .dijitSliderLeftBumper,
.dijitRtl .mioga .dijitSliderRightBumper,
.dijitRtl .mioga .dijitSliderTopBumper {
	background-position: top right;
}
.dijitRtl .mioga .dijitSliderProgressBarV,
.dijitRtl .mioga .dijitSliderRemainingBarV,
.dijitRtl .mioga .dijitSliderBottomBumper {
	background-position: bottom right;
}
.dijitRtl .mioga .dijitSliderLeftBumper {
	border-left-width: 0px;
	border-right-width: 1px;
}
.dijitRtl .mioga .dijitSliderRightBumper {
	border-left-width: 1px;
	border-right-width: 0px;
}
.dijitRtl .mioga .dijitSliderIncrementIconH {
	background:url('../images/spriteRoundedIconsSmall.png') no-repeat left top;
	#background:url('../images/spriteRoundedIconsSmall.gif') no-repeat left top;
}
.dijitRtl .mioga .dijitSliderDecrementIconH {
	background:url('../images/spriteRoundedIconsSmall.png') no-repeat -30px top;
	#background:url('../images/spriteRoundedIconsSmall.gif') no-repeat -30px top;
}
