
.mioga .dijitSplitContainerSizerH {
	background:url("../images/splitContainerSizerV.png") repeat-y #cddef4;
	border:0;
	border-left:0px solid #436496;
	border-right:0px solid #436496;
	width:5px;
}
.mioga .dijitSplitContainerSizerH .thumb {
	background:url("../images/splitContainerSizerV-thumb.png") no-repeat #ccc;
	left:1px;
	width:2px;
	height:19px;
}
.mioga .dijitSplitContainerSizerV {
	background:url("../images/splitContainerSizerH.png") repeat-x #cddef4;
	border:0;
	border-top:0px solid #436496;
	border-bottom:0px solid #436496;
	height:2px;
}
.mioga .dijitSplitContainerSizerV .thumb {
	background:url("../images/splitContainerSizerH-thumb.png") no-repeat #ccc;
	top:1px;
	width:19px;
	height:5px;
}
