body {font-family:Thorndale,serif;font-size:12.0pt;color:#000000}
h1 {margin-left:0.0cm;margin-right:0.0cm;margin-top:0.499cm;margin-bottom:1.0cm;padding:0cm;border:none;text-indent:0.0cm;text-align:right;font-family:&#39;Times New Roman&#39;;font-weight:bold;font-size:22.4pt;clear:left}
h2 {margin-left:0.0cm;margin-right:0.0cm;margin-top:0.499cm;margin-bottom:0.499cm;padding:0cm;border:none;text-indent:0.0cm;text-align:left;font-family:&#39;Times New Roman&#39;;font-style:normal;font-weight:bold;font-size:16.0pt;clear:left}
h3 {margin-left:0.499cm;margin-right:0.0cm;margin-top:0.499cm;margin-bottom:0.499cm;padding:0cm;border:none;text-indent:0.0cm;text-align:left;font-family:&#39;Times New Roman&#39;;font-style:italic;font-weight:bold;font-size:14.0pt;clear:left}
h4 {margin-left:0.499cm;margin-right:0.0cm;margin-top:0.499cm;margin-bottom:0.499cm;padding:0cm;border:none;background-color:transparent;text-indent:0.0cm;text-align:left;font-family:Times,serif;font-style:normal;font-weight:bold;font-size:12.0pt;clear:left}
.listlevel1List1 {list-style-type:disc}
.listlevel2List1 {list-style-type:bullet}
.listlevel3List1 {list-style-type:square}
.listlevel4List1 {list-style-type:disc}
.listlevel5List1 {list-style-type:bullet}
.listlevel6List1 {list-style-type:square}
.listlevel7List1 {list-style-type:disc}
.listlevel8List1 {list-style-type:bullet}
.listlevel9List1 {list-style-type:square}
p.Contents4 {margin-left:1.498cm;margin-right:0.0cm;margin-top:0.0cm;margin-bottom:0.101cm;border:none;text-indent:0.0cm;text-align:justify;font-family:Times,serif;font-weight:normal;font-size:12.0pt}
p.Contents3 {margin-left:1.0cm;margin-right:0.0cm;margin-top:0.0cm;margin-bottom:0.0cm;border:none;text-indent:0.0cm;text-align:justify;font-family:Times,serif;font-style:normal;font-weight:normal;font-size:12.0pt}
p.Contents2 {margin-left:0.499cm;margin-right:0.0cm;margin-top:0.101cm;margin-bottom:0.0cm;border:none;text-indent:0.0cm;text-align:justify;font-family:Times,serif;font-style:italic;font-weight:normal;font-size:12.0pt}      p.Contents1 {margin-left:0.0cm;margin-right:0.0cm;margin-top:0.199cm;margin-bottom:0.0cm;border:none;text-indent:0.0cm;text-align:justify;font-family:Times,serif;font-weight:bold;font-size:12.0pt}
p.Note {margin-left:2.0cm;margin-right:0.0cm;margin-top:0.499cm;margin-bottom:0.499cm;padding:0.15cm;border:0.002cm solid #000000;background-color:#e6e6e6;text-indent:0.0cm;text-align:justify;font-family:&#39;Times New Roman&#39;;font-style:italic;font-weight:normal;font-size:12.0pt}
p.TableContents {margin-left:0.101cm;margin-right:0.0cm;margin-top:0.0cm;margin-bottom:0.0cm;border:none;text-indent:0.0cm;text-align:justify;font-family:&#39;Times New Roman&#39;;font-weight:normal;font-size:10.0pt}
p.Title {margin-left:0.0cm;margin-right:0.0cm;margin-top:1.499cm;margin-bottom:1.499cm;padding:0cm;border:none;text-indent:0.0cm;text-align:left;font-family:Verdana;font-weight:bold;font-size:32.0pt}
p.Subtitle {margin-left:0.0cm;margin-right:0.0cm;margin-top:1.02cm;margin-bottom:1.011cm;padding:0cm;border:none;text-indent:0.0cm;text-align:left;font-family:Albany,sans-serif;font-style:italic;font-weight:bold;font-size:14.0pt}
p.ContentsHeading {margin-left:0.0cm;margin-right:0.0cm;margin-top:1.02cm;margin-bottom:1.011cm;padding:0cm;border:none;text-indent:0.0cm;text-align:center;font-family:Albany,sans-serif;font-weight:bold;font-size:16.0pt}
p.Heading {margin-left:0.0cm;margin-right:0.0cm;margin-top:1.02cm;margin-bottom:1.011cm;padding:0cm;border:none;text-indent:0.0cm;text-align:center;font-family:Albany,sans-serif;font-weight:bold;font-size:16.0pt}
p.TableHeading {margin-left:0.101cm;margin-right:0.0cm;margin-top:0.0cm;margin-bottom:0.0cm;border:none;text-indent:0.0cm;text-align:center;font-family:&#39;Times New Roman&#39;;font-style:italic;font-weight:bold;font-size:10.0pt}
p.List3 {margin-left:3.0cm;margin-right:0.0cm;margin-top:0.0cm;margin-bottom:0.21199998cm;border:none;text-indent:-0.499cm;text-align:justify;font-family:&#39;Times New Roman&#39;;font-weight:normal;font-size:12.0pt}
p.List2 {margin-left:2.0cm;margin-right:0.0cm;margin-top:0.101cm;margin-bottom:0.101cm;border:none;text-indent:-0.499cm;text-align:justify;font-family:&#39;Times New Roman&#39;;font-weight:normal;font-size:12.0pt}
p.Standard {margin-left:0.0cm;margin-right:0.0cm;margin-top:0.3cm;margin-bottom:0.499cm;border:none;text-indent:0.0cm;text-align:justify;font-family:Times,serif;font-weight:normal;font-size:12.0pt}
