
.dijitRtl .mioga .dijitEditorIcon {
	background-image: url('../../icons/images/editorIconsEnabled_rtl.png'); 
}
.dijitRtl .mioga .dijitDisabled .dijitEditorIcon {
	background-image: url('../../icons/images/editorIconsDisabled_rtl.png'); 
}
