
.dijitRtl .dijitPlaceHolder {
	left: auto;
	right: 0;
}
.dijitMenuItemRtl {
	text-align: right;
}
.dj_iequirks .dijitComboButtonRtl BUTTON {
	
	float:left;
}
.dijit_a11y .dijitTextBoxRtl .dijitValidationContainer,
.dijitTextBoxRtl .dijitSpinnerButtonContainer,
.dijitComboBoxRtl .dijitArrowButtonContainer {
	
	border-right-width: 1px !important;
	border-right-style: solid !important;
	border-left-width: 0px !important;
	border-left-style: none !important;
}
.dijit_a11y .dijitTextBoxRtl .dijitValidationContainer,
.dijit_a11y .dijitTextBoxRtl .dijitSpinnerButtonContainer,
.dijit_a11y .dijitComboBoxRtl .dijitArrowButtonContainer {
	border-right: 1px solid black !important;
	border-left: 0px none black !important;
}
.dijitSpinnerRtl .dijitSpinnerButtonContainer .dijitArrowButton {
	right: 0;
	left: auto;
}
.dijitTextBoxRtl .dijitSpinnerButtonContainer,
.dijitTextBoxRtl .dijitValidationContainer,
.dijitTextBoxRtl .dijitArrowButtonContainer {
	float: left;
}
.dijitCalendarRtl .dijitCalendarNextYear {
	margin:0 0.55em 0 0;
}
.dijitCalendarRtl .dijitCalendarPreviousYear {
	margin:0 0 0 0.55em;
}
.dijitSliderRtl .dijitSliderImageHandleV {
	left:auto;
}
.dijitSliderRtl .dijitSliderImageHandleH {
	left:-50%;
}
.dijitSliderRtl .dijitSliderMoveableH {
	right:auto;
	left:0;
}
.dijitSliderRtl .dijitRuleContainerV {
	float:right;
}
.dj_ie .dijitSliderRtl .dijitRuleContainerV {
	text-align:right;
}
.dj_ie .dijitSliderRtl .dijitRuleLabelV {
	text-align:left;
}
.dj_ie .dijitSliderRtl .dijitRuleLabelH {
	zoom:1;
}
.dijitSliderRtl .dijitSliderProgressBarH {
	
	float:right;
	right:0;
	left:auto;
}
.dijitRtl .dijitContentPaneLoading, .dijitRtl .dijitContentPaneError {
	background-position:right;
	padding-right:25px;
}
.dijitTabRtl .dijitTabCloseButton {
	margin-left: 0px;
	margin-right: 1em;
}
.dj_ie .dijitTimePickerRtl .dijitTimePickerItem {
	width:100%;
}
.dijitColorPaletteRtl .dijitColorPaletteUnder {
	
	left: auto;
	right: 0;
}
.dijitSelectRtl .dijitButtonContents {
	text-align: right;
}
.dijitRtl .mioga .dijitTab {
	margin-right:0;
	margin-left:2px;		
}
.dijitRtl .mioga .dijitTabContainer .tabStripButton {
	margin-left: 0;
}
.dijitRtl .mioga .dijitTabContainerTopStrip,
.dijitRtl .mioga .dijitTabContainerBottomStrip,
.dijitRtl .mioga .dijitTabContainerTop-tabs,
.dijitRtl .mioga .dijitTabContainerBottom-tabs {
	padding-left: 0;
	padding-right: 3px;
}
.dijitRtl .mioga .dijitTabInnerDiv {
	padding-left: 3px;
	padding-right: 4px;
}
.dijitRtl .mioga .dijitTabPaneWrapper {
	#zoom: 1;
}
.dj_ie-rtl .mioga .dijitTabContainerLeft-tabs {
	margin-left: 0px !important;
}
.dj_ie-rtl .mioga .dijitTabContainerRight-tabs {
	margin-right: 0px !important;
}
.dijitRtl .mioga .dijitTabContainerLeft-tabs .dijitTab,
.dijitRtl .mioga .dijitTabContainerRight-tabs .dijitTab {
	margin-left:0px;
}
.dj_ie-rtl .mioga .dijitTab .dijitTabInnerDiv{
	width : 1%;
}
.dijitRtl .mioga .dijitAccordionArrow {
	background-position: 0px top;
}
.dijitRtl .mioga .dijitAccordionTitleSelected .dijitAccordionArrow {
	
	background-position: -15px top;
}
.dijitRtl .mioga .dijitSliderProgressBarH,
.dijitRtl .mioga .dijitSliderRemainingBarH,
.dijitRtl .mioga .dijitSliderLeftBumper,
.dijitRtl .mioga .dijitSliderRightBumper,
.dijitRtl .mioga .dijitSliderTopBumper {
	background-position: top right;
}
.dijitRtl .mioga .dijitSliderProgressBarV,
.dijitRtl .mioga .dijitSliderRemainingBarV,
.dijitRtl .mioga .dijitSliderBottomBumper {
	background-position: bottom right;
}
.dijitRtl .mioga .dijitSliderLeftBumper {
	border-left-width: 0px;
	border-right-width: 1px;
}
.dijitRtl .mioga .dijitSliderRightBumper {
	border-left-width: 1px;
	border-right-width: 0px;
}
.dijitRtl .mioga .dijitSliderIncrementIconH {
	background:url(images/spriteRoundedIconsSmall.png) no-repeat left top;
	#background:url(images/spriteRoundedIconsSmall.gif) no-repeat left top;
}
.dijitRtl .mioga .dijitSliderDecrementIconH {
	background:url(images/spriteRoundedIconsSmall.png) no-repeat -30px top;
	#background:url(images/spriteRoundedIconsSmall.gif) no-repeat -30px top;
}
.dijitRtl .mioga .dijitComboBox .dijitButtonNode {
	border-width: 0px 0px 0px 1px;
}
.dijitRtl .mioga .dijitSelect .dijitButtonContents {
	border-left: none;
	border-right-width: 1px;
}
.dijitRtl .mioga .dijitTreeNode,
.dijitRtl .mioga .dijitTreeExpandoLeaf {
	
    background-image: none;
}
.dijitRtl .mioga .dijitTreeContent {
    padding-left: 0px;
    padding-right: 1px;
}
.dijitRtl .mioga .dijitTreeExpandoOpened {
	
	background: url(images/spriteTree_rtl.gif) no-repeat -18px top;
}
.dijitRtl .mioga .dijitTreeExpandoClosed {
	
	background-image: url(images/spriteTree_rtl.gif);
}
.dijitRtl .mioga .dijitTitlePane .dijitClosed .dijitArrowNode {
	background-position: 0px top;
}
.dj_ie6-rtl .mioga .dijitTitlePane .dijitClosed .dijitArrowNode {
	background-position: 0px top;
}
.dijitRtl .mioga .dijitCalendarDecrease {
	background-position: -30px top;
}
.dijitRtl .mioga .dijitCalendarIncrease {
	background-position: 0px top;
}
.dj_ie6-rtl .mioga .dijitTimePickerMarkerHover,
.dj_ie7-rtl .mioga .dijitTimePickerMarkerHover {
        border-top: 0px; 
}
.dijitRtl .mioga .dijitDialogTitleBar .dijitDialogCloseIcon {
	right: auto;
	left: 5px;
}
.dijitRtl .mioga .dijitMenuItem .dijitMenuItemIcon {
	padding-left: 3px;
	padding-right: 0px;
}
.dijitRtl .mioga .dijitMenuItem .dijitMenuExpand {
	background-position: left top;
}
.dijitRtl .mioga .dijitEditorIcon {
	background-image: url(../../icons/images/editorIconsEnabled_rtl.png); 
}
.dijitRtl .mioga .dijitDisabled .dijitEditorIcon {
	background-image: url(../../icons/images/editorIconsDisabled_rtl.png); 
}
.dijitEditorRtl .dijitEditorIcon {
	background-image: url(../../icons/images/editorIconsEnabled_rtl.png); 
}
.dijitEditorRtlDisabled .dijitEditorIcon {
	background-image: url(../../icons/images/editorIconsDisabled_rtl.png); 
}
.dijitToolbarRtl .dijitToolbarSeparator {
	background-image: url(../../icons/images/editorIconsEnabled_rtl.png);
}
 
