.mioga .dijitToolbar {
	border-bottom: 1px solid #ccc;
	background:#eaeaea url("images/titleBar.png") repeat-x top left;
}
.dj_ie6 .mioga .dijitToolbar {
	height: 10px;
}
.mioga .dijitToolbar .dijitButtonNode,
.mioga .dijitToolbar .dijitComboButton .dijitButtonContents,
.mioga .dijitToolbar .dijitComboButton .dijitDownArrowButton {
	background: none;
	margin: 0px;
	padding: 0px;
	border: none;
	font-size: 12px;
}
.mioga .dijitToolbar .dijitButton,
.mioga .dijitToolbar .dijitToggleButton,
.mioga .dijitToolbar .dijitDropDownButton,
.mioga .dijitToolbar .dijitComboButton .dijitButtonContents,
.mioga .dijitToolbar .dijitComboButton .dijitDownArrowButton {
	background: none;
	padding: 1px;	
}
.mioga .dijitToolbar .dijitButtonChecked,
.mioga .dijitToolbar .dijitToggleButtonChecked {
	background-color:#d8e5f8;
	border:1px solid #316ac5;
	padding: 0px;
}
.mioga .dijitToolbar .dijitButtonCheckedHover,
.mioga .dijitToolbar .dijitToggleButtonCheckedHover
 {
	background-color:#9abbea;
	border:1px solid #316ac5;
	padding: 0px;
}
.mioga .dijitToolbar .dijitButtonHover,
.mioga .dijitToolbar .dijitToggleButtonHover,
.mioga .dijitToolbar .dijitDropDownButtonHover,
.mioga .dijitToolbar .dijitComboButton .dijitButtonContentsHover,
.mioga .dijitToolbar .dijitComboButton .dijitDownArrowButtonHover {
	
	border: 1px solid #316ac5;
	padding: 0px;
	background-color:#9abbea;
}
.mioga .dijitToolbar label {
	padding: 3px 3px 0 6px;
}
.dj_ie .mioga .dijitToolbar .dijitComboButton .dijitButtonContentsFocused,
.dj_ie .mioga .dijitToolbar .dijitComboButton .dijitDownArrowButtonFocused {
	
	border: 1px #777 dotted !important;
	padding: 0px;
}
