
.dijitRtl .mioga .dijitTreeNode,
.dijitRtl .mioga .dijitTreeExpandoLeaf {
	
    background-image: none;
}
.dijitRtl .mioga .dijitTreeContent {
    padding-left: 0px;
    padding-right: 1px;
}
.dijitRtl .mioga .dijitTreeExpandoOpened {
	
	background: url('images/spriteTree_rtl.gif') no-repeat -18px top;
}
.dijitRtl .mioga .dijitTreeExpandoClosed {
	
	background-image: url('images/spriteTree_rtl.gif');
}
