
.mioga .dijitCalendarIncrementControl {
	
	width:15px;
	height:15px;
	background-image: url("images/spriteRoundedIconsSmall.png");
	background-repeat: no-repeat;
}
.dj_ie6 .mioga .dijitCalendarIncrementControl {
	font-size:.1em;
	background-image: url("images/spriteRoundedIconsSmall.gif");
}
.mioga .dijitA11ySideArrow {
	display: none;
}
.mioga .dijitCalendarDecrease {
	background-position: top left;
}
.mioga .dijitCalendarIncrease {
	background-position: -30px top;
}
.mioga table.dijitCalendarContainer {
	font-size: 100%;
	border-spacing: 0;
	border-collapse: separate;
	border: 1px solid #b1badf;
	margin: 0;
}
.mioga .dijitCalendarMonthContainer th {
	
	background:#bed7f0 url("images/titleBar.png") repeat-x top;
	padding-top:.3em;
	padding-bottom:.2em;
	text-align:center;
}
.dj_ie6 .mioga .dijitCalendarMonthContainer th {
	padding-top:.2em;
	padding-bottom:.1em;
}
.mioga .dijitCalendarDayLabelTemplate {
	
	background:#bed7f0;
	font-weight:normal;
	padding-top:.15em;
	padding-bottom:.2em;
	border-bottom: 1px solid #b1badf;
	color:#293a4b;
	text-align:center;
}
.mioga .dijitCalendarBodyContainer {
	border-bottom: 1px solid #eeeeee;
}
.mioga .dijitCalendarMonthLabel {
	color:#293a4b;
	font-weight: bold;
}
.mioga .dijitCalendarDateTemplate {
	
	font-size: 0.9em;
	font-weight: bold;
	text-align: center;
	padding: 0.3em 0.3em 0.05em 0.3em;
	letter-spacing: 1px;
	background-color: #fff;
	border:#fff solid 1px !important;
}
.dj_ie .mioga .dijitCalendarDateTemplate {
	padding: 0.1em .33em 0.02em .33em;
}
.mioga .dijitCalendarPreviousMonth,
.mioga .dijitCalendarNextMonth 		{
	
	color:#999999;
	background-color:#fdfdfd !important;
	border:#fdfdfd solid 1px !important;
}
.mioga .dijitCalendarCurrentMonth {
	
}
.mioga .dijitCalendarDisabledDate {
	text-decoration:line-through !important;
}
.mioga .dijitCalendarCurrentDate {
	
	text-decoration:underline;
	font-weight:bold;
}
.mioga .dijitCalendarSelectedDate {
	
	background-color:#b9cbf1 !important;
	color:black !important;
	border:#4b5aaa solid 1px !important;
}
.mioga .dijitCalendarYearContainer {
	
	background:white url("images/titleBar.png") repeat-x top;
}
.mioga .dijitCalendarYearLabel {
	
	margin:0;
	padding:0.4em 0 0.25em 0;
	text-align:center;
}
.mioga .dijitCalendarSelectedYear {
	
	color:black;
	padding:0.2em;
	padding-bottom:0.1em;
	background-color:#b9cbf1 !important;
	border:#4b5aaa solid 1px !important;
}
.mioga .dijitCalendarNextYear,
.mioga .dijitCalendarPreviousYear {
	
	color:black !important;
	font-weight:normal;
}
