
.mioga .dojoDndItemBefore {
	border-top: 2px solid #369;
}
.mioga .dojoDndItemAfter {
	border-bottom: 2px solid #369;
}
.mioga .dojoDndItemOver {
	cursor:pointer;
}
.mioga table.dojoDndAvatar { -moz-border-radius: 0; border: 1px solid #ccc; border-collapse: collapse; background-color: #fff; font-size: 75%; color: black;}
.mioga .dojoDndAvatar td	{ border: none; }
.mioga .dojoDndAvatar tr	{ border: none; }
.mioga .dojoDndAvatarHeader td	{ height: 20px; padding: 0 0 0 21px; }
.mioga .dojoDndAvatarItem td { padding: 2px;}
.mioga.dojoDndMove .dojoDndAvatarHeader	{background-color: #f58383; background-image: url(images/dndNoMove.png); background-repeat: no-repeat; background-position: 2px center;}
.mioga.dojoDndCopy .dojoDndAvatarHeader	{background-color: #f58383; background-image: url(images/dndNoCopy.png); background-repeat: no-repeat; background-position: 2px center;}
.mioga.dojoDndMove .dojoDndAvatarCanDrop .dojoDndAvatarHeader	{background-color: #97e68d; background-image: url(images/dndMove.png); background-repeat: no-repeat; background-position: 2px center;}
.mioga.dojoDndCopy .dojoDndAvatarCanDrop .dojoDndAvatarHeader	{background-color: #97e68d; background-image: url(images/dndCopy.png); background-repeat: no-repeat; background-position: 2px center;}
