
.mioga .dijitDialog {
	background: #eee;
	border: 1px solid #cbcbcb;
	-webkit-box-shadow: 0px 5px 10px #adadad;
	padding: 0px;
}
.mioga .dijitDialog .dijitDialogTitle {
	
	font-weight: bold;
	padding: 0px 4px;
	font-size: 0.9em;
	color: #3243C5F;
}
.mioga .dijitDialog .dijitDialogPaneContent {
	background: #ffffff;
	border-top: 1px solid #b1badf;
	padding:10px;
}
.mioga .dijitDialogTitleBar {
	
	background: #fafafa url("images/titleBar.png") repeat-x top left;
	padding: 5px 6px 3px 6px;
	outline:0; 
}
.mioga .dijitDialogCloseIcon {
	
	background-image: url("images/spriteRoundedIconsSmallBl.png");
	background-repeat: no-repeat;
	background-position: -60px 0px;
	position: absolute;
	vertical-align: middle;
	right: 6px;
	top: 4px;
	height: 15px;
	width: 15px;
}
.dj_ie6 .mioga .dijitDialogCloseIcon {
	background-image: url("images/spriteRoundedIconsSmallBl.gif");
}
.mioga .dijitDialogCloseIconHover {
	background-position: -60px -15px;
}
.mioga .dijitTooltip,
.mioga .dijitTooltipDialog {
	
	background: transparent;	
}
.dijitTooltipBelow {
	
	padding-top: 10px;
}
.dijitTooltipAbove {
	
	padding-bottom: 10px;
}
.mioga .dijitTooltipContainer {
	
	background-color: #fff;
	border:1px solid #cbcbcb;
	padding:0.45em;
}
.mioga .dijitTooltipConnector {
	
	border:0px;
	z-index: 2;
}
.mioga .dijitTooltipABRight .dijitTooltipConnector {
	
	left: auto !important;
	right: 6px;
}
.mioga .dijitTooltipBelow .dijitTooltipConnector {
	
	top: 0px;
	left: 6px;
	background:url("images/tooltipConnectorUp.png") no-repeat top left;
	width:17px;
	height:11px;
}
.dj_ie .mioga .dijitTooltipBelow .dijitTooltipConnector {
	background-image: url("images/tooltipConnectorUp.gif");
}
.mioga .dijitTooltipAbove .dijitTooltipConnector {
	
	bottom: 0px;
	left: 6px;
	background:url("images/tooltipConnectorDown.png") no-repeat top left;
	width:17px;
	height:11px;
}
.dj_ie .mioga .dijitTooltipAbove .dijitTooltipConnector {
	background-image: url("images/tooltipConnectorDown.gif");
}
.dj_ie .mioga .dijitTooltipAbove .dijitTooltipConnector {
	background-image: url("images/tooltipConnectorDown.gif");
}
.dj_ie6 .mioga .dijitTooltipAbove .dijitTooltipConnector {
	bottom: -5px;
}
.mioga .dijitTooltipLeft {
	padding-right: 10px;
}
.dj_ie6 .mioga .dijitTooltipLeft {
	padding-left: 11px;
}
.mioga .dijitTooltipLeft .dijitTooltipConnector {
	
	right: 0px;
	bottom: 3px;
	background:url("images/tooltipConnectorRight.png") no-repeat top left;
	width:11px;
	height:17px;
}
.dj_ie .mioga .dijitTooltipLeft .dijitTooltipConnector {
	background-image: url("images/tooltipConnectorRight.gif");
}
.mioga .dijitTooltipRight {
	padding-left: 10px;
}
.mioga .dijitTooltipRight .dijitTooltipConnector {
	
	left: 0px;
	bottom: 3px;
	background:url("images/tooltipConnectorLeft.png") no-repeat top left;
	width:11px;
	height:17px;
}
.dj_ie .mioga .dijitTooltipRight .dijitTooltipConnector {
	background-image: url("images/tooltipConnectorLeft.gif");
}
