.mioga .dijitToolbar .dijitToolbarSeparator {
	background: url('../../icons/images/editorIconsEnabled.png'); 
}
.mioga .dijitEditorIcon {
	background-image: url('../../icons/images/editorIconsEnabled.png'); 
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	text-align: center;
}
.mioga .dijitDisabled .dijitEditorIcon {
	background-image: url('../../icons/images/editorIconsDisabled.png'); 
}
