
.mioga .dijitMenu,
.mioga .dijitMenuBar {
	border: 1px solid #cbcbcb;
	margin: 0px;
	padding: 0px;
	background-color: #fff;
}
.mioga .dijitBorderContainer .dijitMenuBar {
	border:1px solid #B1BADF;
}
.mioga .dijitMenuItem {
	font-family: sans-serif;
	margin: 0px;
	color: #243C5F;
}
.mioga .dijitMenuBar .dijitMenuItem {
	padding: 4px 5px;
}
.mioga .dijitMenuPreviousButton, .mioga .dijitMenuNextButton {
	font-style: italic;
}
.mioga .dijitMenuItem TD {
	padding:1px;
}
.mioga .dijitMenuPassive .dijitMenuItemHover,
.mioga .dijitMenuItemSelected {
	background-color: #d9e6f9; 
	color: #243C5F;
}
.mioga .dijitMenuItemIcon {
	width: 15px;
	height: 15px;
}
.mioga .dijitMenuExpand {
	width:15px;
	height:15px;
	background-image: url('images/spriteRoundedIconsSmall.png');
	background-position: -30px top;
}
.dj_ie6 .mioga .dijitMenuExpand {
	background-image: url('images/spriteRoundedIconsSmall.gif');
}
.mioga .dijitMenuSeparator {
	height: 1px;
}
.mioga .dijitMenuSeparatorTop {
	border-bottom: 1px solid #fff; 
}
.mioga .dijitMenuSeparatorBottom {
	border-top: 1px solid #8ba0bd;
}
.mioga .dijitCheckedMenuItemIconChar {
	display: none;
}
.mioga .dijitCheckedMenuItemIcon {
	background-image: url('images/spriteCheckbox.gif');
	background-position: -80px;
}
.mioga .dijitCheckedMenuItemChecked .dijitCheckedMenuItemIcon {
	background-position: -64px;
}
