
.mioga .dijitTimePickerTick,
.mioga .dijitTimePickerMarker {
	border-color: #b1badf;
}
.mioga .dijitTimePickerTick {
	color:white;
}
.mioga .dijitTimePickerMarker {
	background:#bed7f0 url("images/titleBar.png") repeat-x top;
	color:#293a4b;
	font-weight: bold;
}
.mioga .dijitTimePickerItemSelected {
	color: black;
	background: #b9cbf1 none;
}
.mioga .dijitTimePickerItemHover {
	background: #60a1ea none;
	color:white;
}
.mioga .dijitTimePickerItemHover,
.mioga .dijitTimePickerItemSelected {
	position: relative;
	z-index: 10;
}
.mioga .dijitTimePickerTick .dijitTimePickerItemInner {
	font-size:0.4em;
}
.mioga .dijitTimePickerItemHover .dijitTimePickerItemInner,
.mioga .dijitTimePickerItemSelected .dijitTimePickerItemInner {
	font-size:1em;
}
.mioga .dijitTimePickerMarkerHover {
	border-top: 1px solid #94b9ef;
}
.mioga .dijitTimePickerTickHover,
.mioga .dijitTimePickerTickSelected {
	margin-top:-0.3em;
	margin-bottom:-0.3em;
	border-bottom: none;
}
