
.mioga .dijitTreeNode {
    background : url('images/treeI.gif') no-repeat;
    background-position : top left;
    background-repeat : repeat-y;
    zoom: 1;	
}
.mioga .dijitTreeRowHover {
	
	background-image: url(images/treeHover.png);
	background-repeat: repeat;
	background-color: transparent !important;
}
.mioga .dijitTreeIsLast {
    background: url('images/treeI_half.gif') no-repeat;
}
.mioga .dijitTreeLabel {
	font-weight: normal;
	margin-left: 3px;
}
.mioga .dijitTreeIsRoot {
    margin-left: 0;
    background-image: none;
}
.mioga .dijitTreeExpando {
    width: 18px;
    height: 18px;
}
.mioga .dijitTreeRow {
	
	padding-bottom: 2px;
}
.mioga .dijitTreeContent {
    min-height: 18px;
    min-width: 18px;
    padding-left:1px;
}
.mioga .dijitTreeRowSelected .dijitTreeLabel{
	background:#b8cbec;
}
.mioga .dijitTreeExpandoOpened {
	background: url('images/spriteTree.gif') no-repeat -18px top;
}
.mioga .dijitTreeExpandoClosed {
	background-image: url('images/spriteTree.gif');
}
.mioga .dijitTreeExpandoLeaf {
	background: url('images/spriteTree.gif') no-repeat -36px top;
}
.mioga .dijitTreeExpandoLoading {
	background-image: url('images/treeExpand_loading.gif');
}
.mioga .dijitTreeIcon {
	width: 16px;
	height: 16px;
}
.mioga .dijitFolderOpened {
	background: url('images/spriteDivIcons.gif') no-repeat -16px top;
}
.mioga .dijitFolderClosed {
	background: url('images/spriteDivIcons.gif') no-repeat top left;
}
.mioga .dijitLeaf {
	background: url('images/spriteDivIcons.gif') no-repeat -32px top;
}
.mioga .dijitTreeNode .dojoDndItemBefore,
.mioga .dijitTreeNode .dojoDndItemAfter {
	border-bottom: none;
	border-top: none;
}
.mioga .dijitTreeNode .dojoDndItemBefore .dijitTreeContent {
	
	border-top: 2px solid #369;
}
.mioga .dijitTreeNode .dojoDndItemAfter .dijitTreeContent {
	
	border-bottom: 2px solid #369;
}
