.center-aligned-tab-content {
	height: 90%;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
}

.left-aligned-tab-content {
	height: 100%;
	text-align: left;
	margin-left: 0px;
	margin-right: 0px;
}

h1.tabtitle {
	border-bottom: 1px dotted #DDDDDD;
	margin: 1em 0 1em 0;
}

div.tab-item {
	height: 100%;
	overflow: auto;
}
