<!-- These lines have to be pasted into HTML files so that Javascript tools used by Mioga2 are available. -->
<!-- The versions for Prototype and Script.aculo.us are not the same as in Mioga2 dist. Their behavior could differ. -->

<!--Dojo Toolkit-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/dojo/1.5.0/dojo/dojo.xd.js" djConfig="parseOnLoad:true"></script>
<link rel="stylesheet" type="text/css" href="../../web/jslib/dojotoolkit/dijit/themes/mioga/mioga.css"/>

<!-- Prototype & Script.aculo.us -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/prototype/1.7.0.0/prototype.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/scriptaculous/1.9.0/scriptaculous.js"></script>
