<div class="select-list">
	<div class="clear-both" style="height: 0px;"></div>
	<div dojoAttachPoint="list" class="sl-list">
		<div class="sort-container">
			<ul dojoAttachPoint="sort_selector" class="sort-selector"></ul>
		</div>
		<div class="sl-header"><span class="sel-label">${sel_label}</span><span class="unsel-label">${unsel_label}</span></div>
		<div dojoAttachPoint="cont" class="sl-cont" dojoAttachEvent="onclick:selectItem" ></div>
	</div>
</div>
