<div class="tabbed-dialog sbox border_color">
	<div class="tabbar">
		<ul class="vtabs" dojoAttachPoint="tabs">
		</ul>
		<div class="footer">
			<input type="submit" class="button" value="OK" onclick="${onValidate}"/>
			<input type="submit" class="button cancel" value="Cancel" onclick="${onCancel}"/>
		</div>
	</div>

	<div class="content" dojoAttachPoint="containerNode">
	</div>

	<div class="clear-both"></div>
</div>
