<div class="team-attributes">
	<div dojoType="dijit.form.Form" id="team_attributes_form" class="dojo-form">
		<div class="team-attributes-left-align">
			<input dojoType="dijit.form.TextBox" type="hidden" id="team_attributes_rowid" name="rowid"/>

			<div class="form-item">
				<label id="team_attributes_ident_label" for="ident" i18n="Identifier">Identifier</label>
				<input dojoType="dijit.form.TextBox" class="team-attributes-input" id="team_attributes_ident" name="ident"/>
			</div>

			<div class="form-item">
				<label id="team_attributes_description_label" for="description" i18n="Description">Description</label>
				<input dojoType="dijit.form.Textarea" class="team-attributes-input" id="team_attributes_description" name="description"/>
			</div>
		</div>
	</div>
</div>
