<div class="user-attributes">
	<div dojoType="dijit.form.Form" id="user_attributes_form" class="dojo-form">
		<div class="user-attributes-left-align">
			<input dojoType="dijit.form.TextBox" type="hidden" id="user_attributes_rowid" name="rowid"/>

			<div id="user-ident-field" class="form-item">
				<label id="user_attributes_ident_label" for="ident" i18n="Identifier">Identifier</label>
				<input dojoType="dijit.form.TextBox" class="user-attributes-input" id="user_attributes_ident" name="ident"/>
			</div>

			<div class="form-item">
				<label id="user_attributes_firstname_label" for="firstname" i18n="Firstname">Firstname</label>
				<input dojoType="dijit.form.TextBox" class="user-attributes-input" id="user_attributes_firstname" name="firstname"/>
			</div>

			<div class="form-item">
				<label id="user_attributes_lastname_label" for="lastname" i18n="Lastname">Lastname</label>
				<input dojoType="dijit.form.TextBox" class="user-attributes-input" id="user_attributes_lastname" name="lastname"/>
			</div>

			<div class="form-item">
				<label id="user_attributes_email_label" for="email" i18n="Email">E-mail</label>
				<input dojoType="dijit.form.TextBox" class="user-attributes-input" id="user_attributes_email" name="email"/>
			</div>

			<div class="form-item">
				<label id="user_attributes_password_label" for="password" i18n="Password">Password</label>
				<input type="password" dojoType="dijit.form.TextBox" class="user-attributes-input" id="user_attributes_password" name="password"/>
			</div>

			<div class="form-item">
				<label id="user_attributes_password2_label" for="password2" i18n="ConfirmPassword">Confirm password</label>
				<input type="password" dojoType="dijit.form.TextBox" class="user-attributes-input" id="user_attributes_password2" name="password2"/>
			</div>

			<div id="user-skel-chooser" class="form-item">
				<label id="user_attributes_skeleton_label" for="skeleton" i18n="Skeleton">Skeleton</label>
				<div dojoType="mioga.data.ItemFileReadStore" jsId="skelStore" url="GetSkeletons.json?type=user" nodename="skeleton" identifier="file"></div>
				<input dojoType="dijit.form.FilteringSelect" class="user-attributes-input" id="user_attributes_skeleton" name="skeleton" store="skelStore" searchAttr="name" onChange="UpdateUserSkeletonDetails ();"/>
			</div>

			<div class="form-item">
				<label id="user_attributes_lang_label" for="lang" i18n="Language">Language</label>
				<div dojoType="mioga.data.ItemFileReadStore" jsId="langStore" url="GetLanguages.json" nodename="language" identifier="ident"></div>
				<input dojoType="dijit.form.FilteringSelect" class="user-attributes-input" id="user_attributes_lang" name="lang" store="langStore" searchAttr="label"/>
			</div>

			<div class="form-item">
				<label id="user_attributes_autonomous_label" for="autonomous" i18n="Autonomous">Autonomous</label>
				<input dojoType="dijit.form.CheckBox" class="user-attributes-input" id="user_attributes_autonomous" name="autonomous"/>
			</div>

			<div class="form-item">
				<label id="user_attributes_shared_label" for="shared" i18n="Shared">Shared</label>
				<input dojoType="dijit.form.CheckBox" class="user-attributes-input" id="user_attributes_shared" name="shared"/>
			</div>

			<div class="form-item radio">
				<fieldset>
					<legend><span i18n="Status">Status</span></legend>
					<div>
						<input type="radio" dojoType="dijit.form.RadioButton" name="status" value="active" id="user-status-active"/>
						<label for="user-status-active" i18n="Active">Active</label>
					</div>
					<div>
						<input type="radio" dojoType="dijit.form.RadioButton" name="status" value="disabled" id="user-status-disabled"/>
						<label for="user-status-disabled" i18n="Disabled">Disabled</label>
					</div>
					<div>
						<input type="radio" dojoType="dijit.form.RadioButton" name="status" value="deleted_not_purged" id="user-status-deleted_not_purged"/>
						<label for="user-status-deleted_not_purged" i18n="DeletedNotPurged">Deleted Not Purged</label>
					</div>
					<div>
						<input type="radio" dojoType="dijit.form.RadioButton" name="status" value="disabled_attacked" id="user-status-disabled_attacked"/>
						<label for="user-status-disabled_attacked" i18n="DisabledAttacked">Disabled Attacked</label>
					</div>
				</fieldset>
			</div>
		</div>
	</div>
</div>
