
.mioga .dijitButtonNode {
	
	border: 1px solid #8ba0bd;
	border-bottom:1px solid #657c9c;
	padding: 0.1em 0.2em 0.2em 0.2em;
	background: #bcd5f0 url("../images/buttonEnabled.png") repeat-x top left;
}
.mioga .dijitSelect .dijitButtonContents {
	border-right: none;
}
.mioga .dijitButtonText {
	text-align: center;
	padding: 0 0.3em;
}
.mioga .dijitArrowButton {
	color: #111;
}
.mioga .dijitComboButton .dijitDownArrowButton {
	padding-right:4px;
}
.mioga .dijitTextBoxReadOnly,
.mioga .dijitTextBoxReadOnly .dijitButtonNode,
.mioga .dijitButtonDisabled .dijitButtonNode,
.mioga .dijitToggleButtonDisabled .dijitButtonNode,
.mioga .dijitDropDownButtonDisabled .dijitButtonNode,
.mioga .dijitComboButtonDisabled .dijitButtonNode,
.mioga .dijitTextBoxDisabled,
.mioga .dijitTextBoxDisabled .dijitButtonNode {
	
	border-color: #b9bbdd #b9bbdd #b9bbdd #b9bbdd;
	background:#c3d3e5 url("../images/buttonDisabled.png") top repeat-x;
	opacity: 0.60;
}
.dj_ie6 .mioga .dijitReadOnly INPUT,
.dj_ie7 .mioga .dijitReadOnly INPUT,
.dj_ie6 .mioga .dijitComboButtonDisabled .dijitButtonText,
.dj_ie7 .mioga .dijitComboButtonDisabled .dijitButtonText {
	
	color: #aaa;
}
.mioga .dijitButtonHover .dijitButtonNode,
.mioga .dijitButtonNodeHover,
.mioga .dijitToggleButtonHover .dijitButtonNode,
.mioga .dijitDropDownButtonHover .dijitButtonNode,
.mioga .dijitButtonContentsHover,
.mioga .dijitUpArrowButtonHover,
.mioga .dijitDownArrowButtonHover {
	
	
	color:#243C5F;
	background:#acc5e2 url("../images/buttonHover.png") repeat-x top left;
}
.mioga .dijitButtonActive .dijitButtonNode,
.mioga .dijitToggleButtonActive .dijitButtonNode,
.mioga .dijitDropDownButtonActive .dijitButtonNode,
.mioga .dijitComboButtonActive .dijitButtonContents,
.mioga .dijitStackController .dijitToggleButtonChecked .dijitButtonNode {
	
	border-color:#657c9c;
	background: #91b4e5 url("../images/buttonActive.png") top left repeat-x;
}
.mioga .dijitUpArrowButtonActive,
.mioga .dijitDownArrowButtonActive {
	
	background: #91b4e5 url("../images/buttonActive.png") top left repeat-x;
}
.mioga .dijitArrowButtonInner {
	background-image: url("../images/spriteArrows.png");
	background-repeat: no-repeat;
	background-position: 0px center;
	width: 11px;
	height: 11px;
}
.mioga .dijitComboBox .dijitArrowButtonInner {
        background-position: 0 center;
}
.mioga .dijitLeftArrowButton .dijitArrowButtonInner {
	background-position: -11px center;
}
.mioga .dijitUpArrowButton .dijitArrowButtonInner {
	background-position: -22px center;
}
.mioga .dijitRightArrowButton .dijitArrowButtonInner {
	background-position: -33px center;
}
.dj_ie6 .mioga .dijitArrowButtonInner {
	background-image: url("../images/spriteArrows.gif");
}
.dj_ie .mioga .dijitSpinner .dijitUpArrowButton .dijitArrowButtonInner {
	margin-top: 1px; 
}
.mioga .dijitSpinnerButtonContainer {
	width: auto;
	padding: 0;
}
.mioga .dijitSpinner .dijitArrowButton {
	width: 15px;
}
.mioga .dijitSpinner .dijitSpinnerButtonInner {
	width: 15px;
}
.mioga .dijitSpinner .dijitArrowButtonInner .dijitInputField {
	padding: 0;
}
