
.mioga .dijitInputContainer INPUT,
.mioga .dijitTextBox {
	margin: 0em 0.1em;
}
.mioga .dijitTextBox,
.mioga .dijitTextArea {
	
	background:#fff url("../images/validationInputBg.png") repeat-x top left;
	#background:#fff url('../images/validationInputBg.gif') repeat-x top left;
	border:1px solid #8ba0bd;
}
.mioga .dijitComboBox .dijitButtonNode {
	padding: 0 0.2em;
}
.mioga .dijitTextBox .dijitButtonNode {
	
	border-color: #8ba0bd;
}
.mioga .dijitTextBoxFocused,
.mioga .dijitTextAreaFocused {
	
	border-color:#406b9b;
}
.mioga .dijitTextBoxFocused .dijitButtonNode,
.mioga .dijitSpinner .dijitUpArrowButtonActive,
.mioga .dijitSpinner .dijitDownArrowButtonActive {
	border-left-color:#8ba0bd;
}
.mioga .dijitSpinnerFocused .dijitDownArrowButton,
.mioga .dijitSpinner .dijitUpArrowButtonActive,
.mioga .dijitSpinner .dijitDownArrowButtonActive {
	border-top-color:#8ba0bd;
}
.mioga .dijitError {
	border-color:#f3d118;
	background-color:#f9f7ba;
	background-image:none;
}
.mioga .dijitErrorFocused {
	background-color:#ff6;
	background-image:none;
}
.mioga .dijitValidationIcon {
	
	width: 16px;
	background: transparent url('../images/warning.png') no-repeat center center;
}
.mioga .dijitComboBoxHighlightMatch {
	background-color:#f9f7ba;
}
