
.mioga .dijitSliderProgressBarH {
	border-color: #b1badf;
	background: #c0c2c5 url("../images/sliderFull.png") repeat-x top left;
}
.mioga .dijitSliderProgressBarV {
	border-color: #b1badf;
	background: #c0c2c5 url("../images/sliderFullVertical.png") repeat-y bottom left;
}
.mioga .dijitSliderFocused .dijitSliderProgressBarH,
.mioga .dijitSliderFocused .dijitSliderLeftBumper {
	background-image:url("../images/sliderFullFocus.png");
}
.mioga .dijitSliderFocused .dijitSliderProgressBarV,
.mioga .dijitSliderFocused .dijitSliderBottomBumper {
	background-image:url("../images/sliderFullVerticalFocus.png");
}
.mioga .dijitSliderRemainingBarV {
	border-color: #b4b4b4;
	background: #dcdcdc url("../images/sliderEmptyVertical.png") repeat-y bottom left;
}
.mioga .dijitSliderRemainingBarH {
	border-color: #b4b4b4;
	background: #dcdcdc url("../images/sliderEmpty.png") repeat-x top left;
}
.mioga .dijitSliderBar {
	border-style: solid;
	outline:1px;
	
}
.mioga .dijitSliderFocused .dijitSliderBar {
	border-color:#8ba0bd;
}
.mioga .dijitSliderImageHandleH {
	border:0px;
	width:15px;
	height:18px;
	background:url("../images/preciseSliderThumb.png") no-repeat center top;
}
.mioga .dijitSliderFocused .dijitSliderImageHandleH {
	background-image:url("../images/preciseSliderThumbFocus.png");
	#background-image:url("../images/preciseSliderThumbFocus.gif");
}
.dj_ie6 .mioga .dijitSliderImageHandleH {
	background-image:url("../images/preciseSliderThumb.gif");
}
.mioga .dijitSliderLeftBumper {
	border-left-width: 1px;
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFull.png") repeat-x top left;
}
.mioga .dijitSliderRightBumper {
	background: #dcdcdc url("../images/sliderEmpty.png") repeat-x top left;
	border-color: #b4b4b4;
	border-right-width: 1px;
}
.mioga .dijitSliderImageHandleV {
	border:0px;
	width:20px;
	height:15px;
	background:url("../images/sliderThumb.png") no-repeat center center;
	#background:url("../images/sliderThumb.gif") no-repeat center center;
}
.mioga .dijitSliderFocused .dijitSliderImageHandleV {
	background-image:url("../images/sliderThumbFocus.png");
	#background-image:url("../images/sliderThumbFocus.gif");
}
.mioga .dijitSliderBottomBumper {
	border-bottom-width: 1px;
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFullVertical.png") repeat-y bottom left;
}
.mioga .dijitSliderTopBumper {
	background: #dcdcdc url("../images/sliderEmptyVertical.png") repeat-y top left;
	border-color: #b4b4b4;
	border-top-width: 1px;
}
.mioga .dijitSliderIncrementIconH,
.mioga .dijitSliderIncrementIconV {
	background:url('../images/spriteRoundedIconsSmall.png') no-repeat -45px top;
	#background:url('../images/spriteRoundedIconsSmall.gif') no-repeat -45px top;
	width:15px; height:15px;
}
.mioga .dijitSliderIncrementIconH {
	background:url('../images/spriteRoundedIconsSmall.png') no-repeat -30px top;
	#background:url('../images/spriteRoundedIconsSmall.gif') no-repeat -30px top;
}
.mioga .dijitSliderDecrementIconH,
.mioga .dijitSliderDecrementIconV {
	width:15px;
	height:15px;
	background:url('../images/spriteRoundedIconsSmall.png') no-repeat -15px top;
	#background:url('../images/spriteRoundedIconsSmall.gif') no-repeat -15px top;
}
.mioga .dijitSliderDecrementIconH {
	background:url('../images/spriteRoundedIconsSmall.png') no-repeat 0px top;
	#background:url('../images/spriteRoundedIconsSmall.gif') no-repeat 0px top;
}
.mioga .dijitSliderButtonInner {
	visibility:hidden;
}
.mioga .dijitSliderReadOnly *,
.mioga .dijitSliderDisabled * {
	border-color: #d5d5d5 #bdbdbd #bdbdbd #d5d5d5;
	color: #bdbdbd;
}
.mioga .dijitSliderReadOnly .dijitSliderDecrementIconH,
.mioga .dijitSliderDisabled .dijitSliderDecrementIconH {
	background-position: 0px -15px;
}
.mioga .dijitSliderReadOnly .dijitSliderIncrementIconH,
.mioga .dijitSliderDisabled .dijitSliderIncrementIconH {
	background-position: -30px -15px;
}
.mioga .dijitSliderReadOnly .dijitSliderDecrementIconV,
.mioga .dijitSliderDisabled .dijitSliderDecrementIconV {
	background-position: -15px -15px;
}
.mioga .dijitSliderReadOnly .dijitSliderIncrementIconV,
.mioga .dijitSliderDisabled .dijitSliderIncrementIconV {
	background-position: -45px -15px;
}
