table.top_menu {
    margin-bottom: 1em;
}

td {
  vertical-align: top;
}

div.categories {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.categories ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.categories ul li {
    padding: 0.5em;
    margin: 0px;
    position: relative;
    zoom: 1; /* hack for IE */
}

.categories .sbox ul li {
    padding-right: 48px;
}

img.edit {
    position: absolute;
    right: 26px;
    top: 5px;
}

img.delete {
    position: absolute;
    right: 5px;
    top: 5px;
}

img.validate {
    position: absolute;
    right: 68px;
    top: 5px;
}

img.decline {
    position: absolute;
    right: 47px;
    top: 5px;
}

.categories form {
    display: inline;
    margin: 0px;
    padding: 0px;
}

div.articles-box {
    margin: 0px;
    padding: 0px;
}

div.articles, div.form {
    margin-right: 0.5em;
}

div.article {
    margin-bottom: 1em;
}

div.article pre.chapo {
    font-weight: bold;
    font-style: italic;
    color: gray;
    text-align: justify;
    margin-left: 0.4em;
	font-size: medium;
	white-space: pre-wrap;
}

div.article h3.article {
    position: relative;
    zoom: 1; /* hack for IE */
    background-color: #EFEFEF;
    border: 1px gray solid;
    border-top: none;
    margin: 0 0.4em 0.3em 0.4em;
    font-size: 0.9em;
    color: black;
    padding: 0.2em;
}

span.article_id {
    position: absolute;
    right: 0.2em;
}

div.content {
    margin: 0.4em;
    text-align: justify;
}

form input.text, form textarea {
    width: 100%;
}

form fieldset {
    border: none;
}

form p {
    text-align: right;
    padding-right: 0.5em;
}

form input.submit {
    font-weight: bold;
    border: double;
    padding: 0.2em;
}

input#header {
    font-style: italic;
}

img {
    border: 0px;
}

h2 {
    position: relative;
    zoom: 1; /* hack for IE */
}

div#options-box {
    position: fixed !important;
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 20%;
    width: 50%;
    margin-left: -25%;
}

div.edit-box {
    margin: 0.2em 0.5em;
}

div#download-box {
    position: fixed !important;
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 10%;
    width: 60%;
    margin-left: -30%;
}

span.current {
    font-weight: bold;
    background-color: white;
}

span.current:hover {
    background-color: white;
}

p.error {
    text-align: left;
}

ul.hmenu {
    text-align: right;
}

.add_category, .documents, .new_article, .options, .drafts, .disabled_new_article, .back, .download, .edition {
    padding-left: 20px;
}

.add_category {
    background: no-repeat url('../images/16x16/actions/bookmark-new.png') center left;
}

.documents {
    background: no-repeat url('../images/16x16/actions/documentation.png') center left;
}

.options {
    background: no-repeat url('../images/16x16/actions/document-properties.png') center left;
}

.new_article {
    background: no-repeat url('../images/16x16/actions/document-new.png') center left;
}

.drafts {
    background: no-repeat url('../images/16x16/actions/document-preview.png') center left;
}

.disabled_new_article {
    background: no-repeat url("../images/16x16/actions/document-new.png") center left;
    text-decoration: underline;
    color: #7f7f7f;
}

.back {
    background: no-repeat url("../images/16x16/actions/go-previous.png") center left;
}

.download {
    background: no-repeat url("../images/16x16/actions/download.png") center left;
}

.edition {
    background: no-repeat url("../images/16x16/actions/document-edit.png") center left;
}

div#disable-window {
    position: fixed !important;
    position: absolute;
    z-index: 5;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: url('../images/bg_disabled.png');
}

p.tip {
    color: #999;
    margin: 0;
    font-style: italic;
    font-size: 0.5em;
    text-align: justify;
}

p.information {
    margin: 2em 1em;
    text-align: center;
    font-style: italic;
}

#indicator img {
    vertical-align: middle;
}

div#comments {
    margin-right: 1em;
}

div#comments form p {
    text-align: left;
}

div#comments form p.error {
    text-align: center;
}

div#comments form input.text, div#comments form textarea {
    width: 100%;
}

div.comment {
    margin-left: 1em;
    padding-left: 0.5em;
}

div.comment h2 {
    font-style: italic;
    background-color: #EFEFEF;
    border: 1px solid gray;
    padding: 0.2em;
    margin-bottom: 0px;
}

div.comment p.infos {
    margin: 0.2em;
    margin-bottom: 1em;
}

div.comment div.contents {
    border-left: 1px dotted gray;
    padding-left: 1em;
}

p.comments_number {
    font-style: italic;
    margin: 0.2em;
}

.articles-menu {
	float: right;
}

textarea.mceEditor {
	width: 100%;
	height: 30em;
}

textarea#header {
	width: 100%;
}
