table.top_menu {
    margin-bottom: 1em;
}

form input.text, form textarea {
    width: 100%;
}

form fieldset {
    border: none;
}

form p {
    text-align: right;
    padding-right: 0.5em;
}

form input.submit {
    font-weight: bold;
    border: double;
    padding: 0.2em;
}

input#title {
    font-size: large;
}

input#header {
    font-style: italic;
}

.title_bg_color {
    color: white;
    text-align: left;
}

.booking table {
    margin: 0 0 0.5em 0;
}

.booking td {
    padding: 0.2em;
}

.subtitle {
    background: #EEE;
    font-size: xx-small;
    font-style: italic;
    font-weight: normal;
}

.centered {
    text-align: center;
}

div.container {
    margin: 0 0.5em;
}

td.resource {
    padding-left: 0.5em;
}

td.resource div {
    zoom: 1; /* Hack for IE */
    position: relative;
}

a.new-document, a.view, a.edit {
    padding-left: 20px;
}

a.view {
    background: url("../images/16x16/actions/edit-find.png") top left no-repeat;
}

a.new-document {
    background: url("../images/16x16/actions/document-new.png") top left no-repeat;
}

a.edit {
    background: url("../images/16x16/actions/document-edit.png") top left no-repeat;
}

a.delete img {
    position: absolute;
    border: 0px;
    top: 0px;
    right: 5px;
}

div.no-such-booking {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

div.no-such-booking div.sbox {
	text-align: justify;
}
