.messagebox {
}

.messagebox .importcheckbox {
	float: left;
}

.importboxitem div.importtext {
	float: left;
	padding-left: 1em;
	padding-bottom: 1em;
	width: 84%;
}

.messagebox .importtext .original {
	font-style: italic;
}

.messagebox .importtext .destination {
	font-weight: bold;
}

.messageboxitem {
	overflow: auto;
	width: 100%;
}

.messagebox .linenr {
	display: inline;
	font-style: italic;
	margin-right: 0.5em;
}

.messagebox .element {
	display: inline;
}

.messagebox .message {
	font-weight: bold;
	margin-left: 1em;
	padding-bottom: 1em;
}

ul.button_list {
	display: none;
}
