
html, body {
	height: 100%;
	width: 100%;
}

ul.actions {
	list-style-type: none;
    margin: 0.5em;
    padding: 0px;
    margin-bottom: 0.3em;
}

.actions li {
	display:block;
    margin: 0px;
    padding: 2px;
}
.actions li:hover {
	background-color: #c0c0c0;
}

.actions a {
	display:block;
    margin: 0px;
    padding: 0;
	text-decoration:none;
}


h2, p {
	margin:1px 0;
}

#tbl_edit_user td {
	vertical-align:top;
}

div.mini-list-selected {
	height:9em;

}

.mioga .dijitTextArea {
	margin: 0 0.1em;
}

.importbox {
}

.importboxitem {
	overflow: auto;
	width: 100%;
}

.importbox .importcheckbox {
	float: left;
}

.importbox .importtext {
	float: left;
	padding-left: 1em;
	padding-bottom: 1em;
	width: 84%;
}

.importbox .linenr {
	display: inline;
	font-style: italic;
	margin-right: 0.5em;
}

.importbox .importtext .original {
	display: inline;
}

.importbox .importtext .destination {
	font-weight: bold;
}

ul.import-helper {
	list-style-type: none;
	margin-top: 0px;
	margin-bottom: 1em;
	padding: 0px;
	text-align: right;
}

ul.import-helper li {
	display: inline-block;
}

.messagebox {
}

.messagebox .importcheckbox {
	float: left;
}

.importboxitem div.importtext {
	float: left;
	padding-left: 1em;
	padding-bottom: 1em;
	width: 84%;
}

.messagebox .importtext .original {
	font-style: italic;
}

.messagebox .importtext .destination {
	font-weight: bold;
}

ul.instance-list {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	font-style: italic;
}

ul.instance-list li {
	display: inline-block;
}

.messageboxitem {
	overflow: auto;
	width: 100%;
}

.messagebox .linenr {
	display: inline;
	font-style: italic;
	margin-right: 0.5em;
}

.messagebox .element {
	display: inline;
}

.messagebox .message {
	font-weight: bold;
	margin-left: 1em;
	padding-bottom: 1em;
}

.errorbox {
	text-align: right;
}

.error_block .list {
	width: 50%;
	margin-left: 50%;
	text-align: left;
}

.edit_user_dialog {
	width: 40em;
}

#form_submit_iframe {
	overflow: hidden;
	width: 1px;
	height: 1px;
	border: 1px solid white;
}

#widget_instance_selector {
	width: 98%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#DownloadProgress {
	width: 30em;
}

div#instances_list {
	margin-left: 9.5em;
}

.dijitTooltip {
	max-width: 30em;
}

.form label {
	width: 10em;
}

.bottin-input, textarea.bottin-input, .form input, .form select {
	width: 25em;
}

input[type=checkbox] {
	width: auto;
}

div.box {
	margin-top: 5px;
	margin-left: 5px;
}

div.loading {
	background-image: url(../images/16x16/actions/view-refresh.png);
	background-repeat: no-repeat;
	background-position: center;
}

div.import-users {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
}

div.form-container {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5em;
}

.form-container .form {
	margin: 1em;
}

.form-container input {
	width: 25em;
}

.form-container .filter-field {
	width: 23.5em;
}

div.footnote {
	text-align: right;
	margin-right: 0.2em;
	font-style: italic;
}

.count-container {
	text-align: center;
	font-weight: bold;
}

p.processing-label {
	display: none;
	text-align: center;
}

div.error-page {
	width: 44em;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
}
