* {
	color: #404040;
}

input {
	color: #404040;
}

/* ========================================
	Classes to generalize to mioga.css
   ======================================== */
div.row {
	display: inline-block;
	width: 100%;
}

.fluid [class*="span"] {
	float: left;
	margin-left: 1%;
}

.fluid [class*="span"]:first-child {
	margin-left: 0px;
}

.fluid .span1 {
	width: 7.4166666667%;
}

.fluid .offset1:first-child {
	margin-left: 8.4166666667%;
}

.fluid .offset1 {
	margin-left: 9.4166666667%;
}

.fluid .span2 {
	width: 15.8333333333%;
}

.fluid .offset2:first-child {
	margin-left: 16.8333333333%;
}

.fluid .offset2 {
	margin-left: 17.8333333333%;
}

.fluid .span3 {
	width: 24.25%;
}

.fluid .offset3:first-child {
	margin-left: 25.25%;
}

.fluid .offset3 {
	margin-left: 26.25%;
}

.fluid .span4 {
	width: 32.6666666667%;
}

.fluid .offset4:first-child {
	margin-left: 33.6666666667%;
}

.fluid .offset4 {
	margin-left: 34.6666666667%;
}

.fluid .span5 {
	width: 41.0833333333%;
}

.fluid .offset5:first-child {
	margin-left: 42.0833333333%;
}

.fluid .offset5 {
	margin-left: 43.0833333333%;
}

.fluid .span6 {
	width: 49.5%;
}

.fluid .offset6:first-child {
	margin-left: 50.5%;
}

.fluid .offset6 {
	margin-left: 51.5%;
}

.fluid .span7 {
	width: 57.9166666667%;
}

.fluid .offset7:first-child {
	margin-left: 58.9166666667%;
}

.fluid .offset7 {
	margin-left: 59.9166666667%;
}

.fluid .span8 {
	width: 66.3333333333%;
}

.fluid .offset8:first-child {
	margin-left: 67.3333333333%;
}

.fluid .offset8 {
	margin-left: 68.3333333333%;
}

.fluid .span9 {
	width: 74.75%;
}

.fluid .offset9:first-child {
	margin-left: 75.75%;
}

.fluid .offset9 {
	margin-left: 76.75%;
}

.fluid .span10 {
	width: 83.1666666667%;
}

.fluid .offset10:first-child {
	margin-left: 84.1666666667%;
}

.fluid .offset10 {
	margin-left: 85.1666666667%;
}

.fluid .span11 {
	width: 91.5833333333%;
}

.fluid .offset11:first-child {
	margin-left: 92.5833333333%;
}

.fluid .offset11 {
	margin-left: 93.5833333333%;
}

.fluid .span12 {
	width: 100%;
}

div.row [class*="span"] .button {
	width: 100%;
}

/* ========================================
	Placeholder colors, to be moved to mioga.css
   ======================================== */
::-webkit-input-placeholder {
    color:    #999;
}
:-moz-placeholder {
    color:    #999;
}
::-moz-placeholder {
    color:    #999;
}
:-ms-input-placeholder {
    color:    #999;
}

/* ========================================
	progress-bar
   ======================================== */
.app-progressbar-cont {
	position:absolute;
	top 0;
	left:0;
	width:100%;
	height:100%;
	z-index:100;
	background-color: white;
}
.app-progressbar-cont > h1 {
	margin-top:2em;
	text-align:center;
}
.app-progressbar-cont > .app-progressbar {
	width:50%;
	margin:auto;
}

/* ========================================
	Dropdown
   ======================================== */
div.inline-chooser {
	width: 12em;
	display: inline-block;
}

div.inline-chooser:hover {
	background-color: #EDF4FF;
}

ul.dropdown {
	display: inline-block;
	float: right;
	vertical-align: middle;
	margin-left: 1em;
	z-index: 0;
}

ul.dropdown:hover {
	z-index: 599;
}

ul.dropdown li {
	padding: 0px;
	padding-left: 0.5em;
	padding-right: 0.5em;
	border: none;
	background: none;
}

ul.dropdown li.dir {
	background: none;
	color: #E0E0E0;
	margin-left: 1em;
}

div.inline-chooser:hover ul.dropdown li.dir {
	color: inherit;
}

ul.dropdown li.dir ul {
	left: inherit;
	right: 0;
	border: 1px solid #8AC4FF;
	background: white;
}

ul.dropdown ul {
    width: 12em;
}

/* ========================================
	Common styles
   ======================================== */
div.cantor-main {
	margin-top: 2em;
}

ul.button_list {
	text-align: left;
	margin-bottom: 0.5em;
}

table {
	width: 100%;
	border-collapse: collapse;
}

div.cantor-survey div.row {
	margin-top: 2em;
}

div.content {
	margin-left: 2em;
	padding: 0.15em;
}

div.content table th, div.content table td {
	text-align: left;
	vertical-align: top;
}

div.content table th {
	width: 15em;
}

span.error-message {
	background: url(../images/16x16/emblems/emblem-important.png) no-repeat scroll left center;
	margin-left: 1em;
	padding-left: 20px;
	color: red;
	font-size: xx-small;
}

div.inline-message {
	position: relative;
	margin-top: -2em;
	height: 2em;
}

div.inline-message p {
	margin-top: 0px;
	padding-top: 3px;
	background-position: 10px 5px;
}

div.inline-message p.info {
	background-image: url("../images/16x16/emblems/emblem-info.png");
}

div.inline-message p.error {
	background-image: url("../images/16x16/emblems/emblem-important.png");
}

div.sbox div.content {
	margin-left: 0px;
}

.mioga-ui-dialog input {
	width: 25em;
}

.mioga-ui-dialog p {
	margin-top: 1.5em;
}

/* ========================================
	Plugin Matrix Survey Cantor
   ======================================== */
table.cantor_matrix_survey {
	width: auto;
}

table.cantor_matrix_survey tr.is-me th.th_attendee_style, table.cantor_matrix_survey tr.is-me td {
	background-color: #CCFFCC;
}

table.cantor_matrix_survey tr th{
	width: auto;
}

table.cantor_matrix_survey tr th.th_none_style{
	border: none;
	background: none;
}

table.cantor_matrix_survey tr th.th_date_style{
	text-align: center;
	width: 9em;
}

table.cantor_matrix_survey tr th.th_attendee_style {
	background: #E6E6E6;
	background-image: none;
}

table.cantor_matrix_survey tr th.th_resource_style{
	background: #FFE6E6;
	background-image: none;
}

div.div_container_date {
	margin: 0 auto;
    position: relative;
	width: 8em;
}

div.item-delete {
	float:right;
}

.item-create {
	height: 16px;
	width: 16px;
	display: inline-block;
	background: transparent url('../images/16x16/actions/list-add.png') no-repeat scroll right center;
	vertical-align: middle;
	margin-right: 0.5em;
	cursor: pointer;
	text-indent: -9999px;
}

.matrixcantor-appointement.can-modify {
	cursor: pointer;
}

.matrixcantor-appointement-selected {
	background: url("../images/16x16/actions/dialog-ok-apply.png") no-repeat scroll center;
}

div.th_date_style {
	width: 6em;
    margin: 0 1em;
}

.el-container{
    display: table;
    width: 100%;	
}	

.el-container-table{
	width: auto;
	float: left;
	padding-bottom: 0.5em;
}
.el-container-adddate{
	float: left;
}

.el-container-addattendee {
	width: 100%;
	float: left;
}

.contener-item-delete-attendee, .contener-item-delete-resource, .contener-item-delete-date {
	height: 16px;
	width: 16px;
	float: right;
	margin-right: 5px;
}

.contener-item-delete-date {
	margin-right: 0px;
}

.item-delete {
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url("../images/16x16/actions/trash-empty.png") no-repeat scroll right center;
	vertical-align: middle;
	margin-left: 0.5em;
	text-indent: -9999px;
	cursor: pointer;
}

.item-create-date{
	width: 32px;
	height: 32px;
	display: inline-block;
	background: url("../images/32x32/actions/appointment-new.png") no-repeat scroll right center;
	vertical-align: middle;
	margin-left: 0.5em;
	cursor: pointer;
	text-indent: -9999px;
}

div.user-select-dialog, div.resource-select-dialog, div.team-select-dialog {
	height: 100%;
}

#tab-select-users, #tab-select-teams, #tab-select-resources {
	height: 82%;
	position: relative;
}

#tab-search-mail input {
	width: 25em;
}

#tab-search-mail button {
	margin-left: 0.5em;
}

#tab-search-mail div.mail-search-results {
	text-align: center;
	margin-top: 2em;
}

div.dialog-tabs {
	height: 90%;
}

div.ui-datepicker {
	width: 100%;
}

.ui-dialog ul.button_list {
	text-align: right;
	padding-right: 1.5em;
}

div.row .el-container-addattendee button.button {
	width: auto;
}

/*--- Dialog box ---*/
#dialog_box_date, #dialog_box_attendee{
	padding: 5px;
}

#dialog_box_date span, #dialog_box_attendee span{
	color: #0332B2;
	font-weight: 700;
}

#dialog_box_date input{
	text-align: center;
	padding-right: 5px;
	width: 11em;
}

#dialog_box_attendee input{
	width: 98%;
}

/* ========================================
	Main page
   ======================================== */
.my-surveys th.delete-container, .my-surveys td.delete-container {
	width: 16px;
}

.my-surveys td.delete-container span.item-delete {
	margin-left: 0px;
}

div.solicitation td.status div.answered {
	background-image: url('../images/16x16/actions/dialog-ok-apply.png');
	height: 16px;
	width: 16px;
}

/* ========================================
	CantorSurveyEdit Page
   ======================================== */
ul.button_list.back-btn-container {
	margin-bottom: 1.5em;
}

.survey-edit textarea, .survey-edit input {
	width: 35em;
	padding: 0.15em 0;
}

table.table-survey {
	padding: 0.15em;
}

.survey-edit input.survery-attribute-duration {
	width: 5em;
}

/* ========================================
	UserSelect : CantorSurveyEdit
   ======================================== */
 #us-cont-id{
 	height:inherit;
 	margin:0;
 	padding:0;
 }
 
  
