/* Global options */

body {
	width:100%;
	height:100%;
}

.tablesorter-headerAsc .tablesorter-header-inner {
	background-image: url("../images/16x16/actions/arrow-down.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: right;
	padding-right:16px;
}
.tablesorter-headerDesc .tablesorter-header-inner {
	background-image: url("../images/16x16/actions/arrow-up.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: right;
	padding-right:16px;
}

.chronos-button {
	background-color: #ffa857;
}

.chronos-box {
	margin-top:1em;
}

.chronos-box > h2 {
	font-size:90%;
	position:relative;
	padding-left:1em;
	padding-right:20px;
	margin-top:0;
	margin-bottom:0.2em;
	padding:0;
}

.chronos
  ,.chronos input
  , .chronos select {
	color:#404040;
}

.chronos .sbox {
	margin-top : 1em;
	margin-left:1em;
	margin-right:1em;
}

/* ========================================
	chronos-form and children
   ======================================== */

input.error {
	border: 1px solid red;
}

.chronos-form label {
/*	display:block;*/
}
.chronos-form input {
	/*display:block;*/
}

.input-group {
	margin-left:11em;
}

/* ========================================
	app-nav
   ======================================== */
.app-nav {
	margin:0.5em;
}

.app-nav button {
	margin-left:0.5em;
}

.app-nav .main-return {
	border:1px solid #e6e6e6;
	padding:0.3em;
}
/* ========================================
	Main View
   ======================================== */

.chronos-main {
	position:relative;
	padding-top:1em;
}
	/* sidebar */

.chronos-sb {
	position:absolute;
	top:0;
	left:0;
	width:195px;
	overflow:hidden;
	padding-top:2em;
	padding-left:0.2em;
	padding-right:0.2em;
}

#chronos-create-btn {
	display: block;
	border: 1px solid black;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: bold;
    margin: auto;
    padding: 0.2em;
    text-align: center;
}
.chronos-minical {
	margin-top:1em;
}
.cal-list-title {
	position:relative;
}
.list-edit {
	position:absolute;
	top:0;
	right:0;
	display:block;
	width:16px;
	height:16px;
	background-image: url("../images/16x16/actions/document-edit.png");
	background-repeat:no-repeat;
	background-position:left center;
	overflow:hidden;
	text-indent:-99999px;
}

/* legend of categories */
.legend-cont {
	width : auto;
	display : inline-block;
	/* margin-left : 200px; */
	white-space: normal;
	text-align: left;
}
.legend-cont .legend-title-cont {
	background-color: #E6E6E6;
	border: 1px solid #999999;
	border-radius: 3px;
	display: inline-block;
	height: 1.9em;
	line-height: 1.9em;
	overflow: hidden;
}
.legend-cont .legend-title-cont:hover {
	background-color: #CCCCCC;
	cursor : pointer;
}
.legend-cont .legend-title {
	line-height : 1.7;
	padding : 1px;
	padding-left : 5px;
	padding-right : 30px;
}

.legend-cont .icon-down {
	position : absolute;
	right : 0;
	top : 0;
	
	background-image: url("../images/16x16/actions/arrow-down.png");
	background-repeat: no-repeat;
	background-position : center;
	display : block;
	width : 32px;
	height : 100%;
	margin : 0 auto;
}
.legend-cont .item-label {
	padding-right : 30px;
}

.legend-cont .item {
	position: relative;
	padding-top : 5px;
	padding-bottom : 5px;
	cursor : pointer;
}
.legend-cont .item:hover {
	background-color: #F5F5F5;
}
.legend-cont .legend-list {
	background-color : white;
	overflow: auto;
	min-height : 160px;
	max-height : 350px;
	width : 450px;
	box-shadow: -1px 1px 4px #555555 inset;
	cursor : move;
}
.legend-cont .legend-list .legend-action button {
	cursor : pointer;
}

.legend-cont .cat {
	position : relative;
	vertical-align : top;
	display : inline-block;
	padding : 7px;
	width : 120px;
}
.legend-cont .cat:hover {
	background-color: #E0E2E6;
}
.legend-cont .cat .col {
	display : block;
	position : absolute;
	width : 25px;
	height : 16px;
}
.legend-cont .cat p {
	text-align : left;
	margin : 0;
	margin-left : 35px;
}

/* ========================================
	Calendar list
   ======================================== */

.calchoice-list {
	padding:0.1em;
	list-style:none;
	margin:0;
}
.calchoice-list-title {
	margin:0;
	margin-top:0.1em;;
	margin-left:16px;
	font-size:90%;
}
.list-edit {
	cursor:pointer;
	display:block;
	position:absolute;
	right:5px;
	top:0px;
	width:16px;
	height:16px;
	background-image: url("../images/16x16/actions/document-edit.png");
	background-repeat:no-repeat;
	background-position:left center;
	overflow:hidden;
	text-indent:-99999px;
}
.calchoice-item {
	padding:0.1em;
	position:relative;
	height:1.3em;
}
.calchoice-item p {
	margin:0px;
	padding:0px;
	margin-right:16px;
	margin-left:32px;
	overflow:hidden;
	height:1.3em;
}
.calchoice-item .cal-ident {
	display:block;
	overflow:hidden;
	left:36px;
	white-space:nowrap;
}
.calchoice-item:hover {
	background-color:#e0e0e0;
}
.cal-selected {
	background-image: url("../images/16x16/actions/arrow-right.png");
	background-repeat:no-repeat;
	background-position:right center;
}
.calchoice-item .cal-hidden {
	display:block;
	position:absolute;
	width:16px;
	height:16px;
	background-image: url("../images/16x16/actions/dialog-cancel.png");
	background-repeat:no-repeat;
	background-position:left center;
	overflow:hidden;
	text-indent:-99999px;
	cursor:pointer;
}
.calchoice-item .cal-visible {
	display:block;
	position:absolute;
	width:16px;
	height:16px;
	background-image: url("../images/16x16/actions/dialog-ok-apply.png");
	background-repeat:no-repeat;
	background-position:left center;
	overflow:hidden;
	text-indent:-99999px;
	cursor:pointer;
}
.calchoice-item .read-write {
	background-image: url("../images/16x16/status/security-high.png");
	background-repeat:no-repeat;
	background-position:left center;
	position:absolute;
	left:16px;
	width:16px;
	height:16px;
	overflow:hidden;
	text-indent:-99999px;
	margin-right:0.3em;
}
.calchoice-item .read-only {
	background-image: url("../images/16x16/status/security-medium.png");
	background-repeat:no-repeat;
	background-position:left center;
	position:absolute;
	left:16px;
	width:16px;
	height:16px;
	overflow:hidden;
	text-indent:-99999px;
	margin-right:0.3em;
}
/* ========================================
	minical component
   ======================================== */

/* ========================================
	fullcalendar component
   ======================================== */

.chronos-fc {
	margin-left:200px;
	padding:0.6em;
}

.fc-agenda-axis.ui-widget-header
 ,.fc-agenda-gutter.ui-widget-header
 , .fc-agenda-divider.ui-widget-header {
	background-image:none;
	background-color:#e6e6e6;
}
.fc-agenda-axis.fc-first.ui-widget-header
 ,.fc-agenda-gutter.ui-widget-header.fc-last {
	background-image:url(../images/jquery-ui/ui-bg_highlight-hard_75_bcd5f0_1x100.png);
	background-color:#bcd5f0;
}

.fc-color-block {
	position:absolute;
	top:0;
	right:0;
	width:1em;
	height:100%;
}
.fc-event-title, .fc-event-desc {
	margin-right:1em;
}
/* to legend category plugin*/
.fc-header-left {
	width: 30%;
}
.fc-header-center {
	width : 0;
}
.fc-header-right {
	width: 70%; 
}
/* ========================================
	progress-bar
   ======================================== */
.app-progressbar-cont {
	background-color:#ffffff;
	position:absolute;
	top 0;
	left:0;
	width:100%;
	height:100%;
	z-index:100;
}
.app-progressbar-cont > h1 {
	margin-top:2em;
	text-align:center;
}
.app-progressbar-cont > .app-progressbar {
	width:50%;
	margin:auto;
}


/* ========================================
	Config Editor
   ======================================== */
.user-select {
	height : 300px;
}
.cal-block {
	margin:1em;
}
.cal-block > h2 {
	margin:0;
	margin-top:1em;
}

.cal-block .cal-list {
	padding:0.1em;
	list-style:none;
	margin:0;
	width:100%;
}
.cal-list-item {
	min-height:2em;
	position:relative;
	border-bottom:1px solid #a0a0a0;
	padding-bottom:1px;
	margin-bottom:5px;
}

.cal-list-item .calendar-item {
	display:inline-block;
}

.cal-list .cal-ident {
	display:inline-block;
	width:200px;
	overflow:hidden;
	padding:1px;
	white-space:nowrap;
}
.cal-suppress {
	display:inline-block;
	width:16px;
	height:16px;
	background-image: url("../images/16x16/actions/edit-delete.png");
	background-repeat:no-repeat;
	background-position:left center;
	overflow:hidden;
	text-indent:-99999px;
	margin-right:0.3em;
}
.cal-list .cal-export {
	display:inline-block;
	margin-left:0.2em;
}

.cal-list-item .calendar-access-rights {
	display:inline-block;
}

.calendar-access-rights .access-label {
	display:inline-block;
	vertical-align:top;
	padding:2px;
	padding-right:5px;

}

.calendar-access-rights .access-right-list {
	list-style:none;
	display:inline-block;
	margin:0;
	padding:0;
}
.access-right-list p {
	margin:0px;
}
.access-suppress {
	visibility:hidden;
	display:inline-block;
	width:16px;
	height:16px;
	background-image: url("../images/16x16/actions/edit-delete.png");
	background-repeat:no-repeat;
	background-position:left center;
	overflow:hidden;
	text-indent:-99999px;
	margin-right:0.3em;
}

.access-right-list .team-access {
	background-image: url("../images/16x16/places/system-users.png");
	background-repeat:no-repeat;
	background-position:left center;
	display:inline-block;
	width:16px;
	height:16px;
	overflow:hidden;
	text-indent:-99999px;
	margin-right:0.3em;
	vertical-align:baseline;
}
.access-right-list .user-access {
	background-image: url("../images/16x16/places/user-identity.png");
	background-repeat:no-repeat;
	background-position:left center;
	display:inline-block;
	width:16px;
	height:16px;
	overflow:hidden;
	text-indent:-99999px;
	margin-right:0.3em;
	vertical-align:baseline;
}
span.read-write {
	background-image: url("../images/16x16/status/security-high.png");
	background-repeat:no-repeat;
	background-position:left center;
	display:inline-block;
	width:16px;
	height:16px;
	overflow:hidden;
	text-indent:-99999px;
	margin-right:0.3em;
}
span.read-only {
	background-image: url("../images/16x16/status/security-medium.png");
	background-repeat:no-repeat;
	background-position:left center;
	display:inline-block;
	width:16px;
	height:16px;
	overflow:hidden;
	text-indent:-99999px;
	margin-right:0.3em;
}

.add-new-cont {
	margin-left:1em;
}

.add-new-cont select {
	width:15em;
}

.add-new {
	background-image: url("../images/16x16/actions/list-add.png");
	background-repeat:no-repeat;
	background-position:left center;
	padding-left:3px;
	display:inline-block;
	width:16px;
	height:16px;
	overflow:hidden;
	text-indent:-99999px;
}

.form select.color-mode {
	width:30em;
}
.oparams .form label {
	width:20em;
}

.oparams {
	max-width:65em;
}

.oparams .form-buttons {
	text-align:left;
	padding-left: 11em;
}

.access-right-dialog {
	height:85%;
}

/* =========================================
	EventEditor
   ======================================= */

.event-editor textarea {
	width:20em;
	height:4em;
}

input.number3 {
	width:3em;
}

.category-color {
	margin-left:0.5em;
	display:inline-block;
	width:1em;
	height:1em;
}
/* =========================================
	Project Task Editor
   ======================================= */

table.list {
	width:98%;
	margin-left:auto;
	margin-right:auto;
}

.task-table .pt-event-set {
	background-image: url("../images/16x16/actions/dialog-ok-apply.png");
	background-repeat:no-repeat;
	background-position:left center;
	display:inline-block;
	width:16px;
	height:16px;
	overflow:hidden;
	text-indent:-99999px;
	margin-right:0.3em;
	text-align:center;
}
.task-table .pt-event-unset {
	background-repeat:no-repeat;
	background-position:left center;
	display:inline-block;
	width:16px;
	height:16px;
	overflow:hidden;
	text-indent:-99999px;
	margin-right:0.3em;
	text-align:center;
}

.attendee.pt-dstart, .attendee.pt-dend {
	background-color:#f0f0f0;
}
.task-table .project-info {
	background-color:#f0f0f0;
}
