/* Special */

html, body {
	height: 100%;
	width: 100%;
}

h1 {
	font-size:150%;
	font-weight:bold;
	margin:0.5em;
}

div#user_actions {
	float:left;
	width:10em;
}

/* Admin */

#users_infos, #groups_infos, #teams_infos, #misc_infos {
	padding-left:128px;
	min-height:128px;
}
.ie_hack1 { /* for min-height */
	height:128px;
	width:1px;
	float:right;
}
.ie_hack2 { /* for min-height */
	height:1px;
	clear:both;
	overflow:hidden;
}
#users_infos {
	background:transparent url(../images/128x128/places/user-identity.png) no-repeat scroll 0 0;
}
#groups_infos {
	background:transparent url(../images/128x128/actions/resource-group.png) no-repeat scroll 0 0;
}
#teams_infos {
	background:transparent url(../images/128x128/places/system-users.png) no-repeat scroll 0 0;
}
#misc_infos {
	background:transparent url(../images/128x128/actions/preferences-system.png) no-repeat scroll 0 0;
}
.block_info {
	width:80%;
	margin:0.5em auto;
}

#users_actions, #groups_actions, #teams_actions, #misc_actions {
	float:right;
	width:20em;
}
ul.actions {
	list-style-type: none;
    margin: 0.5em;
    padding: 0px;
    margin-bottom: 0.3em;
}

.actions li {
	display:block;
    margin: 0px;
    padding: 2px;
}
.actions li:hover {
	background-color: #c0c0c0;
}

.actions a {
	display:block;
    margin: 0px;
    padding: 0;
	text-decoration:none;
}


h2, p {
	margin:1px 0;
}

#tbl_edit_user td {
	vertical-align:top;
}

.errorbox h1 {
	text-align: left;
}

#select-field-users {
	width:10em;
}

#select-field-users label {
	width:3em;
}
#select-field-users #vf_list {
	width:6em;
}

#external-users-container {
	height: 300px;
}

#external_user_invite_form, #resource_form {
	width: 42em;
}

/* Tab images */

#image_user-attributes-tab, #image_group-users-tab, #image_team-users-tab, #image_application-users-tab {
	background: url(../images/64x64/places/user-identity.png) no-repeat scroll center;
}

#image_user-groups-tab, #image_group-attributes-tab, #image_team-groups-tab, #image_application-groups-tab {
	background: url(../images/64x64/actions/resource-group.png) no-repeat scroll center;
}

#image_user-teams-tab, #image_group-teams-tab, #image_team-attributes-tab {
	background: url(../images/64x64/places/system-users.png) no-repeat scroll center;
}

#image_user-apps-tab, #image_group-apps-tab {
	background: url(../images/64x64/categories/preferences-other.png) no-repeat scroll center;
}

span.group-ident, span.user-ident, span.team-ident, span.application-ident {
	font-size: inherit;
}

div.loading {
	background-image: url(../images/16x16/actions/view-refresh.png);
	background-repeat: no-repeat;
	background-position: center;
}

.block_info p {
	width: 15em;
	padding: 0.2em;
	cursor: pointer;
}

.block_info p:hover {
	background-color: #60A1EA;
	color: white;
}

.block_info .count {
	float: right;
}

.task-category-label {
	padding: 5px;
}

#upload_skeletons_form label {
	width: 15em;
}

.task_category_dialog {
	width: 35em;
}

.task_category_dialog input {
	width: 15.7em;
}

#edit_user, #edit_group, #edit_team, #edit_application {
	width: 80%;
}

#edit_user label {
	width: 15em;
}

.user-invite-input {
	width: 25em;
}

.import-users-input {
	width: 10em;
}

.edit-resource-input, textarea.edit-resource-input {
	width: 28em;
	font-size: 100%;
}

.task-category-input {
	width: 15.8em;
}

.theme-attributes-input {
	width: 25em;
}

.dijitInputContainer input {
	width: 100%;
}

.dojo-form .radio legend span {
	width: 15em;
}

.dojo-form .radio fieldset {
	padding: 1px 0 0 16em;
}

.dojo-form .radio fieldset label {
	width: auto;
	text-align: left;
}

#password_policy_dialog label {
	width: 25em;
}

.sbox {
	-moz-box-shadow: 5px 5px 5px #888;
	-webkit-box-shadow: 5px 5px 5px #888;
	box-shadow: 5px 5px 5px #888;
}

/* Synthesis */
div.synthesis {
}

div.synthesis-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 90%;
}

.synthesis table {
	width: 100%;
}

.synthesis table tr {
	vertical-align: top;
}

.synthesis table.list tr:hover {
	background-color: #DEDEDE;
}

.synthesis h1 {
	margin-top: 1em;
	text-align: center;
}

.synthesis h2 {
	margin-top: 0px;
}

.synthesis ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.synthesis .group-details ul {
	margin-left: 2em;
}

.synthesis div.profile-info-container {
	margin-left: 2em;
}

.synthesis div.sbox {
	margin-bottom: 2em;
}

.synthesis div.sbox div.content {
	padding: 0.5em;
}

.synthesis div.is-member {
	width: 100%;
	height: 16px;
	background: url(../images/16x16/status/user-available.png) no-repeat scroll center top transparent;
}

/* -------------------
   Rights
   ------------------- */

ul.rights {
	list-style: none;
	margin-left: 2em;
}

ul.rights li {
	padding-left: 20px;
	line-height: 20px;
}

ul.rights li.read-write {
	background: url(../images/16x16/status/security-high.png) no-repeat center left;
}

ul.rights li.read-only {
	background: url(../images/16x16/status/security-medium.png) no-repeat center left;
}

ul.rights li.no-right {
	background: url(../images/16x16/status/security-low.png) no-repeat center left;
}

/* -------------------
   Search forms
   ------------------- */

.search_users_dialog form, .search_groups_dialog form, .search_teams_dialog form {
	margin: 0.5em;
}

.search_users_dialog fieldset, .search_groups_dialog fieldset, .search_teams_dialog fieldset {
	padding: 1em;
}

.search_users_dialog input, .search_groups_dialog input, .search_teams_dialog input {
	width: 25em;
}

.search_users_dialog .filter-field, .search_groups_dialog .filter-field, .search_teams_dialog .filter-field {
	width: 23.8em;
}

.count-container {
	text-align: center;
	font-weight: bold;
}


/* -------------------
   Tag management
   ------------------- */

div#taglist-box {
	width: 100%;
	display: box;
	display: -moz-box;
	display: -webkit-box;
}

div#taglist-actions {
	width: 20%;
	-moz-box-flex: 0;
	-webkit-box-flex: 0;
	box-flex: 0;
}

div#taglist-container {
	width: 80%;
	padding-left: 0.5em;
	padding-right: 0.5em;
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	box-flex: 1;
}

div#taglist-container table.list {
	width: 100%;
}

ul.tag-list {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #DDDDDD;
	list-style-type: none;
}

a.delete-icon {
	text-decoration: none;
}

div.delete-icon {
	width: 16px;
	height: 16px;

	background: url("../images/16x16/actions/edit-delete.png") no-repeat scroll top left transparent;

	display: inline-block;
}

table.list td.filename {
	border-right: none;
}

table.list td.actions {
	border-left: none;
	width: 16px;
}

#edit_group_error_block, #edit_user_error_block, #edit_team_error_block {
	margin-left: 1em;
	margin-right: 1em;
	padding: 5px;
	padding-left: 45px;
	background: url("../images/32x32/emblems/emblem-important.png") no-repeat scroll 5px center transparent;
	min-height: 32px;
	border: 1px solid #DDDDDD;
}

#edit_group_error_block ul, #edit_user_error_block ul, #edit_team_error_block ul, ul.password-policy {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#password-policy-notice {
	text-decoration: underline;
}



/* -------------------
   Journal of operations
   ------------------- */

ul.journal {
	list-style-type: none;
	padding-left: 1em;
	padding-right: 1em;
	margin: 0px;
}

ul.journal li {
	padding-left: 20px;
}

ul.journal li.hidden {
	display: none;
}

ul.journal li.success {
    background: url(../images/16x16/emblems/emblem-info.png) no-repeat center left;
}

ul.journal li.failure {
    background: url(../images/16x16/emblems/emblem-important.png) no-repeat center left;
}

ul.journal li.rollback {
    background: url(../images/16x16/status/dialog-warning.png) no-repeat center left;
	font-style: italic;
}
