/* Special */

html, body {
	height: 100%;
	width: 100%;
}

h1 {
	font-size:150%;
	font-weight:bold;
	margin:0.5em;
	text-align:right;
}

div#user_actions {
	float:left;
	width:10em;
}

/* Admin */

#instances_infos {
	padding-left:128px;
	min-height:128px;
}
.ie_hack1 { /* for min-height */
	height:128px;
	width:1px;
	float:right;
}
.ie_hack2 { /* for min-height */
	height:1px;
	clear:both;
	overflow:hidden;
}
#instances_infos {
	background:transparent url(../images/128x128/actions/preferences-other.png) no-repeat scroll 0 0;
}
.block_info {
	width:80%;
	margin:0.5em auto;
}

#instances_actions {
	height: 2em;
}

ul.actions {
	list-style-type: none;
    margin: 0.5em;
    padding: 0px;
    margin-bottom: 0.3em;
}

.actions li {
	display: block;
    margin: 0px;
    padding: 2px;
    margin-bottom: 0.3em;
}

.actions li:hover {
	background-color: #c0c0c0;
}

.actions a {
	display:block;
    margin: 0px;
    padding: 0;
	text-decoration:none;
}


h2, p {
	margin:1px 0;
}

#tbl_edit_user td {
	vertical-align:top;
}



#select-field-instances {
	width:10em;
}

#select-field-instances label {
	width:3em;
}
#select-field-instances #vf_list {
	width:6em;
}

.dijitTooltip {
	max-width: 25em;
}

.dijitTooltip p {
	text-align: justify;
}

.instance-details {
	margin-top: 1.5em;
}

#reload-list {
	background: url(../images/16x16/actions/view-refresh.png) no-repeat 0 transparent;
	padding-left: 20px;
}

#instance-attributes, #instance-security-attributes, #instance-ldap-attributes, #instance-limits-attributes, #instance-system-attributes {
	width: 100%;
	margin-bottom: 1em;
}

#instance-attributes label {
	width: 15em;
}

#instance-security-attributes label {
	width: 32em;
}

#instance-ldap-attributes label {
	width: 18em;
}

#instance-limits-attributes label {
	width: 15em;
}

#instance-system-attributes label {
	width: 20em;
}

/* Tab images */
#image_instance-attributes-tab {
	background: url(../images/64x64/places/repository.png) no-repeat scroll center;
}

#image_security-attributes-tab {
	background: url(../images/64x64/status/security-high.png) no-repeat scroll center;
}

#image_ldap-attributes-tab {
	background: url(../images/64x64/places/server-database.png) no-repeat scroll center;
}

#image_limits-attributes-tab {
	background: url(../images/64x64/devices/drive-harddisk.png) no-repeat scroll center;
}

#image_system-attributes-tab {
	background: url(../images/64x64/categories/preferences-system-network.png) no-repeat scroll center;
}

#image_instance-apps-tab {
	background: url(../images/64x64/categories/preferences-other.png) no-repeat scroll center;
}

span.instance-ident {
	font-size: inherit;
}

#upload_skeletons_form label {
	width: 15em;
}

div.loading {
	background-image: url(../images/16x16/actions/view-refresh.png);
	background-repeat: no-repeat;
	background-position: center;
}

.instance-attributes-input {
	width: 20em;
}

.instance-security-attributes-input {
	width: 12em;
}

.instance-ldap-attributes-input {
	width: 24em;
}

.instance-limits-attributes-input {
	width: 12em;
}

.instance-system-attributes-input {
	width: 20em;
}

.dijitInputContainer input {
	width: 100%;
}

#edit_instance {
	width: 80%;
}

#edit_instance_error_block {
	margin-left: 1em;
	margin-right: 1em;
	padding: 5px;
	padding-left: 45px;
	background: url("../images/32x32/emblems/emblem-important.png") no-repeat scroll 5px center transparent;
	min-height: 32px;
	border: 1px solid #DDDDDD;
}

#edit_instance_error_block ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}


/* -------------------
   Journal of operations
   ------------------- */

ul.journal {
	list-style-type: none;
	padding-left: 1em;
	padding-right: 1em;
	margin: 0px;
}

ul.journal li {
	padding-left: 20px;
}

ul.journal li.hidden {
	display: none;
}

ul.journal li.success {
    background: url(../images/16x16/emblems/emblem-info.png) no-repeat center left;
}

ul.journal li.failure {
    background: url(../images/16x16/emblems/emblem-important.png) no-repeat center left;
}

ul.journal li.rollback {
    background: url(../images/16x16/status/dialog-warning.png) no-repeat center left;
	font-style: italic;
}
