/* ========================================
	progress-bar
   ======================================== */
.app-progressbar-cont {
	position:absolute;
	top 0;
	left:0;
	width:100%;
	height:100%;
	z-index:100;
	background-color: white;
}
.app-progressbar-cont > h1 {
	margin-top:2em;
	text-align:center;
}
.app-progressbar-cont > .app-progressbar {
	width:50%;
	margin:auto;
}

/* ========================================
	Global styles
   ======================================== */
*, input, select, textarea {
	color: black;
}

body {
	width:100%;
	height:100%;
}

div.form-item {
	margin-bottom: 0.5em;
}

.form-item label {
	width: 20em;
	display:inline-block;
}

.form-item input {
	width: 10em;
	display:inline-block;
}


ul.main-menu {
	height: 3em;
	text-align: right;
}

ul.button_list {
	text-align: left;
}

.button.normal {
	color : grey;
	background : url("../images/titleBar.png") repeat-x scroll left top #FAFAFA;
}

.ui-dialog ul.button_list {
	text-align: right;
}

.fc-agenda-axis.ui-widget-header, .fc-agenda-gutter.ui-widget-header, .fc-agenda-divider.ui-widget-header {
	background-image: none;
	background-color: #e6e6e6;
}

.fc-agenda-axis.fc-first.ui-widget-header,.fc-agenda-gutter.ui-widget-header.fc-last {
	background-image: url(../images/jquery-ui/ui-bg_highlight-hard_75_bcd5f0_1x100.png);
	background-color: #bcd5f0;
}

/* ========================================
	Activities editor
   ======================================== */
div.activities-container {
	width: 50em;
	margin-left: auto;
	margin-right: auto;
}

ul.activity-list {
	list-style-type: none;
	width: 80%;
	padding-left: 40px;
}

ul.button_list.list-actions {
	width: 80%;
	padding-left: 40px;
	margin-top: 1em;
	text-align: right;
}

ul.button_list.list-actions .button {
	font-size: 80%;
}

ul.button_list.list-actions li {
	padding: 0px;
	padding-left: 0.2em;
}

ul.activity-list li ul.activity-list {
	width: auto;
}

ul.activity-list li {
	position: relative;
}

ul.activity-list li div.activity-name {
	padding: 5px;
	border: 1px solid #DDDDDD;
	background-color: #FAFAFA;
	margin-bottom: 0.5em;
	border-radius: 5px;
}

ul.activity-list li.external div.activity-name {
	border-color: #FFE6E6;
	border-style: dotted;
	border-width: 2px;
	font-style: italic;
}

ul.activity-list li div.activity-name span.activity-name {
	cursor: pointer;
	color: inherit;
}

ul.activity-list li div.activity-name div.item-create, ul.activity-list li div.activity-name div.item-delete, ul.activity-list li div.activity-name div.pick-color {
	float: right;
	width: 16px;
	height: 16px;
	margin-left: 0.5em;
	text-indent: -99999px;
	vertical-align: text-top;
}

ul.activity-list li div.activity-name div.item-create {
	background: url("../images/16x16/actions/list-add.png") no-repeat scroll right center transparent;
}

ul.activity-list li div.activity-name div.item-delete {
	background: url("../images/16x16/actions/trash-empty.png") no-repeat scroll right center transparent;
}

ul.activity-list li div.activity-name div.pick-color {
	background: url("../images/16x16/actions/document-edit.png") no-repeat scroll right center transparent;
}

ul.activity-list li div.activity-name div.item-validate, ul.activity-list li div.activity-name div.item-cancel {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-left: 0.5em;
	text-indent: -99999px;
	vertical-align: text-top;
}

ul.activity-list li div.activity-name div.item-validate {
	background: url("../images/16x16/actions/dialog-ok-apply.png") no-repeat scroll right center transparent;
}

ul.activity-list li div.activity-name div.item-cancel {
	background: url("../images/16x16/actions/dialog-cancel.png") no-repeat scroll right center transparent;
}

div.activity-renamer {
	display: inline-block;
}

div.activity-renamer input {
	width: 25em;
	background-color: white;
}

div.color-picker {
	position: absolute;
	top: 4px;
	right: 64px;
}

div.color-picker > span {
	margin-left: 5px;
}

/* ========================================
	Activity-reporting form
   ======================================== */
div.deming-entry-form {
	height: 21em;
	overflow: hidden;
}

div.deming-entry-form div.form, div.deming-entry-form div.recent {
	display: inline-block;
	vertical-align: top;
	padding: 5px;
}

div.deming-entry-form div.form {
	width: 40em;
	height: 100%;
}

div.deming-entry-form div.form div.form-item {
	margin-bottom: 0.5em;
}

div.deming-entry-form h2 {
	margin-top: 0px;
}

div.deming-entry-form div.form label {
	width: 8em;
}

div.deming-entry-form div.form label.sub-activity span.haussmann:before, div.activity-selector-container label.sub-activity span.haussmann:before {
	content: "Projet";
}

div.deming-entry-form div.form label.sub-sub-activity span.haussmann:before, div.activity-selector-container label.sub-sub-activity span.haussmann:before {
	content: "Tâche";
}

div.deming-entry-form input.time {
	width: 14em;
	margin-right: 1em;
}

div.deming-entry-form div.form select, div.deming-entry-form div.form textarea {
	width: 30em;
	font-size: 100%;
}

div.deming-entry-form div.form textarea {
	height: 8em;
}

/* ========================================
	Recent entries
   ======================================== */
div.deming-entry-form div.recent {
	width: 20em;
	height: 100%;
	border-left: 1px solid #DDDDDD;
}

div.recent ul {
	height: 18em;
	list-style-type: none;
	overflow-y: auto;
	padding-left: 1em;
	padding-right: 1em;
}

div.recent ul li {
	margin-bottom: 0.5em;
	padding: 5px;
	border: 1px solid #DDDDDD;
	border-radius: 5px;
	cursor: pointer;
	max-height: 5em;
	overflow: hidden;
}

div.recent ul li * {
	color: inherit;
}

div.recent ul li h1, div.recent ul li h2, div.recent ul li h3 {
	display: inline-block;
	margin-right: 0.5em;
	margin-top: 0px;
	margin-bottom: 0px;
}

div.recent ul li h2, div.recent ul li h3 {
	margin-left: 0.5em;
}

div.recent ul li h1 {
	font-size: small;
}

div.recent ul li span.separator:before {
	content: '▶';
}

div.recent ul li span.separator {
	font-size: smaller;
	vertical-align: top;
}

div.recent ul li div.notes {
}

/* ========================================
	Calendar contents
   ======================================== */
div.fc * {
	color: inherit;
}
/* to legend category plugin*/
.fc-header-left {
	width: 30%;
}

.fc-header-center {
	width : 0;
}

.fc-header-right {
	width: 70%;
}

.fc-header-center span.weekly-total {
	margin-left: 2em;
	font-style: italic;
}

.fc-header-center span.weekly-total h3 {
	display: inline-block;
	margin-top: 0;
	margin-right: 0.5em;
}

.fc-header-center span.weekly-total span {
	margin-right: 0.2em;
}

.deming-entry h1, .deming-entry h2, .deming-entry h3 {
	display: inline-block;
	margin-right: 0.5em;
	margin-top: 0px;
	margin-bottom: 0px;
}

.deming-entry h2, .deming-entry h3 {
	margin-left: 0.5em;
}

.deming-entry h1 {
	font-size: small;
}

.deming-entry span.separator:before {
	content: '▶';
}

.deming-entry span.separator {
	font-size: smaller;
	vertical-align: top;
}

.deming-entry h2 {
	font-size: small;
	font-style: italic;
}

.deming-entry h3 {
	font-size: smaller;
}

.deming-entry div.note {
	margin-top: 1em;
}

.deming-entry hr {
	border-top: 1px dotted;
	border-bottom: 0px;
	border-right: 0px;
	border-left: 0px;
	margin-left: 1em;
	margin-right: 1em;
}

div.deming-dropdown-cont {
	position: absolute;
	top: -1px;
	right: -1px;
	z-index: 999;
	text-align: right;
	font-size: 10px;
	padding-left: 5px;
	padding-right: 2px;
	border: 1px solid transparent;
}

div.deming-dropdown-cont.open {
	color: black;
	background-color: white;
	border-color: #DDDDDD;
}

div.deming-dropdown-cont div.ui-icon {
	display: inline-block;
	vertical-align: text-top;
	margin-top: -2px;
}

ul.deming-dropdown {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	font-size: inherit;
}

ul.deming-dropdown-menu {
	height: auto;
	width: auto;
	z-index: 999;
	text-align: left;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

ul.deming-dropdown-menu li {
	margin-left: -5px;
	margin-right: -2px;
	padding-left: 5px;
	padding-right: 2px;
}

ul.deming-dropdown-menu li:hover {
	background-color: #DDDDDD;
}

/* legend of categories */
.legend-cont {
	width : auto;
	display : inline-block;
	white-space: normal;
	text-align: left;
}
.legend-cont .legend-title-cont {
	background-color: #E6E6E6;
	border: 1px solid #999999;
	border-radius: 3px;
	display: inline-block;
	height: 1.9em;
	line-height: 1.9em;
	overflow: hidden;
}
.legend-cont .legend-title-cont:hover {
	background-color: #CCCCCC;
	cursor : pointer;
}
.legend-cont .legend-title {
	line-height : 1.7;
	padding : 1px;
	padding-left : 5px;
	padding-right : 30px;
}

.legend-cont .icon-down {
	position : absolute;
	right : 0;
	top : 0;
	
	background-image: url("../images/16x16/actions/arrow-down.png");
	background-repeat: no-repeat;
	background-position : center;
	display : block;
	width : 32px;
	height : 100%;
	margin : 0 auto;
}
.legend-cont .item-label {
	padding-right : 30px;
}

.legend-cont .item {
	position: relative;
	padding-top : 5px;
	padding-bottom : 5px;
	cursor : pointer;
}
.legend-cont .item:hover {
	background-color: #F5F5F5;
}
.legend-cont .legend-list {
	background-color : white;
	overflow: auto;
	min-height : 160px;
	max-height : 350px;
	width : 450px;
	box-shadow: -1px 1px 4px #555555 inset;
	cursor : move;
}
.legend-cont .legend-list .legend-action button {
	cursor : pointer;
}

.legend-cont .cat {
	position : relative;
	vertical-align : top;
	display : inline-block;
	padding : 7px;
	width : 120px;
}
.legend-cont .cat:hover {
	background-color: #E0E2E6;
}
.legend-cont .cat .col {
	display : block;
	position : absolute;
	width : 25px;
	height : 16px;
}
.legend-cont .cat p {
	text-align : left;
	margin : 0;
	margin-left : 35px;
}



/* ========================================
	Preferences editor
   ======================================== */
div.preferences-dialog {
	width: 40em;
	height: 19em;
}

div.preferences-container select, div.preferences-container input[type=text] {
	width: 10em;
}

/* ========================================
	Report viewer
   ======================================== */
div.deming-report {
	padding: 5px;
}

div.deming-report div.deming-main-cont {
	margin-left: 31%;
}

div.deming-report div.filter {
	float: left;
	width: 30%;
}

div.deming-report div.filter ul.button_list {
	text-align: right;
	margin-bottom: 1em;
}

div.deming-report div.filter > div:first-child {
	border-left: 0px;
}

div.deming-report div.filter > div > h1 {
	padding-left: 1em;
}

div.deming-report div.filter > div > ul {
	padding: 0px;
	padding-left: 1em;
	margin: 0px;
	list-style-type: none;
}

div.deming-report div.filter select {
	width: 15em;
}

div.deming-report div.report {
	padding-left: 5px;
	padding-right: 5px;
}

div.deming-report div.summary {
	text-align: right;
	margin-top: 1em;
}

div.deming-report div.summary label.title {
	font-weight: bold;
	margin-right: 0.5em;
}

div.deming-report div.summary label.unit {
	margin-left: 0.5em;
}

div.report ul.actions.button_list {
	margin-bottom: 0.5em;
	text-align: right;
}

div.report ul.actions.button_list li {
	padding-right: 0px;
}

div.deming-report div.filter div.sub-activity-selector label span.haussmann:before {
	content: "Projet";
}

/* ========================================
	Table view
   ======================================== */

div.table-view {
	padding-left: 5px;
	padding-right: 5px;
}

div.table-view-title {
	text-align: center;
}

div.table-view-title span.weekly-total {
	margin-left: 2em;
	font-style: italic;
}

div.table-view-title span.weekly-total h3 {
	display: inline-block;
	margin-top: 0;
	margin-right: 0.5em;
}

div.table-view.no-weekends table.list th {
	width: 20%;
}

div.table-view.weekends table.list th {
	width: 14%;
}

div.calendar-container div.table-view table.list td {
	vertical-align: top;
}

div.calendar-container div.table-view table.list div.entry {
	border: 1px solid #BBBBBB;
	margin-bottom: 1em;
}

div.calendar-container div.table-view table.list div.entry * {
	color: inherit;
}

div.calendar-container div.table-view table.list div.entry div.time {
	margin-bottom: 5px;
}

div.calendar-container div.table-view div.deming-dropdown-cont {
	display: none;
}

/* ========================================
	Chronos import
   ======================================== */
div.chronos-import-container {
	height: 30em;
	width: 55em;
	position: relative;
}

#chronos-cal-owner, #chronos-cal-group {
	height:21em;
	overflow:auto;
}

.chronos-import-container div.tab-container {
	position: absolute;
	top: 2.5em;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.chronos-import-container ul.events {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.chronos-import-container ul.events li * {
	color: inherit;
}

.chronos-import-container ul.events li.overlapping {
	color: #b0b0b0;
	background-color: #e0e0e0;
}
.chronos-import-container ul.events h1, .chronos-import-container ul.events h2, .chronos-import-container ul.events h3 {
	display: inline-block;
	margin-right: 0.5em;
	margin-top: 0px;
	margin-bottom: 0px;
}

.chronos-import-container ul.events h2, .chronos-import-container ul.events h3 {
	margin-left: 0.5em;
}

.chronos-import-container ul.events h1 {
	font-size: small;
}

.chronos-import-container ul.events span.separator:before {
	content: '▶';
}

.chronos-import-container ul.events span.separator {
	font-size: smaller;
	vertical-align: top;
}

.chronos-import-container ul.events h2 {
	font-size: small;
	font-style: italic;
}

.chronos-import-container ul.events h3 {
	font-size: smaller;
}

.chronos-import-container ul.events div.note {
	margin-top: 1em;
}

.chronos-import-container ul.events li {
	margin-bottom: 1em;
	cursor: pointer;
}

.chronos-import-container div.header {
	text-align: center;
	margin-bottom: 0.5em;
}

.chronos-import-container span.current-date {
	font-weight: bold;
	margin-left: 5em;
	margin-right: 5em;
}

.chronos-import-container div.dates input, .chronos-import-container div.dates button {
	margin-left: 0.5em;
}
