/* ========================================
	Classes to remove once mioga.css is updated
   ======================================== */

.diderot, .diderot input, .diderot select {
	color: #404040;
}

/* ========================================
	Classes to generalize to mioga.css
   ======================================== */
div.row {
	display: inline-block;
	width: 100%;
}

.fluid [class*="span"] {
	float: left;
	margin-left: 1%;
}

.fluid [class*="span"]:first-child {
	margin-left: 0px;
}

.fluid .span1 {
	width: 7.4166666667%;
}

.fluid .offset1:first-child {
	margin-left: 8.4166666667%;
}

.fluid .offset1 {
	margin-left: 9.4166666667%;
}

.fluid .span2 {
	width: 15.8333333333%;
}

.fluid .offset2:first-child {
	margin-left: 16.8333333333%;
}

.fluid .offset2 {
	margin-left: 17.8333333333%;
}

.fluid .span3 {
	width: 24.25%;
}

.fluid .offset3:first-child {
	margin-left: 25.25%;
}

.fluid .offset3 {
	margin-left: 26.25%;
}

.fluid .span4 {
	width: 32.6666666667%;
}

.fluid .offset4:first-child {
	margin-left: 33.6666666667%;
}

.fluid .offset4 {
	margin-left: 34.6666666667%;
}

.fluid .span5 {
	width: 41.0833333333%;
}

.fluid .offset5:first-child {
	margin-left: 42.0833333333%;
}

.fluid .offset5 {
	margin-left: 43.0833333333%;
}

.fluid .span6 {
	width: 49.5%;
}

.fluid .offset6:first-child {
	margin-left: 50.5%;
}

.fluid .offset6 {
	margin-left: 51.5%;
}

.fluid .span7 {
	width: 57.9166666667%;
}

.fluid .offset7:first-child {
	margin-left: 58.9166666667%;
}

.fluid .offset7 {
	margin-left: 59.9166666667%;
}

.fluid .span8 {
	width: 66.3333333333%;
}

.fluid .offset8:first-child {
	margin-left: 67.3333333333%;
}

.fluid .offset8 {
	margin-left: 68.3333333333%;
}

.fluid .span9 {
	width: 74.75%;
}

.fluid .offset9:first-child {
	margin-left: 75.75%;
}

.fluid .offset9 {
	margin-left: 76.75%;
}

.fluid .span10 {
	width: 83.1666666667%;
}

.fluid .offset10:first-child {
	margin-left: 84.1666666667%;
}

.fluid .offset10 {
	margin-left: 85.1666666667%;
}

.fluid .span11 {
	width: 91.5833333333%;
}

.fluid .offset11:first-child {
	margin-left: 92.5833333333%;
}

.fluid .offset11 {
	margin-left: 93.5833333333%;
}

.fluid .span12 {
	width: 100%;
}

div.row [class*="span"] > .button {
	width: 100%;
}
/* Global options */

body {
	width: 100%;
	height: 100%;
}

.button.normal {
	color : grey;
	background : url("../images/titleBar.png") repeat-x scroll left top #FAFAFA;
}

/***************************
 * Common styles
 ***************************/

.diderot h1 {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.diderot table {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #0332B2;
}

div.fixed {
	position: fixed;
}

span.error-message {
	background: url(../images/16x16/emblems/emblem-important.png) no-repeat scroll left center;
	margin-left: 1em;
	padding-left: 20px;
	color: red;
	font-size: xx-small;
}

.diderot div.info {
	background-image: url('../images/16x16/emblems/emblem-info.png');
	width: 16px;
	height: 16px;
	float: none;
	margin-left: 0.5em;
	display: inline-block;
}

.diderot ul.hmenu.main-menu {
	border-bottom: 1px solid black;
	text-align: right;
	font-weight: bold;
	background-color: #DDDDDD;
	margin-bottom: 2.5em;
}

.diderot ul.hmenu.main-menu li {
	padding: 0.5em;
	border-left: 1px solid;
	border-bottom: 0px;
}

.diderot ul.hmenu.main-menu li.selected {
	border-bottom: 0px;
	background-color: #D9E6F9;
}

.diderot .ui-draggable-dragging {
	z-index: 999;
}

table.sortable div.sort-desc {
	height: 16px;
	width: 16px;
	float: right;
	background-image: url("../images/16x16/actions/arrow-down.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: top right;
	margin-top: -3px;
}

table.sortable div.sort-asc {
	height: 16px;
	width: 16px;
	float: right;
	background-image: url("../images/16x16/actions/arrow-up.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: top right;
	margin-top: -3px;
}

table.sortable th {
	padding-right: 25px;
	cursor: pointer;
}

.diderot-dialog {
	max-height: 80%;
}

.diderot .form-block {
	padding: 5px;
	padding-left: 4em;
	background-color: #FAFAFA;
	border: 1px solid #DDDDDD;
	position: relative;
	min-height: 4.2em;
}

.diderot .form-block input, .diderot .form-block select {
	background-color: white;
}

.diderot div.inline-message {
	position: relative;
	margin-top: -2.5em;
	height: 2.5em;
}

.diderot div.inline-message p {
	background-position: 10px 0px;
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	margin-top: 0.5em;
}

.diderot div.inline-message p.info {
	background-image: url("../images/16x16/emblems/emblem-info.png");
}

.diderot div.inline-message p.error {
	background-image: url("../images/16x16/emblems/emblem-important.png");
}


/***************************
 * Main page
 ***************************/
.diderot-main-page a.root-node {
	background-image: url('../images/16x16/actions/go-home.png');
	background-position: center left;
	background-repeat: no-repeat;
	background-scroll: scroll;
	padding-left: 20px;
}

.diderot-main-page div.category-tree {
	display: table-cell;
	vertical-align: top;
	min-width: 20em;
	max-width: 33%;
	overflow-x: auto;
}

.diderot-main-page div.page-contents {
	display: table-cell;
	width: 100%;
	padding-left: 1em;
}

.diderot-main-page ul.treeview a {
	text-decoration: none;
}

.diderot-main-page .diderot-notice-list div.notice-list {
	max-height: 30em;
	margin-left: 2em;
}

div.fullsize {
	height: 100%;
	width: 100%;
	max-height: inherit;
}

.diderot-notice-list div.sbox div.content.recent-notices, .diderot-notice-list div.sbox div.content.uncategorized-notices {
	max-height: 15em;
}

.diderot-notice-list div.sbox {
	margin-bottom: 1em;
}

.diderot-notice-list table {
	border: none;
	border-collapse: collapse;
}

.diderot-notice-list table td, .diderot-notice-list table th {
	vertical-align: top;
}

.diderot-notice-list table td.view-notice, .search-results table td.view-notice {
	width: 16px;
}

.diderot-notice-list table td a.view-notice, .search-results table td a.view-notice {
	width: 16px;
	height: 16px;
	display: block;
	text-indent: -999999px;
	background: url("../images/16x16/actions/document-preview.png") no-repeat scroll left center transparent;
}

.diderot-notice-list table tr:last-child {
	border-bottom: none;
}

.diderot-notice-list ul.actions.hmenu {
	text-align: left;
}

.diderot-notice-list ul.button_list {
	margin-bottom: 0.5em;
}

.diderot-notice-list form.new-category ul.button_list {
	text-align: center;
}

.diderot-notice-list form.new-category input, .diderot-notice-list form.rename-category input {
	width: 25em;
}

.diderot-notice-list table.sub-table td {
	border: none;
	padding: 0px;
	margin: 0px;
}

.diderot-notice-list table.sub-table tr {
	border-bottom: 1px dotted gray;
}

.diderot-notice-list table.sub-table tr:last-child {
	border-bottom: none;
}

.diderot-notice-list table.sub-table td, .diderot-notice-list table.sub-table th {
	padding-left: 5px;
	padding-right: 5px;
}

.diderot-notice-list table.list tbody td {
	border-top: none;
}

.diderot-notice-list table.list tr.sub-line td {
	border-top: none;
	border-bottom: none;
}

.diderot-notice-list table.list tr.sub-line td {
	border-bottom: 1px dotted #DDDDDD;
}

.diderot-notice-list table.list tr.sub-line td.normal-cell {
	padding-left: 5px;
	padding-right: 5px;
	border-bottom: none;
}

.diderot-notice-list table.list pre {
	margin: 0px;
	font-size: inherit;
	font-family: inherit;
}

.diderot-notice-list tr.spacer td {
	border-left: none;
	border-right: none;
}


/***************************
 * DisplayNotice
 ***************************/
.diderot-notice form {
	padding: 0px;
}

.diderot-notice ul.actions.hmenu {
	text-align: left;
}

.diderot-notice ul.button_list {
	text-align: left;
	margin-bottom: 0.5em;
}

.diderot-notice ul.button_list li {
	padding: 0px;
	padding-right: 0.5em;
}

.diderot-notice input, .diderot-notice textarea, .diderot-notice select {
	width: 35em;
}

.diderot-notice hr {
	border: none;
	border-bottom: 1px dotted #0332B2;
	margin-bottom: 0px;
}

.diderot-notice th, .diderot-notice td {
	vertical-align: top;
}

.diderot-notice th {
	width: 15em;
	text-align: right;
	padding-right: 0.5em;
}

ul.files {
	list-style-type: none;
	margin: 0px;
}

.diderot-notice .notice-view p.note {
	text-align: center;
}

.diderot-notice .notice-view ul.files {
	padding-left: 0px;
}

ul.files li {
	position: relative;
	padding-left: 20px;
}

ul.files li:hover {
	background-color: #EDF4FF;
}

ul.files li a.download {
	float: right;
	margin-left: 0.5em;
}

ul.files li a.download:before {
	content: "[";
}

ul.files li a.download:after {
	content: "]";
}

ul.files li.broken-link {
	font-style: italic;
	background-image: url(../images/16x16/status/dialog-warning.png);
	background-repeat: no-repeat;
}

.diderot-notice ul.files div.item-delete {
	background: url("../images/16x16/actions/trash-empty.png") no-repeat scroll right center transparent;
	width: 16px;
	height: 16px;
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
}

.diderot-notice div.file-picker {
	width: 100%;
	height: 30em;
}

.diderot-notice div.file-picker .mioga2-fileselector-actions-cont, .diderot-notice div.file-picker .mioga2-fileselector-link-cont {
	display: none;
}

.diderot-notice div.file-picker .mioga2-fileselector-selected {
	background-image: none;
	width: 100%;
	height: 30em;
}

.diderot-notice .associated-documents-container {
	position: relative;
}

.diderot-notice .associated-documents-container ul.button_list {
	text-align: right;
	padding-top: 0.5em;
}

.diderot-notice .associated-documents-container ul.button_list li {
	padding: 0px;
}


/***************************
 * SearchResults
 ***************************/
.search-results ul.button_list {
	text-align: left;
	margin-bottom: 0.5em;
}

.search-results ul.button_list li {
	padding: 0px;
	padding-right: 0.5em;
	padding-right: 0px;
}

.search-results table {
	border-collapse: collapse;
}

.search-results table td:first-child, .search-results table th:first-child {
	border-left: none;
}

.search-results table tr {
	border-bottom: 1px dotted #DDDDDD;
}

.search-results table tr:last-child {
	border-bottom: none;
}


/***************************
 * SearchForm
 ***************************/
div.diderot-search form {
	margin-left: 33px;
	margin-right: 33px;
}

.diderot-search div.advanced-search {
	margin-top: 5em;
}

.diderot-search h2.search-form-type {
	margin-bottom: 0px;
	border-bottom: 1px solid #DDDDDD;
}

.diderot-search span.item-create {
	display: none;
}

.diderot-search div.search-operator {
	width: 3em;
	position: absolute;
	left: 5px;
}

.diderot-search div.search-operator ul {
	margin: 0px;
	width: 100%;
}

.diderot-search div.search-operator ul li {
	margin-bottom: 5px;
}

.diderot-search div.search-operator ul li button.button {
	width: 100%;
}

.diderot-search div.search-criteria {
	width: 100%;
}

.diderot-search div.constraint-container {
	display: inline-block;
}

.diderot-search .query-container {
	margin-top: 0.5em;
}

.diderot-search .search-form-block {
	margin-left: 2em;
	margin-bottom: 1em;
	padding: 10px;
}

.diderot-search div.inline-help p {
	white-space: pre-wrap;
}

.diderot-search label {
	width: 20em;
}

.diderot-search input {
	width: 50em;
}

.diderot-search select {
	width: 20.5em;
	font-size: 100%;
	vertical-align: top;
}

.diderot-search .field, .diderot-search .extensibleList div.el-field {
	margin-right: 0.5em;
}

.diderot-search .search-form-template .query {
	width: 25em;
	margin-right: 0.5em;
}

.diderot-search .search-form-template .constraint {
	width: 25em;
	margin-right: 0.5em;
}

.diderot-search .extensibleList div.item-edit {
	background: url("../images/16x16/actions/document-edit.png") no-repeat scroll right center transparent;
	display: inline-block;
	height: 16px;
	width: 16px;
	margin-left: 0.5em;
	vertical-align: middle;
}

.diderot-search .extensibleList div.el-field.extensibleList {
	margin-right: 0px;
	width: auto;
}

.diderot-search .extensibleList span.item-delete-container {
	float: left;
	margin-right: 0.5em;
}

.diderot-search input.query[type=text] {
	width: 99%;
}

.diderot-search .search-form-template select.field[name=operator], .diderot-search .search-form-template .extensibleList div.el-field.operator {
	width: 5em;
}

.diderot-search .extensibleList li div.extensibleList {
	margin-left: 2em;
	border-left: 1px dotted;
	border-bottom: 1px dotted;
	padding-left: 5px;
	padding-bottom: 5px;
	margin-bottom: 1em;
}

.diderot-search .extensibleList div.close-subexp {
	text-align: right;
	margin-top: 0.5em;
}

.diderot-search .extensibleList div.field, .diderot-search .extensibleList div.query {
	font-weight: bold;
}

.diderot-search .extensibleList div.operator, .diderot-search .extensibleList div.constraint {
	font-style: italic;
}

.diderot-search form.field-list {
	padding: 0px;
	margin: 0px;
}

.diderot-search form.field-list ul {
	list-style-type: none;
	padding: 0px;
}

.diderot-search form.field-list ul li {
	display: inline-block;
	margin-right: 1em;
}

.diderot-search form.field-list ul li fieldset {
	min-width: 15em;
}

.diderot-search form.field-list ul li fieldset select {
	width: 100%;
}

.diderot-search ul.button_list.form-actions-container {
	text-align: right;
	margin-bottom: 1em;
}

.diderot-search ul.button_list.form-actions-container li {
	padding: 0px;
	padding-left: 5px;
}

.diderot-search div.advanced-search div.form-item input, .diderot-search div.advanced-search div.form-item select {
	margin-right: 0.5em;
}

.diderot-search div.advanced-search select.operator {
	width: 5em;
}

.diderot-search div.advanced-search div.form-item {
	margin-bottom: 1em;
}


/***************************
 * NoticeTemplate
 ***************************/
.template-attributes input, .template-attributes textarea, .documentary-base-attributes input {
	width: 35em;
}

.notice-template-template .form-item {
	display: inline-block;
	vertical-align: middle;
	padding-right: 1em;
	vertical-align: top;
}

.notice-template-template .form-item input, .notice-template-template .form-item textarea, .notice-template-template .form-item select {
	width: 15em;
}

.notice-template-template .form-item input[type=checkbox], .notice-template-template .form-item input[type=radio] {
	width: auto;
}

.diderot-notice-template div.field-name {
	font-weight: bold;
}

.diderot-notice-template div.field-type {
	font-style: italic;
}

.diderot-notice-template div.field-id {
	display: none;
}

.diderot-notice-template div.description {
	font-style: italic;
}

.diderot-notice-template div.values {
	display: none;
}

.diderot-notice-template div.field-name, .diderot-notice-template div.field-type, .diderot-notice-template div.mandatory {
	margin-right: 0.5em;
}

.diderot-notice-template div.field-name {
	width: 15em;
}

.diderot-notice-template div.mandatory {
	width: 8em;
}

.diderot-notice-template div.field-type {
	width: 12em;
}

.diderot-search .extensibleList > ul {
	margin-bottom: 1em;
}

.diderot-search .extensibleList > ul li {
	font-size: 130%;
	line-height: 1.5em;
}

.diderot-notice-template .extensibleList li div.extensibleList {
	margin-left: 2em;
	border-left: 1px dotted;
	border-bottom: 1px dotted;
	padding-left: 5px;
	padding-bottom: 5px;
	margin-bottom: 1em;
}

.diderot-notice-template .extensibleList div.close-subexp {
	text-align: right;
	margin-top: 0.5em;
}

.diderot-notice-template .extensibleList span.item-delete-container {
	float: left;
	margin-right: 0.5em;
}

.diderot-notice-template .extensibleList div.el-field.field-type {
	white-space: nowrap;
}

.diderot-notice-template .extensibleList div.el-field.values.extensibleList {
	margin-right: 0px;
	width: auto;
	margin-left: 17em;
}

.diderot-notice-template .field-order div.btn-container {
	text-align: right;
}

.diderot-notice-template .field-order {
	display: inline-block;
}

.diderot-notice-template .field-order ul {
	list-style-type: none;
	padding: 5px;
	border: 1px dotted;
	min-height: 1.5em;
	line-height: 1.5em;
	padding-left: 2em;
	white-space: nowrap;
	overflow-x: auto;
}

.diderot-notice-template .field-order li:first-child {
	margin-left: -1.5em;
}

.diderot-notice-template .field-order li {
	display: inline;
	padding-left: 0.5em;
	padding-right: 0.5em;
	border: 1px solid;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.diderot-notice-template .field-order li.placeholder {
	width: 3em;
}

.diderot-notice-template .excluded-fields ul {
	list-style-type: none;
	padding: 0px;
	height: 1.5em;
	line-height: 1.5em;
	margin: 0px;
}

.diderot-notice-template .excluded-fields ul li {
	display: inline-block;
	border: 1px solid;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 0.5em;
}

.diderot-notice-template .excluded-fields ul li.placeholder {
	width: 3em;
	height: 100%;
	vertical-align: bottom;
}

.diderot-notice-template .extensibleList div.item-edit {
	background: url("../images/16x16/actions/document-edit.png") no-repeat scroll right center transparent;
	display: inline-block;
	height: 16px;
	width: 16px;
	margin-left: 0.5em;
	vertical-align: middle;
}

.diderot-notice-template ul.button_list {
	text-align: left;
	margin-bottom: 0.5em;
}

.diderot-notice-template fieldset.static-fields ul {
	list-style-type: none;
	padding: 0px;
}

.diderot-notice-template fieldset.static-fields ul li {
	display: inline-block;
	margin-right: 2em;
}

.diderot-notice-template fieldset.static-fields ul li label {
	float: none;
}


/***************************
 * Access rights
 ***************************/
div.diderot-access-rights {
	width: 80em;
	height: 30em;
	position: relative;
	overflow: hidden;
}

div.diderot-access-rights div.form, div.diderot-access-rights div.selector {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

div.diderot-access-rights div.inheritance label {
	width: 20em;
}

.diderot-access-rights div.left-column, .diderot-access-rights div.right-column {
	display: inline-block;
	height: 100%;
	width: 50%;
	vertical-align: top;
}

.diderot-access-rights div.left-column fieldset {
	margin-right: 0.5em;
	position: relative;
	height: 25%;
}

.diderot-access-rights div.left-column fieldset.team-rights {
	height: 65%;
}

.diderot-access-rights div.right-column fieldset {
	margin-left: 0.5em;
	position: relative;
}

.diderot-access-rights div.right-column fieldset.profile-rights {
	height: 30%;
}

.diderot-access-rights div.right-column fieldset.user-rights {
	height: 60%;
}

.diderot-access-rights ul.list {
	margin: 0px;
	padding: 5px;
	position: absolute;
	top: 1.5em;
	bottom: 1em;
	left: 0px;
	right: 0px;
	overflow-y: auto;
}

.diderot-access-rights ul.dropdown ul {
	width: 15em;
}

.diderot-access-rights span.access-right {
	float: right;
	margin-right: 32px;
	font-size: 80%;
	font-style: italic;
}

ul.button_list.dialog-buttons {
	text-align: right;
	margin-bottom: 0.5em;
}


/***************************
 * Attach files
 ***************************/
.diderot-attach-files ul.files {
	padding-left: 0px;
}

.diderot-attach-files ul.button_list {
	text-align: left;
	height: 2em;
}

.diderot-attach-files table {
	border: none;
}
