/* Global options */

body {
	width:100%;
	height:100%;
}

.eiffel
  ,.eiffel input
  , .eiffel select {
	color:#404040;
}
/* ========================================
	progress-bar
   ======================================== */
.app-progressbar-cont {
	background-color:#ffffff;
	position:absolute;
	top : 0;
	left:0;
	width:100%;
	height:100%;
	z-index:100;
}
.app-progressbar-cont > h1 {
	margin-top:2em;
	text-align:center;
}
.app-progressbar-cont > .app-progressbar {
	width:50%;
	margin:auto;
}

.eiffel-content {
	margin-top: 20px;
	margin-left:8px;
	margin-right:8px;
}

/* ========================================
	planning header
   ======================================== */


/* legend of categories */
.legend-cont {
	width : auto;
	display : inline-block;
	margin : 10px;
	margin-left : 200px;
	white-space: normal;
	text-align: left;
}
.legend-cont .legend-title-cont {
	background-color: #E6E6E6;
	border: 1px solid #999999;
	border-radius: 3px;
	display: inline-block;
	height: 1.9em;
	line-height: 1.9em;
	overflow: hidden;
}
.legend-cont .legend-title-cont:hover {
	background-color: #CCCCCC;
	cursor : pointer;
}
.legend-cont .legend-title {
	line-height : 1.7;
	padding : 1px;
	padding-left : 5px;
	padding-right : 30px;
}

.legend-cont .icon-down {
	position : absolute;
	right : 0;
	top : 0;
	
	background-image: url("../images/16x16/actions/arrow-down.png");
	background-repeat: no-repeat;
	background-position : center;
	display : block;
	width : 32px;
	height : 100%;
	margin : 0 auto;
}
.legend-cont .item-label {
	padding-right : 30px;
}

.legend-cont .item {
	position: relative;
	padding-top : 5px;
	padding-bottom : 5px;
	cursor : pointer;
}
.legend-cont .item:hover {
	background-color: #F5F5F5;
}
.legend-cont .legend-list {
	background-color : white;
	overflow: auto;
	min-height : 160px;
	max-height : 350px;
	width : 450px;
	box-shadow: -1px 1px 4px #555555 inset;
	cursor : move;
}
.legend-cont .legend-list .legend-action button {
	cursor : pointer;
}

.legend-cont .cat {
	position : relative;
	vertical-align : top;
	display : inline-block;
	padding : 7px;
	width : 120px;
}
.legend-cont .cat:hover {
	background-color: #E0E2E6;
}
.legend-cont .cat .col {
	display : block;
	position : absolute;
	width : 25px;
	height : 16px;
}
.legend-cont .cat p {
	text-align : left;
	margin : 0;
	margin-left : 35px;
}

.p-header {
	margin-bottom:0.5em;
}
.toolbar {
	position:relative;
}
.toolbar-item {
	display: inline-block;
	vertical-align:middle;
}

.tb-button {
	width:1.9em;
	height:1.9em;
	line-height:1.9em;
	overflow:hidden;
	text-indent:-99999px;
	border: 1px solid #999999;
	border-radius: 3px;
	background-color:#e6e6e6;
	padding:auto;
	display:inline-block;
}
.backward-many {
	background-image: url("../images/16x16/actions/arrow-left-double.png");
	background-repeat:no-repeat;
	background-position:center center;
}
.backward-one {
	background-image: url("../images/16x16/actions/arrow-left.png");
	background-repeat:no-repeat;
	background-position:center center;
}
.forward-one {
	background-image: url("../images/16x16/actions/arrow-right.png");
	background-repeat:no-repeat;
	background-position:center center;
}
.forward-many {
	background-image: url("../images/16x16/actions/arrow-right-double.png");
	background-repeat:no-repeat;
	background-position:center center;
}
.zoom-out {
	background-image: url("../images/16x16/actions/zoom-out.png");
	background-repeat:no-repeat;
	background-position:center center;
}
.zoom-in {
	background-image: url("../images/16x16/actions/zoom-in.png");
	background-repeat:no-repeat;
	background-position:center center;
}
.today {
	height:1.9em;
	line-height:1.9em;
	overflow:hidden;
	border: 1px solid #999999;
	border-radius: 3px;
	background-color:#e6e6e6;
	display:inline-block;
	padding-left:5px;
	padding-right:5px;
}

.today-cont, .forward-cont,.comment-cont, .zoom-cont {
	margin-left:1em;
}

.zoom-cont {
	position:absolute;
	right:0px;
}
/* ========================================
	planning
   ======================================== */

.planning-cont {
	border: 1px solid #cccccc;
	overflow: hidden; /* For IE when subtask exists, grid is visible at sub table */
}

.planning table, .planning th, .planning tr, .planning td {
	padding:0px;
	margin:0px;
}

.h-head {
	height:1.5em;
	background-image:url(../images/jquery-ui/ui-bg_highlight-hard_75_bcd5f0_1x100.png);
	background-color:#bcd5f0;
	background-position:50% 50%;
	z-index:-5;
	position:relative;
}

.entries-table  {
	background-color:transparent;
	border-collapse:collapse;
	width:100%;
	zoom:1;
}

.entry-head {
	width:15em;
	background-color:#e6e6e6;
}

.entries-table td, .entries-table th {
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	vertical-align:top;
}
.entries-table th {
	text-align:left;
}

.p-sep {
	background-color:#ffffff;
	height:5px;
}
.entry-val {
	width:100%;
	height:100%;
	position:relative;
}



.week-table {
	border-collapse:collapse;
	width:100%;
	zoom:1;
}

.week-table td.week {
	vertical-align:top;
	height:100%;
}
/*
.week-table .week-label {
	border-bottom: 1px solid #cccccc;
}
*/
.days-table {
	border-collapse:collapse;
	width:100%;
	height:100%;
	padding:0px;
	margin:0px;
}

/* Do not set border-width larger then 1px */
.days-table td, .days-table th {
	border-left-style: solid;
	border-left-color: #cccccc;
	border-right-style: solid;
	border-right-color: #cccccc;
	vertical-align:top;
}

.month .days-table td {
	border-left: 1px dotted #CCCCCC;
	border-right: 1px dotted #CCCCCC;
}

.month .days-table td:first-child {
	border-left: 1px solid #CCCCCC;
}

.month .days-table td:last-child {
	border-right: 1px solid #CCCCCC;
}

.days-table .day-label {
	/* line-height:150%; */
}

.days-table .day-content {
	height:100%;
}
.day-head {
	height:1.5em;
	position:relative;
}
.day-head > div {
	position: relative;
	height: inherit;
}
.day-head > div > div {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow-x: hidden;
}

.day-cell {
	height:100%;
	position:relative;
}

.task-cell {
	margin-bottom:1px;
	height:10px;
}

.week-end {
	background-color:#f5f5f5;
}
/*	===============================================
	Configuration screen
	=============================================== */
.eiffel-config {
	padding:0.5em;
}
.eiffel-config .sbox {
	margin-top:1em;
}

.eiffel-config .form label {
	width:20em;
}
.display-list {
	list-style-type : none;
	list-style-position:inside;
	list-style-image:none;
	width:25em;
	margin-top: 0.5em;
	margin-left:1em;
	padding:0;
}

.display-list li {
	padding:0.1em;
	margin-top:0.1em;
	margin-bottom:0.1em;
	cursor:move;
}

.display-list .display-user {
	border:1px solid #808080;
	background-color:#F6F6FF;
}
.display-list .display-res {
	border:1px solid #808080;
	background-color:#F6F6FF;
}
.display-list .display-sep {
	height:16px;
	position:relative;
}

.display-list .display-sep .separator {
	background-color:#d0d0d0;
	margin-top:6px;
	height:4px;
	display:block;
}

.display-list .display-sep .destroy-sep {
	position:absolute;
	top:0;
	right:0;
	display:block;
	width:16px;
	height:16px;
	background-color: #ffffff;
	background-image: url("../images/16x16/actions/edit-delete.png");
	background-repeat:no-repeat;
	background-position:left center;
	overflow:hidden;
	text-indent:-99999px;
	cursor:pointer;
}

.action {
	cursor:pointer;
	margin-left:1em;
}
.add-new {
	background-image: url("../images/16x16/actions/list-add.png");
	background-repeat:no-repeat;
	background-position:left center;
	padding-left:3px;
	display:inline-block;
	width:16px;
	height:16px;
	overflow:hidden;
	text-indent:-99999px;
}

/*	===============================================
	cell detail
	=============================================== */

.details .item-label {
	font-size:150%;
	font-weight:bold;
}

.task-list,.no-task  {
	margin-bottom:1em;
}

.task-list  {
	width:100%;
	border-collapse:collapse;
}
.task-list td {
	border-bottom:1px solid grey;
}
.task-list .task-hour {
	width:10em;
}
