.faq_title {
	font-size: larger;
}

div#category_box {
	float: left;
	border: 1px solid blue;
	padding: 0.5em;
	margin: 0 0 0.5em 0.5em;
}

div#categories > div {
	margin-top: 0.5ex;
}

div#div_btn_cat_new {
	margin-top: 1ex;
}

.category {
	line-height: 16px; /* floating image */
	/* clear: right; */
}

a.cat_link {
	padding-left: 0.25em;
}

/* div.question {
	font-style: italic;
} */

div.dijitTitlePane {
	margin-top: 0.5ex;
}

div#div_btns_entry {
	text-align: right;
	/* margin-bottom: 0.4ex; */
	margin-bottom: 0.8ex;
}

div#faq_content {
	margin-left: 0.5em;
	margin-right: 10%;
}

p.error {
	text-align: center;
	margin-top: 1ex;
}

body#faq fieldset {
	border:solid 1px;
	padding: 5px;
}


.icon_edit {
	background:url("../images/16x16/actions/document-edit.png") no-repeat left top;
	width: 16px;
	height: 16px;
}
.icon_delete {
	background:url("../images/16x16/actions/trash-empty.png") no-repeat left top;
	width: 16px;
	height: 16px;
}
.icon_save {
	background:url("../images/16x16/actions/dialog-ok-apply.png") no-repeat left top;
	width: 16px;
	height: 16px;
}
.icon_cancel {
	background:url("../images/16x16/actions/dialog-cancel.png") no-repeat left top;
	width: 16px;
	height: 16px;
}
.mioga_inlineEditBox_savecancel {
	margin-bottom: 0.2em;
	height: 16px;
}
.mioga_inlineEditBox_savecancel div {
	float: left;
}

