
/* Special links */

a#subscribe {
	background: url('../images/16x16/actions/document-edit.png') no-repeat top left;
	margin:0 5px 0 0;
	padding: 0 0 0 24px;
	height: 20px;
}
a#add_category {
	background: url('../images/16x16/actions/document-new.png') no-repeat top left;
	margin:0 5px 0 0;
	padding: 0 0 0 24px;
	height: 20px;
}
a#add_thematic {
	background: url('../images/16x16/actions/document-new.png') no-repeat top left;
	margin:0 5px 0 0;
	padding: 0 0 0 24px;
	height: 20px;
}
a#set_parameters {
	background: url('../images/16x16/actions/configure.png') no-repeat top left;
	margin:0 5px 0 0;
	padding: 0 0 0 24px;
	height: 20px;
}
a#create_subject {
	background: url('../images/16x16/actions/document-new.png') no-repeat top left;
	margin:0 5px 0 0;
	padding: 0 0 0 24px;
	height: 20px;
}
a#create_message {
	background: url('../images/16x16/actions/document-new.png') no-repeat top left;
	margin:0 5px 0 0;
	padding: 0 0 0 24px;
	height: 20px;
}
a#signal_message {
	background: url('../images/16x16/actions/document-new.png') no-repeat top left;
	margin:0 5px 0 0;
	padding: 0 0 0 24px;
	height: 20px;
}
a#view_new_messages {
	background: url('../images/16x16/actions/edit-find.png') no-repeat top left;
	margin:0 5px 0 0;
	padding: 0 0 0 24px;
	height: 20px;
}
a#edit_message {
	background: url('../images/16x16/actions/document-edit.png') no-repeat top left;
	margin:0 5px 0 0;
	padding: 0 0 0 24px;
	height: 20px;
}
a#edit_subject {
	background: url('../images/16x16/actions/document-edit.png') no-repeat top left;
	margin:0 5px 0 0;
	padding: 0 0 0 24px;
	height: 20px;
}
table.subjects a.new_subject {
	background: url('../images/16x16/actions/mail-message-new.png') no-repeat top left;
	margin:0 5px 0 0;
	padding: 0 0 0 24px;
	height: 20px;
}
table.subjects a.old_subject {
	margin:0 5px 0 0;
	padding: 0 0 0 0px;
	height: 20px;
}
div.modal-box {
	position: fixed !important;
	/* position: absolute; */
	z-index: 5;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: url('../images/bg_disabled.png');
}

/* Main div */

div#forum_main {
	width: 98%;
	margin-top : 1em;
	margin-left : auto;
	margin-right : auto;
}

/* Dialog boxes */

div.dialog {
	position: absolute;
	top:200px;
	left:200px;
	background-color:#d0d0d0;
	
}
div.dialog form {
	margin: 1em;
}

form textarea {
	width:100%;
}

/* Change page */

ul.change_page {
	display:inline;
	list-style-type: none;
    margin: 0px;
    padding: 0px;
    margin-bottom: 0.3em;
}

ul.change_page li {
	display:inline;
    margin: 0px;
    padding: 0.2em;

}

ul.change_page a {
	margin: 0px 5px;
}

li.paging:hover {
	background-color: #ffffff;
}

/* DisplayMain window */

div.menu_forum {
	margin: 0.5em 5px;
	text-align:right;
}

div.cat_view {
	margin-bottom: 0.2em;
}

div.menu_category {
	text-align:right;
	float:right;
}

div.menu_thematic {
	float:right;
	text-align:right;
}

table.thematic_list {
	width:100%;
	margin:0px;
	border-collapse: collapse;
}
table.thematic_list td,th {
	border-width:1px;
}
table.thematic_list th {
	font-size: 80%;
	font-style: italic;
	margin:0px;
	padding:2px;
	vertical-align: center;
	text-align: left;
}
table.thematic_list tr {
	border-bottom: 1px solid #a0a0a0;
}
table.thematic_list h3 {
	font-size: 90%;
	margin:0px;
	padding:2px;
}
table.thematic_list p {
	font-size: 80%;
	margin:5px;
}
table.thematic_list td.label {
	width:65%;
}
table.thematic_list td.subjects {
	width:10%;
}
table.thematic_list td.messages {
	width:10%;
}
table.thematic_list td.laspost {
	width:15%;
}

/* DisplayThematic */

div#header table {
	width:100%;
}

div#header h2 {
	margin: 0px;
	padding: 2px;
	font-size: 100%
}
div#header h3 {
	margin: 0px;
	padding: 1px;
	font-size: 90%
}

div.menu_subject {
	float:right;
	text-align:right;
}
table.subjects {
	width:100%;
	margin:0px;
	border-collapse: collapse;
}
table.subjects td,th {
	border-width:1px;
}
table.subjects th {
	font-size: 80%;
	font-style: italic;
	margin:0px;
	padding:2px;
	vertical-align: center;
	text-align: left;
}
table.subjects tr {
	border-bottom: 1px solid #a0a0a0;
}
table.subjects h3 {
	font-size: 90%;
	margin:0px;
	padding:2px;
}
table.subjects p {
	font-size: 80%;
	margin:5px;
}
table.subjects td.subject {
	width:70%;
}
table.subjects td.messages {
	width:15%;
}
table.subjects td.lastpost {
	width:15%;
}

/* DisplaySubject */

div.forum_message {
	margin-bottom:5px;
	padding:0px;
}

div.menu_message {
	float:right;
	text-align:right;
}

div.message_info {
	margin:0px;
	padding:0px;
}
div.message_info p {
	margin:0px;
	padding:0px;
}

div.message_body {
	border-top: 1px solid #a0a0a0;
	background-color: #f0f0f0;
	padding: 0.5em;
}

table.message_footer {
	width:100%;
	margin:0px;
	padding:0px;
}
table.message_footer td.menu{
	text-align:right;
}

p.message_note {
	font-size:70%;
	font-style:italic;
}

/* DisplayNewMessages */

div.subject_messages {
	margin-bottom: 0.5em;
}

/* Dialog subject */

div#subject_dialog {
    position: fixed !important;
	position: absolute;
    z-index: 9;
    left: 50%;
    top: 10%;
    width: 80%;
    margin-left: -40%;
}

/* Dialog user_params */

div#dialog_user_params {
    position: fixed !important;
	position: absolute;
    z-index: 9;
    left: 50%;
    top: 10%;
    width: 40%;
    margin-left: -20%;
}

/* Dialog parameters */

div#dialog_parameters {
    position: fixed !important;
	position: absolute;
    z-index: 9;
    left: 50%;
    top: 10%;
    width: 40%;
    margin-left: -20%;
}

/* Dialog edit message */

div#message_dialog_content {
    width: 80%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:0.5em;
}

div#message_dialog_content ul.button_list {
	margin-top:0.5em;
}

textarea.mceEditor {
	width: 100%;
	height: 25em;
}
