/* ========================================
	Classes to remove once mioga.css is updated
   ======================================== */

.fouquet, .fouquet input, .fouquet select {
	color: #404040;
}

/* ========================================
	Classes to generalize to mioga.css
   ======================================== */
div.row {
	display: inline-block;
	width: 100%;
}

.fluid [class*="span"] {
	float: left;
	margin-left: 1%;
}

.fluid [class*="span"]:first-child {
	margin-left: 0px;
}

.fluid .span1 {
	width: 7.4166666667%;
}

.fluid .offset1:first-child {
	margin-left: 8.4166666667%;
}

.fluid .offset1 {
	margin-left: 9.4166666667%;
}

.fluid .span2 {
	width: 15.8333333333%;
}

.fluid .offset2:first-child {
	margin-left: 16.8333333333%;
}

.fluid .offset2 {
	margin-left: 17.8333333333%;
}

.fluid .span3 {
	width: 24.25%;
}

.fluid .offset3:first-child {
	margin-left: 25.25%;
}

.fluid .offset3 {
	margin-left: 26.25%;
}

.fluid .span4 {
	width: 32.6666666667%;
}

.fluid .offset4:first-child {
	margin-left: 33.6666666667%;
}

.fluid .offset4 {
	margin-left: 34.6666666667%;
}

.fluid .span5 {
	width: 41.0833333333%;
}

.fluid .offset5:first-child {
	margin-left: 42.0833333333%;
}

.fluid .offset5 {
	margin-left: 43.0833333333%;
}

.fluid .span6 {
	width: 49.5%;
}

.fluid .offset6:first-child {
	margin-left: 50.5%;
}

.fluid .offset6 {
	margin-left: 51.5%;
}

.fluid .span7 {
	width: 57.9166666667%;
}

.fluid .offset7:first-child {
	margin-left: 58.9166666667%;
}

.fluid .offset7 {
	margin-left: 59.9166666667%;
}

.fluid .span8 {
	width: 66.3333333333%;
}

.fluid .offset8:first-child {
	margin-left: 67.3333333333%;
}

.fluid .offset8 {
	margin-left: 68.3333333333%;
}

.fluid .span9 {
	width: 74.75%;
}

.fluid .offset9:first-child {
	margin-left: 75.75%;
}

.fluid .offset9 {
	margin-left: 76.75%;
}

.fluid .span10 {
	width: 83.1666666667%;
}

.fluid .offset10:first-child {
	margin-left: 84.1666666667%;
}

.fluid .offset10 {
	margin-left: 85.1666666667%;
}

.fluid .span11 {
	width: 91.5833333333%;
}

.fluid .offset11:first-child {
	margin-left: 92.5833333333%;
}

.fluid .offset11 {
	margin-left: 93.5833333333%;
}

.fluid .span12 {
	width: 100%;
}

div.row [class*="span"] .button {
	width: 100%;
}

/* ========================================
	progress-bar
   ======================================== */
.app-progressbar-cont {
	position:absolute;
	top 0;
	left:0;
	width:100%;
	height:100%;
	z-index:100;
	background-color: white;
}
.app-progressbar-cont > h1 {
	margin-top:2em;
	text-align:center;
}
.app-progressbar-cont > .app-progressbar {
	width:50%;
	margin:auto;
}

/* ========================================
	Common styles
   ======================================== */

#fouquet {
	padding: 5px;
	position: relative;
}

ul.main-menu {
	text-align: right;
}

ul.main-menu a.home-page {
	background-image: url(../images/16x16/actions/go-home.png);
	background-repeat: no-repeat;
	padding-left: 20px;
}

div.fixed {
	position: fixed;
}

div.attribute-box {
	padding: 5px;
	margin-bottom: 2em;
	border-width: 1px;
	border-style: dotted;
	border-left: none;
	border-top: none;
}

table {
	width: 100%;
	border-collapse: collapse;
}

span.note {
	font-style: italic;
}

li.center {
	text-align: center;
}

li.note {
	font-style: italic;
}

div.sbox {
	margin-bottom: 2em;
}

div.content table th, div.content table td {
	text-align: left;
	vertical-align: top;
}

div.content table th {
	width: 15em;
}

ul.actions {
	list-style-type: none;
	margin: 0px;
	margin-bottom: 0.5em;
	padding: 0px;
}

ul.list {
	list-style-type: none;
	padding: 5px;
	margin: 0px;
}

span.modify-container {
	display: inline-block;
}

span.modify {
	width: 16px;
	height: 16px;
	margin-left: 0.5em;

	cursor: pointer;

	background-image: url('../images/16x16/actions/document-edit.png');
	background-repeat: no-repeat;
	background-position: middle left;
}

div.help-notice {
	padding: 0.5em;
	padding-top: 25px;

	margin-bottom: 1em;

	font-style: italic;
	text-align: justify;
	color: gray;

	background: url('../images/16x16/emblems/emblem-info.png') no-repeat scroll 0.5em 0.5em;

	border: 1px dotted #DDDDDD;
}

span.error-message {
	background: url(../images/16x16/emblems/emblem-important.png) no-repeat scroll left center;
	margin-left: 1em;
	padding-left: 20px;
	color: red;
	font-size: xx-small;
}

div.inline-message {
	position: absolute;
	top: 0px;
}

div.inline-message p {
	margin-top: 0px;
	margin-bottom: 0px;
}

div.sbox div.row {
	margin-top: 1em;
}

div.row ul.button_list li .button {
	width: auto;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.ui-dialog ul.button_list {
	text-align: right;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
	position: absolute;
	bottom: 5px;
	right: 5px;
}

h1 div {
	font-size: inherit;
}


/* ========================================
	Dropdown
   ======================================== */

div.inline-chooser {
	width: 100%;
	display: inline-block;
}

div.inline-chooser:hover {
	background-color: #EDF4FF;
}

ul.dropdown {
	position : absolute;
	display: inline-block;
	vertical-align: middle;
	z-index: 0;
	margin-left: -20px;
}

ul.dropdown:hover {
	z-index: 599;
}

ul.dropdown li {
	padding: 0px;
	padding-left: 0.5em;
	padding-right: 0.5em;
	border: none;
	background: none;
}

ul.dropdown li.dir {
	background: none;
	color: #E0E0E0;
}

div.inline-chooser:hover ul.dropdown li.dir {
	color: inherit;
}

ul.dropdown li.dir ul {
	left: inherit;
	right: 0;
	border: 1px solid #8AC4FF;
	background: white;
}
.inline-chooser > a,
.inline-chooser > span {
	display: inline-block;
	padding-right : 0;
	width: 100%;
}
/* ========================================
	Main page
   ======================================== */

div.group-users div.table-container {
	max-height: 20em;
	position: relative;
}

div.group-users td.firstname, div.group-users th.firstname {
	width: 7em;
}

div.group-users td.lastname, div.group-users th.lastname {
	width: 7em;
}

div.group-users td.profile, div.group-users th.profile {
	width: 7em;
}

div.group-users td.last_connection, div.group-users th.last_connection {
	width: 11em;
}

div.group-teams div.table-container {
	max-height: 20em;
	position: relative;
}

div.group-teams td.profile div {
	margin-left: -2px;
}

div.group-attributes {
	margin-bottom: 1em;
}

table.group-attributes div.inline-chooser {
	width: 15em;
}

div.group-applications div.content {
	margin-bottom: 0.5em;
	height: 25em;
	position: relative;
}

div.group-applications div.list-container {
	position: absolute;
	top: 2em;
	bottom: 0px;
	left: 0px;
	right: 0.5em;
	overflow-y: auto;
	height: 23em;
}

div.invite-dialog, div.revoke-dialog {
	height: 95%;
}

div.revoke-dialog div.mioga2-userselect-actions-cont, div.revoke-dialog div.is-actions-cont {
	display: none;
}

div.revoke-dialog span.team-profile {
	margin-left: 1em;
	font-style: italic;
}

div.confirm-dialog select.profile-select {
	margin-left: 2em;
}

div.confirm-dialog {
	padding: 5px;
}

div.confirm-dialog ul.button_list {
	text-align: center;
}

div.confirm-dialog ul.item-list {
	max-height: 10em;
	overflow: auto;
}

table th.header {
	cursor: pointer;
}

table th.headerSortUp div.sort-order-placeholder {
	background-image: url("../images/16x16/actions/arrow-up.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: top right;
	height: 16px;
	width: 16px;
	display: inline-block;
	vertical-align: bottom;
	margin-left: 5px;
}

table th.headerSortDown div.sort-order-placeholder {
	background-image: url("../images/16x16/actions/arrow-down.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: top right;
	height: 16px;
	width: 16px;
	display: inline-block;
	vertical-align: bottom;
	margin-left: 5px;
}

div.group-profiles ul.button_list {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}


/* ========================================
	User synthesis
   ======================================== */

div.user-title {
	background-image: url(../images/48x48/places/user-identity.png);
	background-repeat: no-repeat;
	padding-left: 55px;
	min-height: 48px;
	margin-bottom: 0.5em;
}

table.user-identity ul.team-list {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

table.user-identity ul.team-list li {
	display: inline;
	margin-right: 0.5em;
}

/* ========================================
	Team synthesis
   ======================================== */

div.team-title {
	background-image: url(../images/48x48/apps/system-users.png);
	background-repeat: no-repeat;
	padding-left: 55px;
	min-height: 48px;
	margin-bottom: 0.5em;
}

/* ========================================
	Profile editor
   ======================================== */
div.title h1 {
	margin-top: 0px;
}

div.profile-title {
	background-image: url(../images/48x48/apps/preferences-contact-list.png);
	background-repeat: no-repeat;
	padding-left: 55px;
	min-height: 48px;
	margin-bottom: 0.5em;
}

.fouquet-profile-synthesis ul.button_list {
	text-align: left;
	margin-top: 0px;
}

.fouquet-profile-synthesis div.row ul.button_list li .button {
	margin-top: 0px;
}

div.fouquet-profile-synthesis.editor span.inline-edit {
	padding-right: 20px;
	background: url(../images/16x16/actions/document-edit.png) no-repeat scroll right center transparent;
}

div.inline-edit-form-cont {
	position: relative;
	padding-right: 45px;
}

div.fouquet-profile-synthesis.editor input[type="text"] {
	width: 100%;
}

div.save-icon {
	background: url(../images/16x16/actions/dialog-ok-apply.png) no-repeat scroll left center transparent;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	display: inline-block;
	position: absolute;
	right: 20px;
}

div.cancel-icon {
	background: url(../images/16x16/actions/dialog-cancel.png) no-repeat scroll left center transparent;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	display: inline-block;
	position: absolute;
	right: 0px;
}

label.changed {
	text-decoration: line-through;
	color: red;
}

label.checked.changed {
	text-decoration: none;
	color: green;
}

/* ========================================
	Application details
   ======================================== */

ul.applications-rights {
	margin: 0px;
	padding: 0px;
	padding-left: 100px;
	list-style-type: none;
}

ul.applications-rights li.application {
	margin-top: 1em;
	margin-bottom: 1em;
	min-height: 80px;
	position: relative;
	font-weight: bold;
}

ul.applications-rights li.application div.top-link {
	float: right;
	margin-right: 5px;
	margin-top: -5px;
	height: 16px;
	width: 16px;
	background-image: url('../images/16x16/actions/go-top.png');
	background-repeat: no-repeat;
	background-position: top right;
	cursor: pointer;
}

ul.applications-rights li.application div.icon {
	position: absolute;
	top: 0px;
	left: -80px;
}

ul.applications-rights ul.functions {
	list-style-type: none;
	font-weight: normal;
}

ul.list.applications {
	margin: 0px;
	padding: 0px;
	padding-left: 50px;
	list-style-type: none;
}

div.enable-application-list div.list-placeholder {
	border: 1px solid;
	padding-left: 5px;
	padding-right: 5px;
	font-style: italic;
	border-radius: 3px;
	cursor: pointer;
}

div.enable-application-list.open div.list-placeholder {
	border-bottom: none;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

div.enable-application-list div.list-placeholder span.list-open, div.enable-application-list div.list-placeholder span.list-closed {
	float: right;
}

div.enable-application-list.closed div.list-placeholder span.list-open {
	display: none;
}

div.enable-application-list.open div.list-placeholder span.list-closed {
	display: none;
}

ul.list.applications.inactive-applications {
	background-color: white;
	border: 1px solid;
	border-top: none;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	position: relative;
	max-height: 10em;
	z-index: 500;
	overflow-y: auto;
}

ul.list.applications.inactive-applications li {
	cursor: pointer;
}

ul.list.applications li.application {
	position: relative;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-right: 0.5em;
	min-height: 50px;
	position: relative;
	font-weight: bold;
}


ul.list.applications li.application div.note {
	font-weight: normal;
	font-style: italic;
}

ul.list.applications li.application div.icon {
	position: absolute;
	top: 0px;
	left: -40px;
}

ul.list.applications li.application div.delete {
	position: absolute;
	top: 2px;
	right: 2px;
	background: url(../images/16x16/actions/edit-delete.png) no-repeat scroll top left;
	width: 16px;
	height: 16px;
}

div.enable-application {
	margin-left: 50px;
	margin-right: 0.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

div.enable-application select {
	width: 100%;
}

/* ========================================
	Rights
   ======================================== */

ul.rights.legend {
	text-align: right;
	margin-top: 5px;
	margin-right: 5px;
}

ul.rights.legend li {
	display: inline;
	margin-left: 1em;
}

/* ========================================
	Resources
   ======================================== */

ul.list.resources {
	margin: 0px;
	padding: 0px;
	padding-left: 50px;
	list-style-type: none;
}

ul.list.resources li.resource {
	position: relative;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-right: 0.5em;
	min-height: 50px;
	position: relative;
	font-weight: bold;
}

ul.list.resources li.resource div.note {
	font-weight: normal;
	font-style: italic;
}

ul.list.resources li.resource div.delete {
	position: absolute;
	top: 2px;
	right: 2px;
	background: url(../images/16x16/actions/edit-delete.png) no-repeat scroll top left;
	width: 16px;
	height: 16px;
}

div.enable-resource {
	margin-left: 50px;
	margin-right: 0.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

div.enable-resource select {
	width: 100%;
}
