.filter-form {
	width: 36em;
}

.filter-field {
	width: 20em;
}

.filter-field input {
	width: 17em;
}

.clear-filter-list {
	height: 18px;
	width: 18px;
	background: transparent url(../images/16x16/actions/clear_left.png) no-repeat scroll center left;
	vertical-align: middle;
	margin-left: 0.5em;
	border: none;
}

#ConfirmSelectionActionDialog {
	min-width: 50em;
	max-height: 35em;
}

#ConfirmSelectionActionDialog div.contents {
	max-height: 25em;
	overflow: auto;
}

#ConfirmSelectionActionDialog table.list {
	width: 100%;
}
