/* Global options */
body {
	width:100%;
	height:100%;
}
table tr td {
	vertical-align: top;
}
body,div,iframe {
	margin:0;
	padding:0;
}

.ui-button-text-only .ui-button-text {
	padding: .1em 0.8em;
}

.app-progressbar-cont {
	background-color:#ffffff;
 	position:absolute;
	top : 0;
	left:0;
	width:100%;
	height:100%;
	z-index:9999999;
	opacity : 0.9;
}
.app-progressbar-cont > h1 {
	margin-top:2em;
	text-align:center;
}
.app-progressbar-cont > .app-progressbar {
	width:50%;
	margin:auto;
}
input[type="text"] {
	min-width: 15em;
	padding : 0;
}
textarea {
	min-width : 18em;
	min-height : 5em;
}
input[type="checkbox"] {
	width : auto;
}
div.modal-box {
	background: url("../images/bg_disabled.png") repeat scroll 0 0 transparent;
	height: 100%;
	left: 0;
	position: fixed !important;
	top: 0;
	width: 100%;
	z-index: 142;
	color : red;
}
.haussmann input[type="text"], .haussmann select, .haussmann textarea {
	color:#404040;
	font-weight : normal;
}
.success-message {
	display : inline-block;
	margin-left : 0.5em;
	margin-right : 0.5em;
	color : green;
}

.item-no-sortable:hover h2.title_bg_color:hover {
	cursor : default;
}

.unit-task-list.ui-sortable .fineblanking-item:hover,
.unit-task-list.ui-sortable .u_t_label:hover,
.unit-task-list.ui-sortable .u_t_workload:hover,
.unit-task-list.ui-sortable .u_t_comment:hover,
.ui-sortable-enable .item-sortable:hover,
.ui-sortable-enable .item-sortable:hover h2.title_bg_color:hover {
	cursor : move;
}

.edit-cont span:hover,
.edit-link-cont span:hover,
span.h_up:hover,
span.h_down:hover,
span.h_create:hover,
span.item-create:hover,
span.h_edit:hover,
span.h_see:hover,
span.h_delete:hover,
span.item-delete:hover,
.adv-params-toggle-btn:hover,
.toogle-tree-link:hover,
.u_t_edit:hover,
.u_t_delete:hover,
.link-create-UT:hover,
.create-task-note-link:hover,
.task-note-edit:hover,
.create-result-note-link:hover,
.result-note-edit:hover,
.back-result-view:hover,
.add_result_link:hover,
.toggle-view:hover,
.coment_link > *:hover,
[class^="level_"] h2.title_bg_color:hover > * {
	cursor : pointer;
}
/* ===============================================
=============== Sortable ==================
==============================================  */
.tree_view_cont .h-sortable-placeholder,
.list_view_cont .h-sortable-placeholder,
.result_view_cont .h-sortable-placeholder,
.no-affected-task-cont .h-sortable-placeholder,
.unit-task-cont .h-sortable-placeholder {
	border : 1px dashed green;
	background: grey;
	opacity : 0.2;
	display : block;
	visibility : visible;
	margin : 0.5em 1em;
}

/* ===============================================
=============== DisplayMain ======================
==============================================  */
.haussmann-main {
	margin : 1em;
}
.project-editor {
	position : relative;
}
/* ===============================================
left container
==============================================  */
.main-left {
	width : 20em;
	position : absolute;
	top : 0;
}
.main-left > div{
	margin-bottom : 1em;
	margin-top : 1.5em;
}
/*========= Project Label ==========   */
.project-global-info p {
	display : inline-block;
}
.project-global-info > p {
	padding-left : 1em;
	padding-right : 1em;
	padding-bottom : 1em;
	padding-top : 1em;
	margin : 0;
}
/*========= Project Description ==========   */
.project-description{
	margin-top : 1em;
}
.project-description p{
	padding-left : 0.2em;
	padding-right : 0.2em;
}
/*========= file list ==========   */
.project-file-browser {
	height : 200px;
	width : inherit;
}
.h-generalInfo-fileuploader {
	height : 290px;
	width : 250px;
}
/*========= result list ==========   */
.result-list {
	width : 45%;
}
[class^="result-item-"] {
	position : relative;
	padding-bottom : 2px;
}
.result-item-check.unchecked {
	/* border: 1px solid black; */
	display: inline-block;
	height: 16px;
	padding: 0;
	vertical-align: middle;
	width: 16px;
}
.result-item-check.checked {
	background: url("../images/16x16/actions/dialog-ok-apply.png") no-repeat scroll left center transparent;
	display: inline-block;
	height: 16px;
	padding: 0;
	vertical-align: middle;
	width: 16px;
}
.result-item-label {
	margin-left : 1em;
}
.result-list .h_delete {
	position : absolute;
	right : 4px;
}
.result-list .h_edit {
	position : absolute;
	right : 22px;
}
.result-add-cont {
	margin-top : 1em;
	margin-bottom : 0.5em;
}
.back-result-view {
	margin-left : 1em;
}

/* ===============================================
right container
==============================================  */
.main-right {
	min-width : 70em;
	margin-left : 21em;
	top : 0;
	left : 0;
}
.main-right .project-list-editor {
	width : 45%;
}
.main-right .project-list-editor > .project-list-link {
	margin-bottom : 1em;
}
/* ==== task no affected block and tasks ==== */
.edit-cont,
.edit-link-cont,
.result-add-cont {
	margin-bottom : 0.5em;
	margin-top : 0.5em;
	margin-left : 0.5em;
	margin-right : 0.5em;
	height : 2em;
}

.main-right div.no-affected-task-cont {
	padding : 0.5em;
}
.main-right div.no-affected-task-block {
	margin-bottom : 1em;
	padding-top : 0.3em
}
.main-right div.no-affected-task-block .edit-cont > span,
.main-right .edit-link-cont span,
.result-add-cont > span {
	margin-left : 0.7em;
	margin-right : 0.7em;
}
.main-right div.no-affected-task-block .edit-cont > span > *{
	margin-right : 0.5em;
}
/* ==== task  ==== */
div[id*="task-id-"].project-task {
	display : block;
	position : relative;
	min-height : 2em;
	margin-top : 0.5em;
	margin-bottom : 0.5em;
	margin-left : 1em;
	margin-right : 1em;
	padding-top : 0.4em;
	padding-bottom : 0.4em;
	padding-left : 16px;
}
.project-task > * {
	display : inline-block;
	vertical-align: middle;
}
div.project-task p {
	padding-right : 0.7em;
	padding-left : 0.7em;
	margin : 0;
}
div.project-task > a {
	width : 20px;
}
div.project-task > div.task-label {
	display : inline-block;
	position : relative;
	padding-right : 600px;
}
div.project-task > div.task-pend {
	width : 130px;
	position : absolute;
	right : 208px;
	
}
div.project-task > .task-delegated {
	width : 250px;
	position : absolute;
	right : 342px;
}
div.project-task > div.task-current-progress {
	position : absolute;
	right : 44px;
	height : 18px;
	width : 160px;
}
.progress-label {
	float: left;
	margin-left: 50%;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
}
div.project-task > div.task-edit-icone {
	position : absolute;
	right : 24px;
}
div.project-task > div.task-delete-icone {
	position : absolute;
	right : 4px;
}
/* ==== View containers  ==== */

/* ==== Tree container  ==== */

.tree_view_cont > div[class^="container_level_"].target {
	margin : 0;
	padding-top : 0;
}

.tree_view_cont div[class^="container_level_"] .task-target,
.list_view_cont .task-target,
.result_view_cont .task-target {
	min-height: 4em;
}

div[id^="tree_cont_"] h2 > * {
	margin-right: 0.5em;
}
.tree_comment {
	font-size : 70%;
}
.grouping_tree_comment {
	padding: 0.5em;
	border-bottom: 1px solid #8AC4FF;
}
div.comment_content {
	color : gray;
	padding-left : 1.5em;
}
.coment_link a {
	margin-right: 1em;
}
.container_level_0 h2.title_bg_color.foldable span.fold-icon,
.result_view_cont h2.title_bg_color.foldable span.fold-icon,
.list_view_cont h2.title_bg_color.foldable span.fold-icon {
	position : relative;
	float : left;
	margin-left : 0.6em;
	background-image : url("../images/16x16/actions/arrow-down.png");
}
.container_level_0 h2.title_bg_color.foldable span.fold-icon.unfold,
.result_view_cont h2.title_bg_color.foldable span.fold-icon.unfold,
.list_view_cont h2.title_bg_color.foldable span.fold-icon.unfold {
	background-image : url("../images/16x16/actions/arrow-right.png");
}
.container_level_0 span.h_delete {
	float : right;
}
.tree_view_cont div[class^="container_level_"],
.tree_view_cont div[class^="container_level_"] > div {
	min-height: 2em;
	margin-top : 1em;
	margin-bottom : 1em;
	margin-left : 1em;
	margin-right : 1em;
}
.tree_view_cont > div.container_level_0,
.tree_view_cont > div.container_level_0 > div.level_0 {
	margin : 0;
	margin-bottom : 1em;
}
.h_setTitle > * {
	margin-right : 0.5em;
}

div.add-tree-cont {
	margin-left : 0.5em;
	margin-bottom : 0.5em;
}
div.add-tree-cont > *{
	margin-right : 0.5em;
}

/* comment Tree */
.coment_link > * {
	margin-right : 0.6em;
}
.form-edit-tree-comment {
	text-align : center;
}
.tree-delete-dialog {
	height : 100%;
}
.mioga-ui-dialog-delete .action-cont {
	bottom: 0;
	position: absolute;
	width: 100%;
	margin-bottom : 0.5em;
}
/* ==== List container  ==== */
div.list_cont_0 > div, div.result_cont_0 > div {
	margin-bottom: 1em;
}

span.result-pend {
	float : right;
}
/* ===============================================
===============ProjectListEditor==================
==============================================  */
.project-list-editor {
	margin : 0 auto;
	text-align: center;
}
.project-list-editor .project-create-link-cont,
.project-list-editor .project-search-cont {
	width : 48%;
	display : inline-block;
	text-align : left;
	margin-bottom : 1em;
}
.project-search-cont > * {
	margin-left : 5px;
	margin-right : 5px;
	display : inline-block;
}
 .project-list-cont {
	width : 80%;
	margin : 0 auto;
	text-align: left;
} 
.project-list-cont div.project-list-item {
	width : 23%;
	height : 20em;
	
}
.project-list-cont div.project-list-item:hover {
	background-color: #B0B0B0;
	cursor : pointer;
}
.project-list-item .project-delete {
	display:block;
	float:right;
	width:16px;
	height:16px;
	background:transparent url("../images/16x16/actions/dialog-close.png") no-repeat scroll right center;
}
.project-list-item div.project-description {
	text-align : left;
	height : 15em;
	padding : 1em;
	margin : 0;
	overflow : hidden;
}
.project-list-item h2 {
	text-align : center;
}
.project-list-cont > p {
	text-align : center;
}

/* status filter */

.hide-by-status, .hide-by-label {
	display : none;
}

.undefined-status {
	border-bottom : 1px solid black;
	font-style: italic;
}
.project-search-cont .container {
	display : inline-block;
	position : absolute;
	z-index : 10;
	width : 250px;
	border : 1px solid black;
	background-color: white;
}

.title-cont {
	width : 100%;
	position : relative;
}
.title-cont:hover {
	background-color: #E0E2E6;
	cursor : pointer;
}
.title {
	padding : 1px;
	padding-left : 5px;
}
.icon-down {
	position : absolute;
	right : 0;
	top : 0;
	
	background-image: url("../images/16x16/actions/arrow-down.png");
	background-repeat: no-repeat;
	background-position : center;
	display : block;
	width : 32px;
	height : 100%;
	margin : 0 auto;
}
.item-label {
	padding-right : 30px;
}
.selected {
	background-image: url("../images/16x16/actions/dialog-ok-apply.png");
	background-repeat: no-repeat;
	background-position : right;
}

.item {
	position: relative;
	padding-top : 5px;
	padding-bottom : 5px;
	cursor : pointer;
}
.item:hover {
	background-color: #B6D4F3;
}
.list {
	border-top : 1px solid black;
	padding : 5px;
}

/*========= Change Project table==========   */
.project-list-cont tbody tr:nth-of-type(even) {
	background-color: #edf4ff;
}
.project-list-cont tbody tr:hover {
	cursor : pointer;
	background-color : #D3D3D3;
}

/* ========= Task edition ================== */
.status-edit-link-cont, .progress-edit-link-cont {
	margin-bottom : 0.5em;
	margin-top : 0.5em;
}
.status-edit-link-cont > *, .affectation-person-cont > *, .progress-edit-link-cont > * {
	margin-left : 0.5em;
	margin-right : 0.5em;
}
.affectation-person-cont {
	white-space:nowrap;
}

/* tags */
.tag-item {
	margin-right : 0.5em;
}
.us {
	height : 350px;
	padding : 0.5em;
}
.delegation-actions-cont {
	margin-top : 0.5em;
}
.unit {
	margin-left : 0.5em;
}
.task-editor .form label {
	width:15em;
}
.task-editor table {
	 width : 35em;
}
.task-editor table.task-progress-table {
	width : 25%;
}
.task-editor table.task-progress-table td:nth-child(1){
	width : 60%;
}
.task-editor table.task-progress-table td:nth-child(2){
	width : 40%;
}

fieldset table.status-table td{
	 width : 32%;
}

.task-editor fieldset table.status-table td.status-item-delete{
	 width : 4%;
	 min-width : 16px;
}
/* FINEBLANKING */
.completed {
	background : #DCDCDC;
}
.form-edit-UT div.form-item {
	margin-bottom : 0.3em;
}
.fineblanking-item {
	width : 45%;
	min-width : 500px;
	border : 1px solid black;
	margin-top : 0.2em;
	margin-bottom : 0.2em;
}
.fineblanking-item > * {
	display : inline-block;
	vertical-align : middle;
}
.fineblanking-item > .u_t_checkbox {
	width : 5%;
	min-width : 20px;
}

.fineblanking-item > .u_t_date {
	width : 12%;
}
.fineblanking-item > .u_t_date input{
	width : 80%;
	min-width: 80%;
}
.fineblanking-item > .u_t_label {
	width : 25%;
}
.fineblanking-item > .u_t_workload {
	width : 15%;
}
.fineblanking-item > .u_t_comment {
	width : 33%;
}
.fineblanking-item > .u_t_edit {
	width : 5%;
	min-width : 16px;
}
.fineblanking-item > .u_t_remove {
	width : 5%;
	min-width : 16px;
}
.u_t_date input {
	background: transparent;
	border: none;
	width : auto;
}
/* TASK NOTE */
.edit-note-form-cont {
	width : 100%;
	height : 100%;
	text-align: center;
}
.edit-note-form-cont textarea,
.form-edit-tree-comment textarea{
	width : 90%;
	margin : 0 auto;
	height : 160px;
	margin-top : 10px;
}
.edit-note-actions-cont {
	height : 10%;
}
h3.task-note-title,
h3.result-note-title {
	padding-top : 1em;
	text-align: left;
	margin : 0;
	min-height : 20px;
}
h3.task-note-title > *,
h3.result-note-title > * {
	display : inline-block;
}
.task-note-item-info,
.result-note-item-info {
	width : 90%;
	color: DarkGrey;
	font-size: 0.9em;
}
.task-note-item-info span,
.result-note-item-info span {
	padding-left : 1em;
}
.task-note-edit-link-cont, .task-note-delete,
.result-note-edit-link-cont, .result-note-delete {
	width : 5%;
	font-style: normal;
	font-weight: normal;
}
.task-note-list,
.result-note-list {
	margin-top : 2em;
	width : 45%;
}
.task-note-list .task-note-item,
.result-note-list .result-note-item {
	margin-bottom : 0.8em;
	width : 100%%;
}
.task-note-text,
.result-note-text {
	overflow: auto;
	padding : 1em;
}
/* TAGS */
ul.suggestions {
	position : fixed;
	background-color: white;
}
/* ==================================================================
	div of notes
================================================================== */
div.notes-item {
	margin-bottom : 0.8em;
	width : 50%;
}
div.notes-content {
	max-width : 500px;
	overflow: auto;
	padding : 1em;
}
h3.notes-title {
	display : inline-block;
	color: DarkGrey;
	font-size: 0.9em;
	padding-left: 35px;
	padding-right: 35px;
	padding-top : 1em;
	text-align: left;
	margin : 0;
	min-height : 20px;
}
div.new-notes-link {
	text-align : right;
}
/* ===============================================
DisplayProject
==============================================  */
#haussmann-definition {
	display : none;
	width : 600px;
}
	.edit-project-actions-cont > * {
		margin-left : 0.2em;
		margin-right : 0.2em;
	}
	
	.save-edit-project-btn {
		margin-top : 0.5em;
	}
	
	/* ========= Project information ================== */

.status-fieldset table.status-table {
	width : 45%;
}
.status-fieldset td.status-label {
	width : 25%;
}
.status-fieldset td.status-date {
	width : 25%;
}
.status-fieldset td.status-comment {
	width : 44%;
}
.status-fieldset td.status-delete {
	width : 6%;
	text-align : center;
}
/* ========= Advanced parameters ================== */

/* vocabulary */
span[class^="haussmannVoc_"] {
	font-size: inherit;
}
.form-item label {
	color : gray;
}
.buttons-control-cont > * , .model-control-box .button{
	width : auto;
	margin-left : 0.2em;
	margin-right : 0.2em;
}
.sub-list-cont {
	margin-left : 2em;
}
input.button.disabled {
	opacity : 0.3;
}

.fileselector_cont {
	width : 95%;
	height : 95%;
}
/* ==================================
				images 
 ==================================*/
span.h_create, span.item-create {
	height: 16px;
	width: 16px;
	display: inline-block;
	background: transparent url('../images/16x16/actions/list-add.png') no-repeat scroll right center;
	vertical-align: middle;
}
span.h_edit {
	height: 16px;
	width: 16px;
	display: inline-block;
	background: transparent url('../images/16x16/actions/document-edit.png') no-repeat scroll right center;
	vertical-align: middle;
}
span.h_see {
	height: 16px;
	width: 16px;
	display: inline-block;
	background: transparent url('../images/16x16/actions/document-preview.png') no-repeat scroll right center;
	vertical-align: middle;
}
span.h_view-choose {
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url("../images/16x16/actions/view-choose.png") no-repeat scroll right center;
	vertical-align: middle;
}
span.h_delete, span.item-delete {
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url("../images/16x16/actions/trash-empty.png") no-repeat scroll right center;
	vertical-align: middle;
}
span.h_down{
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url("../images/16x16/actions/arrow-down.png") no-repeat scroll right center;
	/* float : right; */
}
span.h_up{
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url("../images/16x16/actions/arrow-up.png") no-repeat scroll right center;
}
span.h_ok{
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url("../images/16x16/actions/dialog-ok-apply.png") no-repeat scroll right center;
	vertical-align: middle;
}
span.h_cancel{
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url("../images/16x16/actions/dialog-close.png") no-repeat scroll right center;
	vertical-align: middle;
}
span.h_locked {
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url("../images/16x16/actions/edit-lock.png") no-repeat scroll right center;
	vertical-align: middle;
}
span.h_unlocked {
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url("../images/16x16/actions/edit-unlock.png") no-repeat scroll right center;
	vertical-align: middle;
}
input.h_error {
	border : solid 2px red;
	color : red;
}
span.choose-person-icon {
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url("../images/16x16/actions/resource-group.png") no-repeat scroll right center;
	vertical-align: middle;
}
span.task-notification {
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url("../images/16x16/actions/bookmark-new.png") no-repeat scroll right center;
	vertical-align: middle;
	position : absolute;
	left : 5px;
}

/* Attendee list */

.attendee-count {
	margin-left:5px;
	background-color:#f0f0f0;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:2px;
	padding-right:2px;
	border:1px solid #e0e0e0;
}

.add-attendee {
	text-decoration:underline;
	cursor:pointer;
}
.task-responsable {
	display:inline-block;
	width:45%;
}
.task-attendees {
	display:inline-block;
	vertical-align:top;
}

.task-attendee-list {
	list-style-type: none;
	margin:0px;
	padding:0px;
}
.task-attendee-list li {
	vertical-align:middle;
}

.remove-attendee {
	display:inline-block;
	width:16px;
	height:1em;
	background-image: url("../images/16x16/actions/edit-delete.png");
	background-repeat:no-repeat;
	background-position:left center;
	overflow:hidden;
	text-indent:-99999px;
	margin-right:0.3em;
}

/* GANTT */

.eiffel
  ,.eiffel input
  , .eiffel select {
	color:#404040;
}

.show-gantt, .hide-gantt {
	margin-left : 1em;
	cursor : pointer;
}
.gantt-config-link {
	cursor : pointer;
}
.gantt-pref-dial .button_list{
	margin-bottom : 0.5em;
}
table.gantt-pref-pl {
	width : 100%;
	border-collapse: collapse;
	text-align : left;
}

table.gantt-pref-pl td, table.gantt-pref-pl th {
	padding : 0.8em;
}
table.gantt-pref-pl tbody tr:FIRST-CHILD {
	background-color : #CBCBCB;
}

/* ========================================
	progress-bar
   ======================================== */
.app-progressbar-cont {
	background-color:#ffffff;
	position:absolute;
	top 0;
	left:0;
	width:100%;
	height:100%;
	z-index:100;
}
.app-progressbar-cont > h1 {
	margin-top:2em;
	text-align:center;
}
.app-progressbar-cont > .app-progressbar {
	width:50%;
	margin:auto;
}

.eiffel-content {
	margin-top: 20px;
	margin-left:8px;
	margin-right:8px;
}

/* ========================================
	planning header
   ======================================== */

.p-header {
	margin-bottom:0.5em;
}
.toolbar {
	position:relative;
	/* text-align : center; */
}
.toolbar-item {
	display: inline-block;
	vertical-align:middle;
}

.tb-button {
	width:1.9em;
	height:1.9em;
	line-height:1.9em;
	overflow:hidden;
	text-indent:-99999px;
	border: 1px solid #999999;
	border-radius: 3px;
	background-color:#e6e6e6;
	padding:auto;
	display:inline-block;
}
.backward-many {
	background-image: url("../images/16x16/actions/arrow-left-double.png");
	background-repeat:no-repeat;
	background-position:center center;
}
.backward-one {
	background-image: url("../images/16x16/actions/arrow-left.png");
	background-repeat:no-repeat;
	background-position:center center;
}
.forward-one {
	background-image: url("../images/16x16/actions/arrow-right.png");
	background-repeat:no-repeat;
	background-position:center center;
}
.forward-many {
	background-image: url("../images/16x16/actions/arrow-right-double.png");
	background-repeat:no-repeat;
	background-position:center center;
}
.zoom-out {
	background-image: url("../images/16x16/actions/zoom-out.png");
	background-repeat:no-repeat;
	background-position:center center;
}
.zoom-in {
	background-image: url("../images/16x16/actions/zoom-in.png");
	background-repeat:no-repeat;
	background-position:center center;
}
.today {
	height:1.9em;
	line-height:1.9em;
	overflow:hidden;
	border: 1px solid #999999;
	border-radius: 3px;
	background-color:#e6e6e6;
	display:inline-block;
	padding-left:5px;
	padding-right:5px;
}

.today-cont, .forward-cont,.comment-cont, .zoom-cont {
	margin-left:1em;
}

.zoom-cont {
	position:absolute;
	right:0px;
}
.comment-cont {
	position: absolute;
	right: 70px;
}
/* ========================================
	planning
   ======================================== */

.planning-cont {
	border: 1px solid #cccccc;
	overflow: hidden; /* For IE when subtask exists, grid is visible at sub table */
}

.planning table, .planning th, .planning tr, .planning td {
	padding:0px;
	margin:0px;
}

.h-head {
	height:1.5em;
	background-image:url(../images/jquery-ui/ui-bg_highlight-hard_75_bcd5f0_1x100.png);
	background-color:#bcd5f0;
	background-position:50% 50%;
	z-index:-5;
	position:relative;
}

.entries-table {
	background-color:transparent;
	border-collapse:collapse;
	width:100%;
	zoom:1;
}

.entry-head {
	width:15em;
	background-color:#e6e6e6;
}

.entries-table td, .entries-table th {
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	vertical-align:top;
}
.entries-table th {
	text-align:left;
}

.p-sep {
	background-color:#ffffff;
	height:5px;
}
.entry-val {
	width:100%;
	height:100%;
	position:relative;
}

.week-table {
	border-collapse:collapse;
	width:100%;
	zoom:1;
}

.week-table td.week {
	vertical-align:top;
	height:100%;
}

.days-table {
	border-collapse:collapse;
	width:100%;
	height:100%;
	padding:0px;
	margin:0px;
}

/* Do not set border-width larger then 1px */
.days-table td, .days-table th {
	border: 1px solid #cccccc;
	/* border-right: 1px solid #cccccc; */
	vertical-align:top;
}

.month .days-table td {
	border-left: 1px dotted #CCCCCC;
	border-right: 1px dotted #CCCCCC;
}

.month .days-table td:first-child {
	border-left: 1px solid #CCCCCC;
}

.month .days-table td:last-child {
	border-right: 1px solid #CCCCCC;
}

.project-line th{
	background-color: #CBCBCB;
	cursor : pointer;
}

.milestone-line .task-cell {
	-webkit-transform: rotate(45deg);/* rotation de 45 degrés */
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	background-color : red;
	
}


.days-table .day-content {
	height:100%;
}
.day-head, .week-head, .month-head {
	height:1.5em;
	position:relative;
}
.day-head > div {
	position: relative;
	height: inherit;
}
.day-head > div > div {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow-x: hidden;
}

.day-cell {
	height:100%;
	position:relative;
}

.task-cell {
	margin-bottom:1px;
	height:10px;
}

.week-end {
	background-color:#f5f5f5;
}
/*	===============================================
	Configuration screen
	=============================================== */
.eiffel-config {
	padding:0.5em;
}
.eiffel-config .sbox {
	margin-top:1em;
}

.eiffel-config .form label {
	width:20em;
}
.display-list {
	list-style-type : none;
	list-style-position:inside;
	list-style-image:none;
	width:25em;
	margin-top: 0.5em;
	margin-left:1em;
	padding:0;
}
.display-list li {
	padding:0.1em;
	margin-top:0.1em;
	margin-bottom:0.1em;
	cursor:move;
}
.display-list .display-user {
	border:1px solid #808080;
	background-color:#F6F6FF;
}
.display-list .display-res {
	border:1px solid #808080;
	background-color:#F6F6FF;
}
.display-list .display-sep {
	height:16px;
	position:relative;
}

.display-list .display-sep .separator {
	background-color:#d0d0d0;
	margin-top:6px;
	height:4px;
	display:block;
}

.display-list .display-sep .destroy-sep {
	position:absolute;
	top:0;
	right:0;
	display:block;
	width:16px;
	height:16px;
	background-color: #ffffff;
	background-image: url("../images/16x16/actions/edit-delete.png");
	background-repeat:no-repeat;
	background-position:left center;
	overflow:hidden;
	text-indent:-99999px;
	cursor:pointer;
}

.action {
	cursor:pointer;
	margin-left:1em;
}
.add-new {
	background-image: url("../images/16x16/actions/list-add.png");
	background-repeat:no-repeat;
	background-position:left center;
	padding-left:3px;
	display:inline-block;
	width:16px;
	height:16px;
	overflow:hidden;
	text-indent:-99999px;
}
/*	===============================================
	cell detail
	=============================================== */
.details .item-label {
	font-size:150%;
	font-weight:bold;
}
.task-list,.no-task  {
	margin-bottom:1em;
}
.task-list  {
	width:100%;
	border-collapse:collapse;
}
.task-list td {
	border-bottom:1px solid grey;
}
.task-list .task-hour {
	width:10em;
}
