
/* Global options */
body {
	width:100%;
	height:100%;
}
table tr td {
	vertical-align: top;
}
body,div,iframe {
	margin:0;
	padding:0;
}

.ui-button-text-only .ui-button-text {
	padding: .1em 0.8em;
}

input[type="text"] {
	min-width: 15em;
	padding : 0;
}
textarea {
	min-width : 18em;
	min-height : 5em;
}
input[type="checkbox"] {
	width : auto;
}

.haussmann input[type="text"], .haussmann select, .haussmann textarea {
	color:#404040;
	font-weight : normal;
	-webkit-print-color-adjust:exact;
}

.item-no-sortable:hover h2.title_bg_color:hover {
	cursor : default;
}

#apptitle {
	display : none;
}

/* ===============================================
=============== DisplayMain ======================
==============================================  */
.haussmann-main {
	margin : 1em;
}
.project-editor {
	position : relative;
}
/* ===============================================
left container
==============================================  */
.main-left {
	width : 20em;
}
.main-left > div{
	margin-bottom : 1em;
	margin-top : 1.5em;
}
/*========= Project Label ==========   */
.project-global-info p {
	display : inline-block;
}
.project-global-info > p {
	padding-left : 1em;
	padding-right : 1em;
	padding-bottom : 1em;
	padding-top : 1em;
	margin : 0;
}
/*========= Project Description ==========   */
.project-description{
	margin-top : 1em;
}
.project-description p{
	padding-left : 0.2em;
	padding-right : 0.2em;
}

/* ===============================================
right container
==============================================  */
.main-right {
	width : 60em;
	margin-left : 21em;
	position : absolute;
	top : 0;
	left : 0;
}
.main-right .project-list-editor {
	width : 45%;
}
.main-right .project-list-editor > .project-list-link {
	margin-bottom : 1em;
}
/* ==== task no affected block and tasks ==== */
.edit-cont,
.edit-link-cont,
.result-add-cont {
	margin-bottom : 0.5em;
	margin-top : 0.5em;
	margin-left : 0.5em;
	margin-right : 0.5em;
	height : 2em;
}

.main-right div.no-affected-task-cont {
	padding : 0.5em;
}
.main-right div.no-affected-task-block {
	margin-bottom : 1em;
	padding-top : 0.3em
}
.main-right div.no-affected-task-block .edit-cont > span,
.main-right .edit-link-cont span,
.result-add-cont > span {
	margin-left : 0.7em;
	margin-right : 0.7em;
}
.main-right div.no-affected-task-block .edit-cont > span > *{
	margin-right : 0.5em;
}
/* ==== task  ==== */
div[id*="task-id-"].project-task {
	display : block;
	position : relative;
	min-height : 2em;
	margin-top : 0.5em;
	margin-bottom : 0.5em;
	margin-left : 1em;
	margin-right : 1em;
	padding-top : 0.4em;
	padding-bottom : 0.4em;
	padding-left : 8px;
}
.project-task > * {
	display : inline-block;
	vertical-align: middle;
}
div.project-task p {
	padding-right : 0.7em;
	padding-left : 0.7em;
	margin : 0;
}
div.project-task > a {
	width : 20px;
}
div.project-task > div.task-label {
	display : inline-block;
	position : relative;
	padding-right : 463px;
}
div.project-task > div.task-pend {
	width : 130px;
	position : absolute;
	right : 208px;
}
div.project-task > .task-delegated {
	width : 120px;
	position : absolute;
	right : 342px;
}
div.project-task > div.task-current-progress {
	position : absolute;
	right : 44px;
	height : 18px;
	width : 160px;
}
.progress-label {
	float: left;
	margin-left: 50%;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
}

/* ==== View containers  ==== */

/* ==== Tree container  ==== */

.tree_view_cont > div[class^="container_level_"].target {
	margin : 0;
	padding-top : 0;
}

.tree_view_cont div[class^="container_level_"] .task-target,
.list_view_cont .task-target,
.result_view_cont .task-target {
	min-height: 4em;
}

div[id^="tree_cont_"] h2 > * {
	margin-right: 0.5em;
}
.tree_comment {
	font-size : 70%;
}
.grouping_tree_comment {
	padding: 0.5em;
	border-bottom: 1px solid #8AC4FF;
}
div.comment_content {
	color : gray;
	padding-left : 1.5em;
	-webkit-print-color-adjust:exact;
}
.coment_link a {
	margin-right: 1em;
}
.container_level_0 h2.title_bg_color.foldable span.fold-icon,
.result_view_cont h2.title_bg_color.foldable span.fold-icon,
.list_view_cont h2.title_bg_color.foldable span.fold-icon {
	-webkit-print-color-adjust:exact;
	position : relative;
	float : left;
	margin-left : 0.6em;
	background-image : url("../images/16x16/actions/arrow-down.png");
}
.container_level_0 h2.title_bg_color.foldable span.fold-icon.unfold,
.result_view_cont h2.title_bg_color.foldable span.fold-icon.unfold,
.list_view_cont h2.title_bg_color.foldable span.fold-icon.unfold {
	background-image : url("../images/16x16/actions/arrow-right.png");
	-webkit-print-color-adjust:exact;
}
.container_level_0 span.h_delete {
	float : right;
}
.tree_view_cont div[class^="container_level_"],
.tree_view_cont div[class^="container_level_"] > div {
	min-height: 2em;
	margin-top : 1em;
	margin-bottom : 1em;
	margin-left : 1em;
	margin-right : 1em;
}
.tree_view_cont > div.container_level_0,
.tree_view_cont > div.container_level_0 > div.level_0 {
	margin : 0;
	margin-bottom : 1em;
}
.h_setTitle > * {
	margin-right : 0.5em;
}

div.add-tree-cont {
	margin-left : 0.5em;
	margin-bottom : 0.5em;
}
div.add-tree-cont > *{
	margin-right : 0.5em;
}

/* comment Tree */
.coment_link > * {
	margin-right : 0.6em;
}
.form-edit-tree-comment {
	text-align : center;
}
.tree-delete-dialog {
	height : 100%;
}
.mioga-ui-dialog-delete .action-cont {
	bottom: 0;
	position: absolute;
	width: 100%;
	margin-bottom : 0.5em;
}
/* ==== List container  ==== */
div.list_cont_0 > div, div.result_cont_0 > div {
	margin-bottom: 1em;
}

/* ==================================
				images 
 ==================================*/

span.h_view-choose {
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url("../images/16x16/actions/view-choose.png") no-repeat scroll right center;
	vertical-align: middle;
}

span.h_down{
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url("../images/16x16/actions/arrow-down.png") no-repeat scroll right center;
	-webkit-print-color-adjust:exact;
}
span.h_up{
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url("../images/16x16/actions/arrow-up.png") no-repeat scroll right center;
}

span.task-notification {
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url("../images/16x16/actions/bookmark-new.png") no-repeat scroll right center;
	vertical-align: middle;
	position : absolute;
	left : 5px;
	-webkit-print-color-adjust:exact;
}
.sbox {
	-webkit-print-color-adjust:exact;
}
.title_bg_color {
	background : none;
}
.project-view-list, .project-file-browser-cont {
	display : none;
}


/* GANTT VIEW FOR PRINT */
/*

	For correctly rendering, you must resizing yours browser in real output format.

 */

/* ========================================
	planning header
   ======================================== */

.p-header {
	margin-bottom:0.5em;
}
.toolbar {
	position:relative;
}
.toolbar-item {
	display: inline-block;
	vertical-align:middle;
}

.tb-button {
	width:1.9em;
	height:1.9em;
	line-height:1.9em;
	overflow:hidden;
	text-indent:-99999px;
	border: 1px solid #999999;
	border-radius: 3px;
	background-color:#e6e6e6;
	padding:auto;
	display:inline-block;
}
.backward-many {
	background-image: url("../images/16x16/actions/arrow-left-double.png");
	background-repeat:no-repeat;
	background-position:center center;
}
.backward-one {
	background-image: url("../images/16x16/actions/arrow-left.png");
	background-repeat:no-repeat;
	background-position:center center;
}
.forward-one {
	background-image: url("../images/16x16/actions/arrow-right.png");
	background-repeat:no-repeat;
	background-position:center center;
}
.forward-many {
	background-image: url("../images/16x16/actions/arrow-right-double.png");
	background-repeat:no-repeat;
	background-position:center center;
}
.zoom-out {
	background-image: url("../images/16x16/actions/zoom-out.png");
	background-repeat:no-repeat;
	background-position:center center;
}
.zoom-in {
	background-image: url("../images/16x16/actions/zoom-in.png");
	background-repeat:no-repeat;
	background-position:center center;
}
.today {
	height:1.9em;
	line-height:1.9em;
	overflow:hidden;
	border: 1px solid #999999;
	border-radius: 3px;
	background-color:#e6e6e6;
	display:inline-block;
	padding-left:5px;
	padding-right:5px;
}

.today-cont, .forward-cont,.comment-cont, .zoom-cont {
	margin-left:1em;
}

.zoom-cont {
	position:absolute;
	right:0px;
}
/* ========================================
	planning
   ======================================== */

.planning-cont {
	border: 1px solid #cccccc;
	overflow: hidden; /* For IE when subtask exists, grid is visible at sub table */
}

.planning table, .planning th, .planning tr, .planning td {
	padding:0px;
	margin:0px;
}

.h-head {
	height:1.5em;
	background-image:url(../images/jquery-ui/ui-bg_highlight-hard_75_bcd5f0_1x100.png);
	background-color:#bcd5f0;
	background-position:50% 50%;
	z-index:-5;
	position:relative;
}

.entries-table  {
	background-color:transparent;
	border-collapse:collapse;
	width:100%;
	zoom:1;
}

.entry-head {
	width:15em;
	background-color:#e6e6e6;
}

.entries-table td, .entries-table th {
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	vertical-align:top;
}
.entries-table th {
	text-align:left;
}

.p-sep {
	background-color:#ffffff;
	height:5px;
}
.entry-val {
	width:100%;
	height:100%;
	position:relative;
}

.week-table {
	border-collapse:collapse;
	width:100%;
	zoom:1;
}

.week-table td.week {
	vertical-align:top;
	height:100%;
}
.days-table {
	border-collapse:collapse;
	width:100%;
	height:100%;
	padding:0px;
	margin:0px;
}

/* Do not set border-width larger then 1px */
.days-table td, .days-table th {
	border : 1px solid #cccccc;
	vertical-align:top;
}

.days-table .day-content {
	height:100%;
}
.day-head {
	height:1.5em;
	position:relative;
}
.day-cell {
	height:100%;
	position:relative;
}

.task-cell {
	margin-bottom:1px;
	height:10px;
}

.week-end {
	background-color:#f5f5f5;
}

.show-gantt, .gantt-config-link {
	display : none;
}

