
/* Specific styles for IE */

* {
    font-size: x-small; /* For IE */
}

table, p, li, div {
    font-size: x-small; /* For IE */
}

/* Hack to have some kind of min-height in IE */
* html .inline-message p {
	height: 32px;
}

div.tabbed-dialog {
	height: 500px;
}

div.center-aligned-tab-content {
	margin-left: 5%;
	margin-right: 5%;
	width: 80%;
}

div.dijitToolbar {
	height: 20px !important;
}

/* Tags */
ul.taglist {
	margin-top: 5px;
	margin-bottom: 5px;
}

ul.taglist li {
	display: inline;
}

ul.suggestions {
	height: 10em;
}

#props_mgt fieldset {
	height: 95%;
}

input[type=checkbox], input[type=radio] {
	width: auto;
}
