html, body {
	height: 100%;
}

body.Louvre {
	text-align: center;
}

body.Louvre table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

body.Louvre .right-align {
	text-align: right;
}

body.Louvre .left-align {
	text-align: left;
}

body.Louvre label {
	float: none;
	width: auto;
	margin-right: 0;
}

body.Louvre td.button_cell {
	padding-top:0.5cm;
	text-align:center;
}

body.Louvre .centered {
	text-align:center;
}

body.Louvre .invisible {
	display: none;
}

body.Louvre p.center {
	text-align: center;
}

tr {
	vertical-align: top;
}

div.message-container {
	position: relative;
	height: 100%;
}

div.message-container p {
	position: absolute;
	top: 25%;
	width: 100%;
}

input[type=checkbox] {
	width: auto;
}

#ui-container {
	width: 100%;
	height: 100%;
	text-align: left;
}

#viewer-container {
	position: relative;
	height: 100%;
	display: none;
}

#viewer, #search-results {
	height: 100%;
	width: 100%;
	border: none;
	}

#search-results {
	display: none;
}

div.close-box {
	width: 16px;
	height: 16px;
	background: transparent url(../images/16x16/actions/dialog-close.png) no-repeat scroll 0 0;
	position: absolute;
	top: 0px;
	right: 0px;
	margin-top: 0.5em;
	margin-right: 0.5em;
}

div.ui-layout-center {
	padding: 0px;
}

.filetree span.gallery {
	padding-left: 20px;
	background-image: url(../images/16x16/places/folder-image.png);
	background-repeat: no-repeat;
}

.filetree div.hitarea {
	display: inline-block;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.filetree div.hitarea.collapsable-hitarea {
	background-image: url(../images/fold.png);
}

.collapsable {
	white-space:nowrap;
}

.filetree div.hitarea.expandable-hitarea {
	background-image: url(../images/unfold.png);
}

/**************
 * Search bar
 **************/

input.checkbox {
	width: auto;
	margin-right: 0.5em;
	vertical-align: sub;
}

#search-toggler {
	width: 32px;
	height: 32px;
	position: absolute;
	top: 0px;
	right: 0px;
	background: transparent url(../images/32x32/actions/edit-find.png) no-repeat scroll top right;
	margin-right: 1.5em;
	margin-top: 0.5em;
	z-index: 10;
}

#search-bar {
	border-bottom: 1px solid #DDDDDD;
	display: none;
	position: relative;
	z-index: 99;
	background-color: white;

	box-shadow: 0px 2px 5px #888;
	-moz-box-shadow: 0px 2px 5px #888;
	-webkit-box-shadow: 0px 2px 5px #888;
}

#query_string {
	width: 35em;
	margin-right: 1em;
}

div.search-parameters {
	margin-top: 0.5em;
}

div.search-parameter {
	display: inline;
	margin-right: 1em;
}

span.label {
	font-weight: bold;
}


/*****************
 * Search results
 *****************/

#search-results {
	list-style-type: none;
}

#search-results li.result {
	display: inline-block;
	margin: 1em;
	text-align: center;
}

#search-results div.thumbnail {
	width: 100px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #DDDDDD;
}

#download-selection {
	position: absolute;
	right: 5px;
}


/*****************
 * Preview
 *****************/

#preview {
	cursor: pointer;

	border: 1px solid #DDDDDD;

	box-shadow: 2px 2px 5px #888;
	-moz-box-shadow: 2px 2px 5px #888;
	-webkit-box-shadow: 2px 2px 5px #888;
}

#preview ul.taglist {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#preview ul.taglist li {
	display: inline-block;
	margin-right: 0.5em;
}
