div.thumbnail {
	text-align: center;
	font-size: smaller;
	margin: 5px;
	overflow: hidden;
}

div.thumbnail a:link, h1 a:link, h1 a:visited {
	text-decoration: none;
	color: inherit;
}

div.thumbnail a:visited {
	text-decoration: none;
	color: grey;
}

div.thumbnail a:hover, h1 a:hover {
	text-decoration: underline;
}

div.thumbnail_img {
	margin-left: auto;
	margin-right: auto;
}

div.thumbnail_img_inner a:link img, div.thumbnail_img_inner a:visited img {
	border-style:none;
}

body.white {
	background-color: white;
	color: black;
}

body.black {
	background-color: black;
	color: white;
}

p.no_image {
	text-align: center;
}

div.subgallery {
	float: left;
	border: solid 1px white;
	padding-left: 5px;
	padding-right: 5px;
	margin: 5px;
}

div.subgallery a {
	text-decoration: none;
	color: inherit;
}

div.thumbnail_start {
	clear: both;
}

#caption {
	text-decoration: underline;
}

span.filename, div.description, div.dimensions, div.tags, div.weight {
	text-overflow: ellipsis;
	-moz-binding: url('bindings.xml#ellipsis');
	font-size: smaller;
}

#imageDetails span.image-attribute {
	display: block;
}

#imageDetails span#dimensions {
	display: inline-block;
}

#imageDetails span#weight {
	display: inline-block;
	margin-left: 1em;
}

div.options-box {
	text-align: right;
}

div.option-item {
	display: inline-block;
}


/*****************
 * Preview
 *****************/

div.preview {
	border: 1px solid #DDDDDD;

	box-shadow: 2px 2px 5px #888;
	-moz-box-shadow: 2px 2px 5px #888;
	-webkit-box-shadow: 2px 2px 5px #888;

	z-index: 99;
}

body.white div.preview {
	background-color: white;
}

body.black div.preview {
	background-color: black;
}

div.preview img {
	cursor: pointer;
}

div.preview ul.taglist {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

div.preview ul.taglist li {
	display: inline-block;
	margin-right: 0.5em;
}
