.x-tree-node-expanded .x-tree-node-icon {
  /*background-image: url('../images/folder_open.png');*/
}

.x-tree-node-collapsed .x-tree-node-icon {
  /*background-image: url('../images/folder_closed.png');*/
}

.x-tree-node-leaf .x-tree-node-icon {
  background-image: url(../../../../static/latest/jslib/extjs/resources/images/default/tree/folder.gif);
}

div.data-view {
  height: 100%;
  overflow: auto;
}

.x-panel-body{
  background: white;
  font: 11px Arial, Helvetica, sans-serif;
}
.thumb{
  padding: 3px;
  text-align: center;
  position: relative;
  zoom: 1; /* hack for IE */
}

.thumb-wrap{
  float: left;
  margin: 4px;
  margin-right: 0;
  padding: 5px;
  width: 100px;
}
.thumb-wrap span{
  display: block;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
}

.x-view-over{
  border:1px solid #dddddd;
  background: #efefef url(../../../../static/latest/jslib/extjs/resources/images/default/grid/row-over.gif) repeat-x left top;
  padding: 4px;
}

.x-view-selected{
  background: #eff5fb url('../images/selected.gif') no-repeat right bottom;
  border:1px solid #99bbe8;
  padding: 4px;
}
.x-view-selected .thumb{
  background:transparent;
}

.loading-indicator {
  font-size:11px;
  background-image:url('../../../../static/latest/jslib/extjs/resources/images/default/grid/loading.gif');
  background-repeat: no-repeat;
  background-position: left;
  padding-left:20px;
  margin:10px;
}

div#properties {
  background-color: #DFE8F6;
  background-position: 5px 10px;
  background-repeat: no-repeat;
  height: 100%;
  padding-left: 138px;
  padding-top: 0.5em;
  position: relative;
  zoom: 1; /* hack for IE */
}

div#properties label {
  font-weight: bold;
  float: left;
  width: 14em;
  display: block;
  text-align: right;
  margin-right: 1em;
}

div#properties label.clickable {
	text-decoration: underline;
	cursor: pointer;
}

div#properties table {
	border-spacing: 0.5em;
}

div#properties td {
	vertical-align: top;
}

#prop_extra_infos, #louvre_infos {
  padding-left: 1em;
  font-style: italic;
}

.ext-mb-input {
  background: #FFFFFF url('../../../../static/latest/jslib/extjs/resources/images/default/form/text-bg.gif') repeat-x scroll 0pt 50%;
  border: 1px solid #B5B8C8;
  padding: 1px 3px;
}

img.lock {
  position: absolute;
  left: 22px;
  bottom: 4px;
}

div#prop_lock {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 128px;
  background: url('../images/32x32/status/object-locked.png') no-repeat left 110px;
}

iframe#rights_iframe {
  padding-left: 1px;
}

div#rights_mgt {
	height: 100%;
}

.form input {
	width: auto;
}

.history-edit {
  background: url('../images/16x16/actions/document-edit.png') no-repeat left center;
}

.history-rename {
  background: url('../images/rename.png') no-repeat left center;
}

button.btn-lock {
  background-image: url('../images/16x16/actions/edit-lock.png');
}

button.btn-unlock {
  background-image: url('../images/16x16/actions/edit-unlock.png');
}

div.mb-magellan {
  background-image: url('../images/magellan_big.png');
  width: 64px !important;
  height: 64px !important;
}

#metrics {
    visibility: hidden;
}

div#prop_infos {
    float: left;
    width: 49%;
}

div#comment_infos {
    float: left;
	width: 49%;
}

div.comment-view {
    overflow: auto;
    border: 1px solid #B5B8C8;
    background-color: white;
    padding: 5px;
    margin-bottom: 1em;
}

div.comment-view .comment {
    border-bottom: 1px dashed gray;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

div.comment-view .comment p {
    padding-left: 1em;
}

/**
 * For DisplayAppTitle
 */
table.top_menu {
  background-color: white;
  background-position: right top;
  background-repeat: repeat-y;
  font-size: small;
  font-family: sans-serif;
  color: #0332B2;
}

#leftcolumn {
	width: 49%;
	float: left;
}

#rightcolumn {
	width: 49%;
	float: right;
}

#inheritance label {
	width: 15em;
}

/** For Louvre */
div.gallery {
    background-image:url(../images/louvre_bg.png);
}

.x-grid3-cell-inner,.x-grid3-hd-inner {
	-moz-binding: url( 'bindings.xml#ellipsis' );
}

/* Error boxes */
.error-contents {
	padding-left: 50px;
}

.error-contents p {
	margin-top: 0.5em;
}

ul.dav-source-list {
	padding-left: 2em;
}

ul.dav-errors {
	list-style-type: disc;
	padding-left: 2em;
	margin-top: 0.2em;
}

span.dav-error-reason {
	font-weight: bold;
}

div.error-contents p.error-message {
	padding-left: 0.5em;
	font-family: monospace;
	font-size: 120% !important;
}


/**
 * Properties management
 */
#props_mgt {
	height: 100%;
}

#props_mgt form {
	height: 100%;
	position: relative;
	padding: 0px;
}

#props_mgt fieldset {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: 0.5em;
}

#props_mgt textarea {
	width: 100%;
}

div.box {
	width: 100%;

	display: box;
	display: -moz-box;
	display: -webkit-box;
}

div.checkbox-item input[type=checkbox], div.checkbox-item input[type=radio] {
	vertical-align: sub;
}

label.checkbox-label {
	float: none;
	text-align: left;
	margin-left: 5px;
}

#properties-data {
	box-flex: 1;
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
}

#properties-mode {
	max-width: 300px;

	border: 1px solid #DDDDDD;
	padding: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	background-color: #FAA857;
}

table.form {
	width: 100%;
}

table.form tr {
	vertical-align: top;
}

table.form td.form-label {
	width: 10em;
}

table.form td.properties-notice {
	padding-left: 1em;
	width: 15em;
}

#properties-multiple {
	padding-left: 1em;
	width: 15em;
	vertical-align: middle;
}

table.form hr {
	border: none;
	border-bottom: 1px dashed #DDDDDD;
}

table.form ul {
	list-style: disc inside;
}

#iframe_louvre {
	height: 100%;
	width: 100%;
}

div.info {
	float: none;
	margin-top: 0px;
	margin-left: 0.2em;
	display: inline;
}

div.info img {
	vertical-align: bottom;
}

/* ExtJS JavaScript-computed-fixed-positioning is incompatible with high apptitle bar, so don't show header */
.magellan #apptitle-header {
	display: none;
}
