/**
 * Mermoz CSS
 * @media screen
 */

table.mceLayout {
}

.mermoz div.success {
	clear: both;
	color: green;
	margin: 0.5em;
	background-color: #CCFFCC;
	border: 2px solid green;
	text-align: center;
	line-height: 2em;
}

.mermoz div.form {
	margin-left: 18em;
	margin-top: 0.5em;
	margin-right: 1em
}

.mermoz div.contacts {
	float: left;
	width: 17em;
	margin-left: 0.5em;
}

div.contacts h2 {
	padding-left: 20px;
	background: url(../images/16x16/places/user-identity.png) no-repeat center left;
}

div.contacts img {
	vertical-align: middle;
}

div.contacts ul {
	list-style: none;
	padding-left: 0.5em;
    margin: 0px;
}

div.contacts ul li.group {
	margin-bottom: 1em;
	position: relative;
	zoom: 1; /* IE hack */
}

.mermoz textarea, .mermoz input.text {
	border: 1px solid #CCCCCC;
	background-color: white;
}

.mermoz input.text {
	width: 75%;
}

.mermoz textarea {
	width: 100%;
}

.mermoz textarea.disabled, .mermoz input.disabled {
	color: gray;
	background-color: #F7F7F7;
}

.mermoz input.checkbox, .mermoz div.contacts input {
	vertical-align: middle;
}

.mermoz div.contacts input {
	position: absolute;
	right: 10px;
}

.mermoz label {
	vertical-align: middle;
}
