
.minical-month table {
	border-collapse:collapse;
	width:100%;
	font-size:1.0em;
}
.minical-header {
	position:relative;
	text-align:center;
	padding : 0.2em;
}
.minical-prev {
	position:absolute;
	top:2px;
	left:2px;
	height:1.8em;
	width:1.8em;
	vertical-align:middle;
	cursor:pointer;
}
.minical-next {
	position:absolute;
	top:2px;
	right:2px;
	height:1.8em;
	width:1.8em;
	vertical-align:middle;
	cursor:pointer;
}
.minical-indate {
	display:block;
}
.minical-outdate {
	display:block;
	color:#d0d0d0;
}
.minical-title,.minical-week,.minical-day {
	cursor:pointer;
}
.minical-day {
	text-align:right;
}

.ui-state-default.minical-today,.ui-state-default.minical-today.minical-view {
	background-image:url(../images/jquery-ui/ui-bg_glass_75_da7e25_1x400.png);
}

.ui-state-default.minical-view, .minical-view {
	background-image:url(../images/jquery-ui/ui-bg_inset-soft_95_fef1ec_1x100.png);
	background-color:#fef1ec;
}

