/* -----------------------------------------------------------
   Index
     General  : standard elements without classes
     Common   : common elements with classes
     Colors   : basic definition for colors
                Note : Some colors are defined more than once !
     Entities : presentation styles for menu, boxes, ...
	 LargeLists and other relics : classes that replace in-html
	 			style directives preventing the users to create
				a theme. Should disapear soon, when LargeLists
				are not needed anymore.


   Look at docs/css to see examples
   ----------------------------------------------------------- */


/* -----------------------------------------------------------
   General
   ----------------------------------------------------------- */
html {
	width: 100%;
}

* {
    font-size: small;
}

body {
  font-family: sans-serif;
  background: #ffffff;
  color: #0332b2;
  margin: 0px;
  padding:0px;
  font-size:small;
  width: 100%;
}

table, p, li, div {
	font-size: small;
}

div {
	margin:0px;
	padding:0px;
}

input {
  background-color: #ededff;
  color: #0332b2;
  font-size: 90%;
}

select {
  background-color: #ededff;
  color: #0332b2;
  font-size: 90%;
}

textarea {
  background-color: #ededff;
  font-size: 90%;
  color: #0332b2;

  padding-top: 2px;
  padding-bottom: 2px;
}

a {
   color: #0332b2;
}

img {
	border: none;
}

h1 {
	font-size: 130%;
	font-weight: bold;
}
h2 {
	font-size: 110%;
	font-weight: bold;
}
h3 {
	font-size: 100%;
	font-weight: bold;
	font-style: italic;
}
h4 {
	font-size: 100%;
	font-style: italic;
}

p {
	text-align: justify;
}

table p {
	margin-top: 0px;
	margin-bottom: 0px;
}

form {
    margin: 0.3em;
    padding: 0.5em;
}

input {
  background-color: #ededff;
  color: #0332b2;
  font-size: 90%;
}

select {
  background-color: #ededff;
  color: #0332b2;
  font-size: 90%;
}


textarea {
  background-color: #ededff;
  font-size: 90%;
  color: #0332b2;

  padding-top: 2px;
  padding-bottom: 2px;
}

/* -----------------------------------------------------------
   Common
   ----------------------------------------------------------- */

.disabled {
    background-color: #EEE;
    color: #888;
}

p.error {
	color: red;
}

p.maintitle {
	font-size: 140%;
	font-weight: bold;
}

p.subtitle {
	font-size: 120%;
	font-weight: bold;
	font-style: italic;
}



a.highlight {
   color: #226;
   text-decoration: none;
}

a.highlight:hover {
   color: #226;
   text-decoration: underline;
}

a.highlight-branch {
   color: #0332b2;
   text-decoration: none;
}

a.highlight-branch:hover {
   color: #0332b2;
   text-decoration: underline;
}

div.clear-both {
	clear: both;
}

p.note {
    font-style: italic;
}

div.info {
	float: right;
	margin-top: -0.5em;
}


.captcha img {
	vertical-align: text-top;
}

p.warning {
	font-weight: bold;
}
/* -----------------------------------------------------------
   Colors
   ----------------------------------------------------------- */

.text_color {
	color: #0332b2;
}
.bg_color {
	background:#fafafa url("../images/titleBar.png")  top left repeat-x;
}
.border_color {
	border: 1px solid #8ac4ff;
}
.title_color {
	color: #0332b2;
}
.title_bg_color {
	color:#373941;
	background:#fafafa url("../images/titleBar.png")  top left repeat-x;
}
.highlight_bg_color {
  background-color: #f98080;
}

.subtitle_color {
	color: #222266;
}
a {
	color: #0332b2;
}
a:active {
	color: #0332b2;
}
a:visited {
	color: #0332b2;
}

.odd {
	background-color: #ffffff;
}

.even {
	background-color: #edF4ff;
}

.holidays {
  background-color: #f98080;
}

.selected {
	background-color: #D9E6F9;
}

/* -----------------------------------------------------------
   Entities
   ----------------------------------------------------------- */
/* Simple box */

div.sbox {
	margin:0px;
	padding:0px;
	border: 1px solid #8ac4ff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
div.sbox h2 {
	margin:0px;
	padding:3px;
}

/* list table */

table.list {
	border-collapse:collapse;
}
table.list td, table.list th {
	border: 1px solid #2488ef;
	padding:3px;
}
table.list td.center {
	text-align: center;
}
table.list th {
	background:#fafafa url("../images/titleBar.png")  top left repeat-x;
	text-align: center;
	font-weight: bold;
}
table.list tr.odd {
	background-color: #ffffff;
}
table.list tr.even {
	background-color: #edF4ff;
}
table.list tr.highlight {
	background-color: #D0D0D0;
}
table.list tr.list-body:hover {
	background-color: #D0D0D0;
}
table.wide {
	width: 100%;
}
table.list td.borderless,tr.borderless,th.borderless {
	border: none;
}

/* Buttons and button list */

.button, .button:visited {
	border: 1px solid black;
	padding: 0.15em;
	background-color:#ffa857;
	font-weight: bold;
	font-size:1em;
	color: #ffffff;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.cancel, .cancel:visited {
	background-color:#b0b0b0;
}

.button.normal, .button.normal:visited {
	color : grey;
	background : url("../images/titleBar.png") repeat-x scroll left top #FAFAFA;
}

ul.button_list {
	list-style-type: none;
    margin: 0px;
	margin-top: 0.5em;
    padding: 0px;
	text-align: center;
}
ul.button_list li {
	display: inline;
    margin: 0px;
    padding: 0.2em;
}

/* Horizontal menu */

ul.hmenu {
	list-style-type: none;
    margin: 0px;
    padding: 0px;
    margin-bottom: 0.3em;
}

ul.hmenu li {
	display: inline-block;
    margin: 0px;
    padding: 0.3em;
	border-bottom:4px solid transparent;
}

ul.hmenu li a {
	text-decoration: underline;
	cursor: pointer;
}

ul.hmenu li.selected {
	background-color: transparent;
}

ul.hmenu li:hover {
	background-color: #d9e6f9;
}

ul.hmenu li:hover, ul.hmenu li.selected {
	border-bottom:4px solid #0332b2;
}

/* tabs menu */

ul.tabs {
	list-style-type: none;
    margin: 0px;
    padding: 0px;
    margin-top: 3px;
}
ul.tabs li {
	float:left;
    margin: 0px;
	background:#fafafa url("../images/titleBar.png")  top left repeat-x;
	border-left: 1px solid #8ac4ff;
	border-top: 1px solid #8ac4ff;
	border-right: 1px solid #8ac4ff;
	-moz-border-radius:5px 5px 0px 0px;
	border-radius:5px 5px 0px 0px;
	-webkit-border-radius:5px 5px 0px 0px;
    padding: 0;
}
ul.tabs li.selected {
	background-color:#ffffff;
	background-image:none;
}
ul.tabs li:hover {
	background-color: #c0c0c0;
}
ul.tabs a {
	display:block;
	text-decoration:none;
	font-weight:bold;
	padding:5px 15px;
}
ul.tabs li:hover a {
	color: #FFA857;
}

/* Vertical menu */

ul.vmenu {
	list-style-type: none;
    margin: 0px;
    padding: 0px;
}
ul.vmenu li {
    margin: 0px;
    padding: 0;
	background-color: transparent;
	cursor: pointer;
}
ul.vmenu li.selected {
	background-color: transparent;
	border-right:4px solid #0332b2;
}
ul.vmenu li:hover {
	background-color: #d9e6f9;
	border-right:4px solid #0332b2;
}
ul.vmenu a {
	display:block;
	text-decoration:none;
	font-weight:bold;
	padding:5px 15px;
	background-color: transparent;
}
ul.vmenu li:hover a {
	color: #FFA857;
}
ul.vmenu li.selected a {
}

/* dropdown menu */

ul.dropdown,
ul.dropdown li,
ul.dropdown ul {
 list-style: none;
 margin: 0;
 padding: 0;
}

ul.dropdown {
 position: relative;
 z-index: 597;
 float: left;
}

ul.dropdown li {
 float: left;
 line-height: 1.3em;
 vertical-align: middle;
 zoom: 1;
}

ul.dropdown li.hover,
ul.dropdown li:hover {
 position: relative;
 z-index: 599;
 cursor: default;
}

ul.dropdown ul {
 visibility: hidden;
 position: absolute;
 top: 100%;
 left: 0;
 z-index: 598;
 width: 100%;
}

ul.dropdown ul li {
 float: none;
}

ul.dropdown ul ul {
 top: 1px;
 left: 99%;
}
ul.dropdown li:hover > ul {
 visibility: visible;
}
/* dropdown style */

ul.dropdown {
	font-weight:bold;
}
ul.dropdown, ul.dropdown li, ul.dropdown ul {
	list-style-position: outside;
	list-style-type: none;
}
ul.dropdown li {
	padding:7px 10px;
	color:#373941;
	border:1px solid #cbcbcb;
	background-color :#d9e6f9;
}

ul.dropdown a:link {
	text-decoration:none;
	color:#373941;
}
ul.dropdown a:visited {
	text-decoration:none;
	color:#373941;
}
ul.dropdown li:hover {
	background-color :#d9e6f9;
}
ul.dropdown ul {
	width:10em;
}

/* dialog */

div.dialog {
    background-color: white;
}
.dialog div.content {
	margin: 0.5em;
}

/* ----------------------------
   Navigation inter-group and intra-application
   ---------------------------- */

ul.app-nav {
	list-style-type: none;
	padding: 0 0 0 0.5em;
}

.app-nav li {
	display: inline;
	padding-right: 5px;
}

.app-nav li.chained {
	background:url("../images/tiny_right_arrow.png") no-repeat left;
	padding-left: 12px;
}

/* -------------------
   Messages
   ------------------- */

.inline-message {
	width: 50%;
	margin-left: 25%;
	background-image: url('../images/message-background.png');
	position: absolute;
	z-index: 900;
}

.inline-message div.close {
	position: absolute;
	right: 5px;
	top: 5px;
	height: 16px;
	width: 16px;
	background: url("../images/16x16/actions/dialog-close.png") no-repeat scroll 0 0 transparent;
}

.inline-message p {
	min-height: 32px;
	background-repeat: no-repeat;
	background-position: 10px 0px;
	padding-left: 60px;
	margin-right: 35px;
	font-weight:bold;
}

.inline-message p.info {
	background-image: url('../images/32x32/emblems/emblem-info.png');
}

.inline-message p.error {
	background-image: url('../images/32x32/emblems/emblem-important.png');
}

/* -------------------
   Forms
   ------------------- */

.form, .dojo-form {
    margin: 0em;
}

.form fieldset, .dojo-form fieldset {
	border:1px solid #dddddd;
	padding: 0.5em 0.5em 0.5em;
}

.form textarea, .dojo-form textarea {
	-x-system-font:none;
	background:#FAFAFA none repeat scroll 0 0;
	border:1px solid #DDDDDD;
	font-family:arial,sans-serif;
	font-size:0.95em;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:normal;
	padding:0.15em;
}

.form textarea {
	width:10em;
}

.form select, .dojo-form select {
	-x-system-font:none;
	background:#FAFAFA none repeat scroll 0 0;
	border:1px solid #DDDDDD;
	font-family:arial,sans-serif;
	font-size:0.95em;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:normal;
	padding:0.15em;
}

.form select {
	width:10em;
}


.form p, .dojo-form p {
	margin-top: 0px;
	text-align: justify;
}

.form legend, .dojo-form legend {	
	color:#faA857;
	font-size:1.2em;
}	
.form fieldset div.form-item, .dojo-form fieldset div.form-item {
	clear:both;
	margin:0.3em 0;
}

.form label, .dojo-form label {
	float:left;
	margin-right:1em;
	text-align:right;
	width:10em;
}
.form input, .dojo-form input {
	-x-system-font:none;
	background:#FAFAFA none repeat scroll 0 0;
	border:1px solid #DDDDDD;
	font-family:arial,sans-serif;
	font-size:0.95em;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:normal;
	padding:0.15em;
}
.form input {
	width:10em;
}
.form input:hover, .form input:focus {
	border-color:#C5C5C5;
}
.form .button, .form .button:visited, .form .button:hover {
	border: 1px solid black;
	padding: 0.15em;
	background-color:#ffa857;
	font-weight: bold;
	font-size:1em;
	color: #ffffff;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.form .cancel, .form .cancel:visited, .form .cancel:hover {
	background-color:#b0b0b0;
}


.form .radio, .form .date, .dojo-form .radio, .dojo-form .date {
	position:relative;
}
.form .radio fieldset, .form .date fieldset, .dojo-form .radio fieldset, .dojo-form .date fieldset {
	border:medium none;
	padding:1px 0 0 11em;
	width:auto;
}
.form .radio legend, .form .date legend, .dojo-form .radio legend, .dojo-form .date legend {
	color:#0332B2;
	font-size:1em;
}

.form .radio legend span, .form .date legend span, .dojo-form .radio legend span, .dojo-form .date legend span {
	display:block;
	left:0;
	position:absolute;
	width:10em;
}

.form legend span, .dojo-form legend span {
	text-align:right;
}
.form .radio label, .form .radio input, .dojo-form .radio label, .dojo-form .radio input {
	background:transparent none repeat scroll 0 0;
	border:medium none;
	display:inline;
	float:none;
	vertical-align:middle;
	width:auto;
}
label.error {
	color: red;
}

.form .radio div, .dojo-form .radio div {
	clear:none;
	float:left;
	white-space:nowrap;
}
.form .form-buttons, .dojo-form .form-buttons {
	padding-top:1em;
}

div.form-title {
	border: 1px solid #DDDDDD;
	margin: 0px 2px 5px 2px;
	padding: 0px 1px 0px 1px;
	font-weight: bold;
	text-align: center;
}

div.form-buttons {
	text-align: right;
}

/* -------------------
   Rights
   ------------------- */

ul.rights {
    list-style: none;
}

ul.rights li {
    padding-left: 20px;
    line-height: 20px;
}

ul.rights li.read-write {
	background-image: url(../images/16x16/status/security-high.png);
	background-repeat: no-repeat;
	background-position: center left;
}

ul.rights li.read-only {
	background-image: url(../images/16x16/status/security-medium.png);
	background-repeat: no-repeat;
	background-position: center left;
}

ul.rights li.no-right {
	background-image: url(../images/16x16/status/security-low.png);
	background-repeat: no-repeat;
	background-position: center left;
}


/* -------------------
   LargeLists and other relics
   ------------------- */
.mioga-body {
	background-color: #FFFFFF;
	color: #0332B2;
	margin: 0px;
	font-family: sans-serif;
}

.mioga-app-body {
	margin: 0.7em;
}

.mioga-app-form-body {
	margin: 0.7em;
	text-align: center;
}

.mioga-app-message-body {
	margin-top: 5em;
	margin-bottom: 0.7em;
	margin-left: 0.7em;
	margin-right: 0.7em;
}

.mioga-app-footer {
	margin: 0.7em;
	text-align: center;
}

.workspace-menu-body {
	background-image: url(../images/menu_bg.gif);
	background-repeat: repeat-y;
	background-color: #FFFFFF;
	font-family: sans-serif;
}

.mioga-empty-table-100 {
	border: none;
	width: 100%;
	background-color: #FFFFFF;
}

.mioga-empty-table {
	border: none;
}

.mioga-box-title {
	color: #0332b2;
	font-weight: bold;
	font-family: sans-serif;
	padding: 0.1em 0.1em 0em 0.5em;
	text-align: left;
}

.mioga-box-background {
	background-color: #FFFFFF;
}

.mioga-content-table {
	border: none;
	background-color: #8AC4FF;
	width: 100%;
}

.mioga-border-table {
	background-color: #8AC4FF;
	border: none;
}

.mioga-form-input-label {
	color: #0332b2;
	font-family: sans-serif;
	vertical-align: top;
}

.mioga-form-input-error-label {
	font-family: sans-serif;
	font-weight: bold;
	color: #f95c5c;
	vertical-align: top;
}

.mioga-form-input-value {
	padding-left: 0.3em;
	font-family: sans-serif;
	color: #0332b2;
}

.mioga-form-table {
	border-width: 1px;
	border: 1px solid #0332b2;
}

.mioga-form-table-title {
	border: none;
	color: #0332b2;
	font-weight: bold;
	background-color: #8AC4FF;
}

.mioga-title {
	color: #0332b2;
	font-weight: bold;
}

.mioga-message {
	padding: 0.3em;
}

.mioga-arg-error {
	font-family: sans-serif;
	font-weight: bold;
	color: #f95c5c;
	text-align: center;
}

.mioga-bordered {
	padding: 5px;
	border: 1px solid #0332b2;
}

.mioga-list-title {
	color: #0332b2;
}

.mioga-sll-619 {
	background-color: #edf4ff;
	width: 100%;
}

.large-list {
	width: 100%;
	background-color: #8AC4FF;
}

table.list {
	width: 100%;
}

table.list tr.list-title {
	background-color: #8AC4FF;
	text-align: center;
}

.ll-239 {
	background-color: #8AC4FF;
	width: 100%;
}

.ll-outer {
	border: none;
	width: 100%;
	background-color: #8AC4FF;
}


/* -------------------
   Classes from widget-colors.xsl
   ------------------- */
.mioga-text-color {
	color: #0332b2;
}

.mioga-bg-color {
	background-color: #ffffff;
}

.mioga-border-color {
	color: #000000;
}

.mioga-title-bg-color {
	background-color: #8AC4FF;
}

.mioga-subtitle-color {
	color: #222266;
}

.mioga-link-color {
	color: #0048FF;
}

.mioga-error-color {
	color: #f95c5c;
}

.mioga-inactive-tab-bg-color {
	background-color: #edf4ff;
}

.mioga-active-tab-text-color {
	color: #000000;
}

.mioga-inactive-tab-text-color {
	color: gray;
}

.mioga-list-even-row-bg-color {
	background-color: #edf4ff;
}

.mioga-list-selected-row-bg-color {
	background-color: #66cdaa;
}

.mioga-list-disabled-row-bg-color {
	background-color: #d0d0d0;
}

/* -------------------
   Workspace, to be deprecated
   ------------------- */
div#apptitle {
	font-family: sans-serif;
	background-color: #FFFFFF;
	background-position: top right;
	background-repeat: repeat-y;
	border-bottom: 1px solid black;
	background-image: url(../images/top_menu_bg.gif);
}

#apptitle-header {
	display: none;
	width: 100%;
}

#apptitle-header tr {
	width: 100%;
}

#apptitle-header td.header-title {
	width: 100%;
	text-align: center;
	font-weight: bold;
}

.top_menu tr {
	vertical-align: middle;
}

/* -------------------
   List and table rows highlighting
   ------------------- */
table.highlight tr:nth-child(even) {
	background-color: inherit;
}

table.highlight tr:nth-child(odd) {
	background-color: #EDF4FF;
}

ul.highlight li:nth-child(even) {
	background-color: inherit;
}

ul.highlight li:nth-child(odd) {
	background-color: #EDF4FF;
}
