body {
	text-align: center;
}

#main_dialog {
	text-align: auto;
	width: 44em;
	margin: 1em;
	margin-left: auto;
	margin-right: auto;
}

#main_dialog .content {
	text-align: left;
}

.form label {
	width: 15em;
}

#secret_question_answer, #secret_question {
	width: 20em;
}

#firstname, #lastname, #email, #password, #new_password_1, #new_password_2 {
	width: 20em;
}
