table.top_menu {
    margin-bottom: 1em;
}

img.edit {
    position: absolute;
    right: 26px;
    top: 5px;
}

img.delete {
    position: absolute;
    right: 5px;
    top: 5px;
}

img.validate {
    position: absolute;
    right: 68px;
    top: 5px;
}

img.decline {
    position: absolute;
    right: 47px;
    top: 5px;
}

div.news-box {
    margin: 0px;
    padding: 0px;
}

div.news, div.form {
    margin-right: 0.5em;
}

div.newsitem {
    margin-bottom: 1em;
}

div.newsitem h3.news {
    position: relative;
    zoom: 1; /* hack for IE */
    background-color: #EFEFEF;
    border: 1px gray solid;
    border-top: none;
    margin: 0 0.4em 0.3em 0.4em;
    font-size: 0.9em;
    color: black;
    padding: 0.2em;
}

span.news_id {
    position: absolute;
    right: 0.2em;
}

div.newsitem p {
    margin-left: 0.4em;
}

form input.text, form textarea {
    width: 100%;
}

form fieldset {
    border: none;
}

form p {
    text-align: right;
    padding-right: 0.5em;
}

form input.submit {
    font-weight: bold;
    border: double;
    padding: 0.2em;
}

input#header {
    font-style: italic;
}

img {
    border: 0px;
}

h2 {
    position: relative;
    zoom: 1; /* hack for IE */
}

div#options-box {
    position: fixed !important;
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 20%;
    width: 50%;
    margin-left: -25%;
}

div#edit-box {
    position: fixed !important;
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 10%;
    width: 80%;
    margin-left: -40%;
}

span.current {
    font-weight: bold;
    background-color: white;
}

span.current:hover {
    background-color: white;
}

p.error {
    text-align: left;
}

ul.hmenu {
    text-align: right;
}

.documents, .new_news, .options, .drafts {
    padding-left: 20px;
}

.documents {
    background: no-repeat url('../images/16x16/actions/documentation.png') center left;
}

.options {
    background: no-repeat url('../images/16x16/actions/document-properties.png') center left;
}

.new_news {
    background: no-repeat url('../images/16x16/actions/document-new.png') center left;
}

.drafts {
    background: no-repeat url('../images/16x16/actions/document-preview.png') center left;
}

div#disable-window {
    position: fixed !important;
    position: absolute;
    z-index: 5;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: url('../images/bg_disabled.png');
}

p.information {
    margin: 2em 1em;
    text-align: center;
    font-style: italic;
}

textarea.mceEditor {
	width: 100%;
	height: 25em;
}

div.news ul.hmenu {
	float: right;
}
