div#form {
	padding:0;
	margin-left:0.2em;
	margin-right:0.2em;
}

table.planning {
	border-collapse:collapse;
	border-spacing:1;
	width:98%;
}
table.planning div {
	margin:0;
	padding:0;
}

table.planning td {
	vertical-align:top;
	border: 1px solid #000000;
	margin:0;
	padding:0;
	white-space:nowrap;
}
table.planning th {
	vertical-align:top;
	border: 1px solid #000000;
	margin:0;
	padding:0;
	white-space:nowrap;
}

table.planning p {
	margin:0;
	padding:0;
	white-space:nowrap;
}
table.planning th.day_month {
	font-size: 0.8em;
	font-weight: bold;
	padding:2;
}
table.planning th.day_week {
	font-size: 0.8em;
	font-weight: bold;
	padding:2;
	width:16%;
}

table.planning td.header {
	text-align:center;
	font-size: 0.8em;
	font-weight: bold;
}
div.week_day {
	position:relative;
	top:0;
	left:0;
	width:100%;
}
div.task {
	position:relative;
	top:0;
	left:0;
	margin:2px;
	padding:0;
	cursor:pointer;
	overflow:hidden;
}
img.fader {
	position:absolute;
	right:0;
	top:0;
	height:100%;
	width:1em;
	z-index:1;
}
div.task p {
	margin:0;
	padding:0;
	white-space:nowrap;
}
span.month  {
	font-size: 0.9em;
	font-weight: bold;
}
span.week  {
	font-size: 0.8em;
	font-weight: bold;
}
span.hour  {
	font-size: 0.6em;
}
span.nohour  {
	font-size: 0.6em;
}
span.ident {
	font-size: 0.8em;
	font-weight: bold;
}

div.desk {
	margin:2px;
	padding:0px;
	text-align:center;
	overflow:hidden;
}

div.desk p {
	font-weight: normal;
	font-size: 0.8em;
	margin:0px;
	padding:0px;
	color: #b0b0b0;
}

div.task_graph {
	overflow:hidden;
}
div.graph {
	position:relative;
	top: 0;
	left:0;
	height:12px;
  	font-size:6px;
}
div.graph p {
	margin:0;
	padding:0;
	white-space:nowrap;
}
div.graph_task {
	height:8px;
  	font-size:6px;
	cursor:pointer;
}
div.outside {
	width:2px;
	height:2px;
	background-color:red;
}
span.outside {
	background: url('../images/16x16/actions/im-user-away.png') no-repeat top left;
	padding-left:17px;
}
img.graph {
	height:2ex;
}
div.day_task {
	height:8px;
  	font-size:6px;
	width:100%;
	cursor:pointer;
}
div.global_std {
	height:6px;
  	font-size:6px;
	width:100%;
	cursor:pointer;
}

div.global_empty {
	height:6px;
  	font-size:6px;
	width:100%;
	padding-top:3px;
}
div.global_delayed {
	height:6px;
  	font-size:6px;
	width:100%;
	cursor:pointer;
}
div.global_margin {
	height:3px;
  	font-size:3px;
	width:100%;
	cursor:pointer;
}
div.global p {
	margin:0;
	padding:0;
	white-space:nowrap;
}

tbody#users td.separator {
	cursor: move;
}

tbody#users td.user {
	cursor: move;
  border: 1px solid #8080AA;
  margin: 0.2em;
  padding: 0.1em;
  padding-left: 22px;
  background: #F6F6FF url('../images/16x16/places/user-identity.png') no-repeat 2px center;
}

div#table-copy {
	position: absolute;
}

p#time-arrows {
	position: absolute;
}

a.add {
	padding-left: 22px;
	background: url('../images/16x16/actions/list-add.png') no-repeat 2px center;
}

td.separator a {
	cursor: pointer;
  float: left;
}

td.separator hr {
	float: right;
	width: 95%;
}

table.planning td.sep {
	font-size: 0.5em !important;
}
