body {
    margin-bottom: 3em;
}

table.top_menu {
    margin-bottom: 1em;
}

td {
  vertical-align: top;
}

div.poll h3 {
    position: relative;
    zoom: 1; /* hack for IE */
    background-color: #EFEFEF;
    border: 1px gray solid;
    border-top: none;
    margin: 0 0.4em 0.3em 0.4em;
    font-size: 0.9em;
    color: black;
    padding: 0.2em;
}

form .text, form textarea {
    width: 100%;
}

h3 span.questions {
    position: absolute;
    right: 0.2em;
}

img {
    border: 0px;
}

h2 {
    position: relative;
    zoom: 1; /* hack for IE */
}

div#options-box {
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50px;
    width: 50%;
    margin-left: -25%;
}

span.current {
    font-weight: bold;
    background-color: white;
}

span.current:hover {
    background-color: white;
}

p.error {
    text-align: left;
}

ul.hmenu {
    text-align: right;
}

div#disable-window {
    position: fixed !important;
    position: absolute;
    z-index: 5;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: url('../images/bg_disabled.png');
}

div.poll_edit {
    position: fixed !important;
    position: absolute;
    z-index: 4;
    bottom: 0px;
    left: 0px;
    height: 3em;
    width: 100%;
    background-color: white;
}

div.question {
    width: 98%;
    margin: 0.5em 0.5%;
}

div.question ul {
    padding-left: 0px;
    margin-left: 0px;
    list-style-type: none;
}

ol#answers-list li {
    position: relative;
    zoom: 1; /* Hack for IE */
    margin: 0.2em 0;
}

ol#answers-list li input {
    width: 98%;
}

ol#answers-list li img {
    position: absolute;
    top: 1px;
    right: 1px;
}

a.delete {
    position: absolute;
    right: 5px;
    top: 2px;
}

a.template {
  position: absolute;
  right: 26px;
  top: 2px;
}

a.edit {
    position: absolute;
    right: 26px;
    top: 2px;
}

div.answer {
    margin-bottom: 0.5em;
}

div.answer h3 {
    text-align: right;
    padding-right: 0.5em;
    margin-bottom: 0.2em;
}

hr.spacer {
    clear: both;
    border: 0px;
    visibility: hidden;
}

table.question td {
    padding: 0.3em;
}

h3.title_bg_color {
    margin: 0px;
}

table.results {
    margin-left: 0.5em;
    margin-bottom: 1em;
    empty-cells: show;
}

table.results td {
    padding: 0.2em;
}

div.poll {
    margin: 0.4em 0.2em;
}

div.poll p {
    margin-left: 0.5em;
}

h1 {
    padding-left: 0.5em;
}

a.new_question, a.anim_poll, a.back, a.csv, a.create_poll, a.options, a.add_answer {
    padding-left: 20px;
}

a.back {
    background: url("../images/16x16/actions/go-previous.png") no-repeat top left;
}

a.create_poll {
    background: url("../images/16x16/actions/document-new.png") no-repeat top left;
}

a.anim_poll {
    background: url("../images/16x16/actions/document-edit.png") no-repeat top left;
}

a.options {
    background: url("../images/16x16/actions/configure.png") no-repeat top left;
}

a.new_question, a.add_answer {
    background: url("../images/16x16/actions/list-add.png") no-repeat top left;
}

a.csv {
    background: url("../images/16x16/actions/download.png") no-repeat top left;
}

p.information {
    margin: 2em 1em;
    text-align: center;
    font-style: italic;
}

/* ----------------------------
   Progress bars
   ---------------------------- */

.progress-box {
    height: 20px;
    width: 10em;
    border: 1px solid #6d6d6d;
    background: #c7c7c7 url("../images/pb_gradient.png") top left repeat-x;
}

.progress-bar {
    position: relative;
    zoom: 1; /* Hack for IE */
    background: url("../images/pb.png") top left repeat-x;
    height: 20px;
    border-left: 1px solid #89bcec;
    color: white;
    overflow: hidden;
}

.progress-box p {
    font-size: x-small;
    font-weight: bold;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.progress-bar img {
    position: absolute;
    top: 0px;
    right: 0px;
    border-left: 1px solid #89bcec;
}


