/* ************* */
/* Portal resources */

#menuEditor
{
	margin: 0.7em;
}

#editorForm
{
	margin: 2em;
}

span.error
{
	font-weight: bold;
	color: red;
}

div.vspace
{
	height: 18em;
}

.selectedVBox
{
	height: 100%;
	border: solid red 2px;
	cursor: pointer;
}

.selectedHBox
{
	width: 100%;
	border: solid red 2px;
	cursor: pointer;
}

.selectedBox
{
	border: solid red 2px;
	cursor: pointer;
}

.HBox
{
	height: 100%;
	cursor: pointer;
	border: solid black 1px;
}

table.dVBox
{
	width: 100%;
	border: 0px;
}

table.dHBox
{
	height: 100%;
	width: 100%;
	border: 0px;
}

.VBox
{
	width: 100%;
	cursor: pointer;
	border: solid black 1px;
}

.stdBox
{
	border: solid blue 1px;
	cursor: pointer;
}

td.tagName
{
	padding: 1px;
	position: relative;
	top: -1;
	left: -1;
	background-color: #FFF678;
	border: solid black 1px;
	vertical-align: top;
}

div.iconBox
{
	padding: 1px;
	position: relative;
	top: -1;
	left: +1;
	background-color: #FFF678;
	border: solid black 1px;
}

tr.miogletBox
{
	height: 100%;
}

td.miogletBox
{
	padding: 2px;
	vertical-align: top;
}

table.miogletBox
{
	width: 100%;
}

table.rootForm
{
	border: 0px;
}

table.editorBox
{
	border: 0px;
	width: 100%;
	text-align: center;
}

table.portalBox
{
	width: 100%;
	border: 0px;
}

table.portalBox td.title
{
	vertical-align: top;
}

table.portalBox td.title a
{
	color: #0332b2;
	font-weight: bold;
}

table.portalBox td.edit
{
	text-align: right;
}

table.portalBox td.edit img
{
	border: 0px;
}

table.portalBox td.desc
{
	color: #222266;
	align: justify;
}

/*************/
/* base mioglet */

.oddRow
{
	background: #f1f7ff;
}

.evenRow
{
	background: white;
}

table.baseGroupList, table.baseMemberList, table.baseAppList, 
table.wsWeather, table.wsLinks, table.wsConnectedUsers, 
table.fileFolder, 
table.newsNewsList, table.newsNewsItem, table.newsRSSFeed,
table.orgTaskList, table.orgTodoList
{
	width: 100%;
	border: 0px;
}

table.wsWeather td.bigIcon, table.wsWeather td.smallIcon
{
	text-align: center;
	vertical-align: middle;
	width: 70px;
}

table.wsWeather td.smallIcon
{
	width: 30px;
}

table.wsWeather td.temp
{
	text-align: left;
	vertical-align: middle;
}

table.wsWeather td.location
{
	text-align: center;
	vertical-align: middle;
}

table.newsNewsItem
{
	border: thin solid #0332b2;
}

tr.newsNewsItem
{
	background: #CEDFE8;
}

table.newsNewsItem tr.text
{
	background: white;
}

table.orgTaskList td.datetime
{
	color: #222266;
	font-size: small;
	white-space: nowrap;
}

table.orgTaskList td.name
{
	width: 100%;
	text-align: left;
}

table.orgTaskList td.task
{
	text-align: left;
}

table.orgTaskList td.task a
{
	font-size: small;
}

table.orgTodoList td.task
{
	font-size: small;
	color: #222266;
	white-space: nowrap;
}

table.orgTodoList td.name
{
	width: 100%;
	text-align: left;
}

table.orgTodoList td.editTask
{
	text-align: left;
}

table.orgTodoList td.editTask a
{
	font-size: small;
}

table.searchSearchForm
{
	border: 1px solid #8ab1cc;
	padding: 5px;
}

div.poll_mioglet ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.poll_mioglet ul li {
    margin: 0;
    padding: 0.4em;
}
