/**
 * RSS CSS
 * @author Loïc Guitaut, Alixen (info@alixen.fr)
 * @media screen
 */

.clear {
    clear: both;
}

.rss div.success {
	clear: both;
	color: green;
	margin: 0.5em;
	background-color: #CCFFCC;
	border: 2px solid green;
	text-align: center;
	line-height: 2em;
}

.rss div.form {
	margin: 0.5em;
}

.rss div.files {
    margin-left: 17em;
}

.rss div.files ul {
    list-style: none;
    padding-left: 0.5em;
    margin: 0px;
}

ul.feeds {
    width: 15em;
    float: left;
    border-right: 1px dashed gray;
}

ul.feeds, ul.feeds ul {
	list-style: none;
	padding-left: 0.5em;
    margin: 0px;
}

ul.feeds img, div.files img {
    vertical-align: middle;
}

ul.feeds li.group {
	margin-bottom: 1em;
	position: relative;
	zoom: 1; /* IE hack */
}

.rss input.checkbox, .rss ul.feeds input, .rss div.files input {
	vertical-align: middle;
}

.rss ul.feeds input {
	position: absolute;
	right: 10px;
}

.rss label {
	vertical-align: middle;
}

.rss h2.fpg {
    clear: both;
    border-bottom: 1px dashed gray;
    margin-bottom: 1em;
}