
span.highlight {
	font-weight:bold;
}

p.corrected {
	margin-left:1em;
	color:gray;
}
span.changed {
	font-weight:bold;
	font-style:italic;
}
span.accent {
	font-weight:bold;
}
span.current_page {
	font-weight:bold;
}
div.search_result {
	margin-top:1em;
	margin-left:1em;
}

table.tb_form td {
	vertical-align: middle;
}

div#terms {
	margin-left:1em;
}

div.icon_mime {
	float:left;
	padding-left:2px;
	padding-right:3px;
}
div.result {
	margin-left:50px;
	color:#404040;
}
div.separator {
	height:3px;
}
div.thumbnail {
	float:left;
	padding-right:0.3em;
}

div#pages {
	margin-top:1em;
	padding-top:1em;
	margin-left:auto;
	margin-right:auto;
}
div#count {
	padding:0;
	margin:0;
	padding-top:0.2em;
}
p.action {
	margin:0;
	padding:0;
}

p.highlight {
	width:80%;
	margin:0;
	padding:0;
	padding-left:32px;
}
p.path {
	margin:0.1em;
	padding:0;
	padding-left:32px;
}
p.info {
	font-weight:bold;
	margin:0.2em;
	margin-left:2em;
	padding:0;
}

.date {
	font-style:italic;
}
