ul.taglist {
	list-style-type: none;
}

ul.taglist li {
	display: inline-block;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
}

ul.taglist li.tag {
	padding-left: 16px;

	vertical-align: top;

	background-color: white;

	border: 1px solid #DDDDDD;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

ul.taglist li.tag.warning {
	background: transparent url('../images/16x16/status/dialog-warning.png') no-repeat scroll 2px center;
	padding-left: 20px;
}

ul.taglist li.tag span.delete {
	height: 16px;
	width: 16px;
	display: inline-block;
}

ul.taglist li.tag span.delete.with-icon {
	background: transparent url('../images/16x16/actions/edit-delete.png') no-repeat scroll right center;
}

span.add-tag {
	height: 16px;
	width: 16px;
	display: inline-block;
	background: transparent url('../images/16x16/actions/list-add.png') no-repeat scroll right center;
}

select.tag-list {
	display: none;
}

input.tag-picker {
	width: 5em;

	border: 1px solid #DDDDDD;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

input.tag-picker:focus {
	outline: none;
}

div.suggestions-container ul.suggestions {
	border: 1px solid #DDDDDD;

	list-style: none outside none;

	width: 15em;
	margin: 0px;
	padding: 0px;

	max-height: 10em;
	overflow: auto;

	margin: 0px;
	padding: 0px;

	box-shadow: 2px 2px 5px gray;
	-moz-box-shadow: 2px 2px 5px gray;
	-webkit-box-shadow: 2px 2px 5px gray;
}

div.suggestions-container ul.suggestions li {
	display: block;

	margin: 0px;
	padding: 0px;

	padding-top: 5px;
	padding-bottom: 5px;
}

div.suggestions-container ul.suggestions li.selected {
	background-color: #0332B2;
	color: white;
}

div.suggestions-container ul.suggestions li:hover {
	background-color: #0332B2;
	color: white;
}

span.apply {
	height: 16px;
	width: 16px;
	display: inline-block;
	vertical-align: text-bottom;
	margin-left: 2px;
	background: transparent url('../images/16x16/actions/dialog-ok-apply.png') no-repeat scroll right center;
}
