/* ------------------------
   Documentation
   ------------------------ */

body.doc {
  font-family: sans-serif;
  background: #ffffff;
  color: #000000;
    margin: 0px;
    padding: 0px;
  font-size:small;
}

h1.doc_title {
	text-align: center;
	font-size:120%;
}

.doc div.docblock {
	margin: 5px;
	padding: 0px;
}

h2.doc {
	margin: 0px;
	padding: 3px;
	border-bottom:1px solid #808080;
}
table.doc {
	width:95%;
	margin: 5px auto;
	border-collapse: collapse;
}
td.doc {
	width:50%;
	vertical-align:top;
	border:1px solid #808080;
	padding:10px;
}

span.classname {
	font-style: italic;
}

.docblock .color_sample {
	width:50px;
	height:50px;
}

/** standard_icons.html styles **/
.doc table.iconlist tr:hover {
	background-color: #DDDDDD;
}

.doc table.iconlist th, .doc table.iconlist td {
	width: 33%;
	vertical-align: bottom;
}

.doc table.iconlist td.icon-container {
	width: auto;
}

.doc table.iconlist h2 {
	margin-top: 2em;
}

.doc table.iconlist div.icon-container {
	display: inline-block;
	margin-right: 1em;
}

.doc table.iconlist div.icon-image, .doc table.iconlist div.icon-size {
	text-align: center;
}
