div.mini-list-selected {
	height:10em;
	width:15em;
	overflow:auto;
	border:1px solid #a0a0a0;
	margin-bottom:0.3em;
}
div.mini-list-content {
}

.ml-item {
	padding-left:20px;
}

p.ml-item:hover {
	background-color: #c0c0c0;
}
.ml-add {
	color:green;
	background:transparent url(../images/16x16/actions/edit_add.png) no-repeat scroll 0 0;
}

.ml-del {
	color:red;
	text-decoration:line-through;
	background:transparent url(../images/16x16/actions/cancel.png) no-repeat scroll 0 0;
}
