div.sbox.tabbed-dialog {
	margin: 1em;
	min-height: 500px;
	position: relative;
}

.tabbar {
	width: 75px;
	height: 100%;
	min-height: 500px;
	padding: 0px;
	margin: 0px;
	background: url(../images/sideBar.png) repeat-y scroll right top transparent;
	border-right: 1px solid #8AC4FF;
	position: relative;
	position: absolute;
	bottom: 0px;
	top: 0px;
	left: 0px;
	display: inline-block;
}

.tabbar .footer {
	width: 100%;
	position: absolute;
	bottom: 0px;
	text-align: center;
}

.tabbar .footer input {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10%;
	text-align: center;
}

.tabbar .footer input:focus {
	border-color: black;
}

.tabbed-dialog .content {
	overflow: auto;
	display: inline-block;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 80px;
	right: 0px;
}

ul.vtabs {
	list-style-type: none;
	padding: 0;
	padding-bottom: 5em;
	margin: 0;
	margin-bottom: 5em;
}

.vtabs li {
	text-align: right;
}

div.tabimage {
	margin-left: 1px;
	padding: 5px;
	height: 64px;
	width: 64px;
}

div.tabimage.disabled {
	opacity: 0.25;
	background-color: #DEDEDE;
}

div.tab.selected {
	margin-left: 1px;
	border-top: 1px outset black;
	border-left: 1px outset black;
	border-bottom: 1px outset black;
	background-color: white;
	-moz-border-radius-bottomleft: 0.4em;
	-moz-border-radius-topleft: 0.4em;
	-webkit-border-bottom-left-radius: 0.4em;
	-webkit-border-top-left-radius: 0.4em;
	border-bottom-left-radius: 0.4em;
	border-top-left-radius: 0.4em;
	width: 74px;
}

div.tab {
	height: 74px;
}
