/* Addon theme from Soria to Mioga */

.mioga .gridContainer {
	border: 1px solid #B1BADF;
	margin:5px;
}

.mioga .tabLabel {
	font-size:130%;
	font-weight:bold;
}
.mioga .dijitTabChecked .tabLabel {
	font-size:140%;
	color:#fa7d2e;
}

.mioga .dijitToolbar .dijitButtonText {
	color:#fa7d2e;
	font-size:110%;
}
.mioga .dijitGutterV {
	background-color:#ffffff;
}
.mioga .dijitGutterH {
	background-color:#ffffff;
}

.mioga .dijitBorderContainer-child {
	border-width: 0px;
}

.mioga .dijitBorderContainer-dijitContentPane {
	background-color:#FFFFFF;
	padding:0px;
}

/* mini-list */

div.mini-list-selected {
	height:10em;
	width:15em;
	overflow:auto;
	border:1px solid #a0a0a0;
	margin-bottom:0.3em;
}
div.mini-list-content {
}

.ml-item {
	padding-left:20px;
}

p.ml-item:hover {
	background-color: #c0c0c0;
}
.ml-add {
	color:green;
	background:transparent url(../images/16x16/actions/edit_add.png) no-repeat scroll 0 0;
}

.ml-del {
	color:red;
	text-decoration:line-through;
	background:transparent url(../images/16x16/actions/cancel.png) no-repeat scroll 0 0;
}

/* user choice */

.user-choice th {
	border-width:0px;
}
.user-choice input {
	width:10em;
}
.user-choice div.display-list {
	height:10em;
	overflow:auto;
	border:1px solid #a0a0a0;
	margin-bottom:0.3em;
}
.user-choice div.list-content {
}

/* SelectList */

.select-list {
	height: 87%;
	/* width:15em; */
}

.select-list .clear-both {
	height: 100%;
}

.sl-cont {
	width: 100%;
	height: 87%;
	overflow: auto;
}

.select-list .filter-btn {
	background:transparent url(../images/16x16/actions/filter.png) no-repeat scroll 0 0;
	width:16px;
	height:16px;
	float:right;
}

.select-list .sl-filter{
	height:1em;
	border:1px solid #a0a0a0;
}

.select-list .sl-list{
	height: 100%;
	border:1px solid #a0a0a0;
	margin-top:0.3em;
}

.select-list p {
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

.select-list p:hover {
	background-color: #C0C0C0;
}

.select-list p.select {
	text-align:left;
	color:blue;
	padding-left: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.select-list p.unselect {
	text-align:right;
	color:black;
	padding-right: 10px;
}
.select-list p.select-changed {
	text-align:left;
	color:green;
	padding-left: 20px;
}
.select-list p.unselect-changed {
	text-align:right;
	color:red;
	text-decoration:line-through;
	padding-right: 10px;
}
.select-list p.locked {
	background-image: url('../images/16x16/emblems/emblem-locked.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
}

.select-list ul.sort-selector {
	list-style-type: none;
	float: right;
	padding: 0px;
	margin: 0px 0px 0px 25%;
}

.select-list .sort-selector li {
	display: block;
	float: left;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.sl-header {
	font-style: italic;
	font-weight: bold;
	margin-bottom: 0.5em;
}

.sel-label {
	float: left;
	width: 44%;
	padding-bottom: 0.5em;
	padding-left: 2em;
}

.unsel-label {
	float: right;
	text-align: right;
	width: 44%;
	padding-bottom: 0.5em;
	padding-right: 2em;
}

ul.sort-selector ul.hmenu, ul.sort-selector ul.hmenu li {
	padding-top: 0px;
	padding-bottom: 0px;
}

ul.sort-selector ul.hmenu li.normal.active.sort-field a {
	padding-right: 16px;
	background: transparent url(../images/tiny_up_arrow.png) no-repeat scroll right center;
	/* content: '\25B2'; */
}

ul.sort-selector ul.hmenu li.reverse.active.sort-field a {
	padding-right: 16px;
	background: transparent url(../images/tiny_down_arrow.png) no-repeat scroll right center;
	/* content: '\25BC'; */
}

span.highlight {
	font-weight: bold;
}

/* grid */

div.grid-bool-false {
	width:16px;
	height:16px;
}

div.grid-bool-true {
	width:16px;
	height:16px;
	background:transparent url(../images/16x16/actions/agt_action_success.png) no-repeat scroll 0 0;
}
