/* dropdown menu */

/*
#displayapptitle ul.dropdown {
	font-weight:bold;
}
#displayapptitle ul.dropdown, ul.dropdown li, ul.dropdown ul {
	list-style-position: outside;
	list-style-type: none;
}
#displayapptitle ul.dropdown li {
	padding:7px 10px;
	color:#000000;
	background:#d0d0d0 url(none)  top left no-repeat;
	border:1px solid #505050;
}

#displayapptitle ul.dropdown li {
}
#displayapptitle ul.dropdown li:hover {
	background:#e0e0e0 url(none)  top left no-repeat;
}
#displayapptitle ul.dropdown a {
	display:block;
}
#displayapptitle ul.dropdown a:link {
	text-decoration:none;
	color:#ffffff;
}
#displayapptitle ul.dropdown a:visited {
	text-decoration:none;
	color:#000000;
}
*/
#displayapptitle ul.dropdown ul {
	width:14em;
}

#displayapptitle .def_icon {
	background:transparent url("../../../web/themes/default/images/16x16/apps/package_system.gif")  center left no-repeat;
	background:transparent url("../../../web/themes/default/images/16x16/apps/package_system.png")  center left no-repeat !important;
	padding-left:20px;
}
#displayapptitle .anim_icon {
	background:transparent url("../../../web/themes/default/images/16x16/apps/kuser.gif")  center left no-repeat;
	background:transparent url("../../../web/themes/default/images/16x16/apps/kuser.png")  center left no-repeat !important;
	padding-left:20px;
}
#displayapptitle .organizer_icon {
	background:transparent url("../../../web/themes/default/images/16x16/apps/date.gif")  center left no-repeat;
	background:transparent url("../../../web/themes/default/images/16x16/apps/date.png")  center left no-repeat !important;
	padding-left:20px;
}
#displayapptitle .magellan_icon {
	background:transparent url("../../../web/themes/default/images/16x16/apps/file-manager.gif")  center left no-repeat;
	background:transparent url("../../../web/themes/default/images/16x16/apps/file-manager.png")  center left no-repeat !important;
	padding-left:20px;
}
#displayapptitle #mioga_menu {
	background:transparent url("../../../web/themes/default/images/16x16/icons/favicon.gif")  center left no-repeat;
	background:transparent url("../../../web/themes/default/images/16x16/icons/favicon.png")  center left no-repeat !important;
	padding-left:20px;
}
#displayapptitle #group_menu {
	background:transparent url("../../../web/themes/default/images/16x16/icons/groups.gif")  center left no-repeat;
	background:transparent url("../../../web/themes/default/images/16x16/icons/groups.png")  center left no-repeat !important;
	padding-left:20px;
}
#displayapptitle .group_icon {
	background:transparent url("../../../web/themes/default/images/16x16/icons/groups.gif")  center left no-repeat;
	background:transparent url("../../../web/themes/default/images/16x16/icons/groups.png")  center left no-repeat !important;
	padding-left:20px;
}

#displayapptitle #exit_opt {
	background:transparent url("../../../web/themes/default/images/16x16/icons/exit.gif")  center left no-repeat;
	background:transparent url("../../../web/themes/default/images/16x16/icons/exit.png")  center left no-repeat !important;
	padding-left:20px;
}
/* 
#displayapptitle ul.dropdown li#mioga_menu {
	background:transparent url("../../../web/themes/default/images/16x16/icons/favicon.gif")  center left no-repeat;
	background:transparent url("../../../web/themes/default/images/16x16/icons/favicon.png")  center left no-repeat !important;
}
#displayapptitle ul.dropdown li#mioga_menu:hover {
	background:#e0e0e0 url("../../../web/themes/default/images/16x16/icons/favicon.gif")  center left no-repeat;
	background:#e0e0e0 url("../../../web/themes/default/images/16x16/icons/favicon.png")  center left no-repeat !important;
}
*/
/* DisplayAppTitle */

div#exviewport {
	margin:1em;
	border:1px solid gray;
	height:700px;
	padding:0px;
}

#displayapptitle {
	margin:0px;
	padding:0px;
	height:40px;
	border-bottom:1px solid #05478a;
	position:relative;
}
#displayapptitle  h1 {
	text-align:center;
	margin:0px;
	padding:0px;
}

#menu {
	/* float:left; */
	position:absolute;
	bottom:0;
	left:0;
}
#search {
	float:right;
	vertical-align:bottom;
	height:40px;
	padding-left:2px;
	padding-right:2px;
	padding-top:2px;
}
#search form,#search input,#search img,#search p {
	vertical-align:bottom;
	margin:0px;
	padding:0px;
}
#icons {
	float:right;
	height:40px;
	padding-left:2px;
	padding-right:2px;
	padding-top:2px;
}
#icons img,p {
}
#icons p {
	margin:0px;
	padding:0px;
}
