/* General */
html {
	height: 100%;
	width: 100%;
}

* {
    font-size: small;
}

body {
  font-family: sans-serif;
	background: white url('login_bg.png') top left repeat-x scroll;
  color: #0332b2;
  margin: 0px;
  padding:0px;
  font-size:small;
  height: 100%;
  width: 100%;
}

p {
	text-align: justify;
}

ul {
	list-style-type:none;
}

div.align-right {
	text-align: right;
}

.container {
	margin-top:40;
	margin-left:220px;
	margin-right:20px;
	max-width:40em;
}

/* Login-form */

/* #logo */
#logo {
	position:absolute;
	top:85px;
	left:10px;
	background: transparent url('logo_mioga2.png') center left no-repeat scroll;
	width:161px;
	height:74px;
}

/* #authen */
#authen {
	position:absolute;
	top:85px;
	right:10em;
	width:30em;
}

/* #actions */
#actions {
	position:absolute;
	top:200px;
	left:10px;
}


/* Errors */
div.error {
	color: red;
}
div.error ul {
	margin-top: 0px;
	padding: 0px;
	list-style-type: none;
}


p.secret-question {
	margin-left: 11em;
	margin-bottom: 0px;
}

ul#password-policy {
	padding-left: 2em;
}

.contact-form textarea {
	width: 28em;
}

.contact-form input {
	width: 27em;
}

/* -------------------
   Forms
   ------------------- */

.form {
    margin: 0em;
}

.form fieldset {
	border:1px solid #dddddd;
	padding: 0.5em 0.5em 0.5em;
	background-color:white;
}

.form legend {
	color:#faA857;
	font-size:1.2em;
}

.form fieldset div.form-item {
	clear:both;
	margin:0.3em 0;
}

.form label, .dojo-form label {
	float:left;
	margin-right:1em;
	text-align:right;
	width:10em;
}

.form input {
	-x-system-font:none;
	background:#FAFAFA none repeat scroll 0 0;
	border:1px solid #DDDDDD;
	font-family:arial,sans-serif;
	font-size:0.95em;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:normal;
	padding:0.15em;
	width:15em;
}

.form textarea {
	font-size: medium;
	width: 25em;
	height: 15em;
}

.form input:hover, .form input:focus {
	border-color:#C5C5C5;
}

.form .button, .form .button:visited, .form .button:hover {
	border: 1px solid black;
	padding: 0.15em;
	background-color:#ffa857;
	font-weight: bold;
	font-size:1em;
	color: #ffffff;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	width: auto;
}

ul.button_list {
	list-style-type: none;
    margin: 0px;
	margin-top: 0.5em;
    padding: 0px;
	text-align: center;
}
ul.button_list li {
	display: inline;
    margin: 0px;
    padding: 0.2em;
}

div.error-page {
	margin-top: 200px;
	width: 100%;
}

div.error-page p {
	text-align: center;
}
